# Lasso - Autoregressive and ACS only

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import TimeSeriesSplit
from sklearn.linear_model import Lasso
from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
df_orig = pd.read_csv('../../../full_dataset_unscaled.csv')
df_orig = df_orig.rename(columns={"datetime":"year-month"})
df_orig['net_job_rate']=df_orig['job_creation_rate']-df_orig['job_destruction_rate']
df_orig['apartment_for_rent_searches'] = df_orig[['apartment for rent','studio for rent','1 bedroom for rent','3 bedroom for rent']].sum(axis=1)
df_orig['multifamily_for_rent_searches'] = df_orig[['townhomes for rent','townhouse for rent','house for rent','duplex apartments for rent','condos for rent']].sum(axis=1)
df_orig['gun_searches'] = df_orig[['gun range', 'gun control', 'gun violence']].sum(axis=1)
df_orig['zri'] = np.log(df_orig['zri'])

In [3]:
gen_cols = ['zip',
 'City',
 'State',
 'Metro',
 'CountyName',
 'zri',
 'year',
 'month',
 'year-month']
acs_cols = ['percent_white',
 'percent_black',
 'percent_asian',
 'percent_hispanic',
 'percent_native_am',
 'percent_other_race',
 'percent_0_17',
 'percent_18_39',
 'percent_40_64',
 'percent_65+',
 'percent_rental_units_vacant',
 'percent_rental_units_occupied',
 'percent_graduate_deg',
 'percent_bachelors',
 'percent_associates',
 'percent_highschool',
 'percent_less_highschool',
 'percent_commute_public_transport',
 'percent_commute_less_30',
 'percent_buildings_less_10_units',
 'percent_buildings_10_19_units',
 'percent_buildings_20_49_units',
 'percent_buildings_50+_units',
 'percent_commute_30_to_59',
 'percent_commute_60_to_89',
 'percent_commute_90_more',
 'percent_new_city',
 'percent_new_unit',
 'percent_units_owner_occupied',
 'median_building_age',
 'income_per_capita',
 'poverty_rate',
 'total_pop',
 'percent_workforce_unemployed',
 'percent_work_from_home',
 'median_age',
 'percent_female',
 'gini_index',
 'percent_not_us_citizen']
acs_cols_remove=['percent_other_race','percent_40_64','percent_0_17','percent_18_39',
       'percent_65+','percent_rental_units_vacant','percent_not_us_citizen','percent_less_highschool', 'percent_buildings_less_10_units',
 'percent_commute_30_to_59',
 'percent_commute_60_to_89',
 'percent_commute_90_more', 'percent_commute_less_30','percent_graduate_deg',
                'percent_female','gini_index','percent_hispanic','percent_black','percent_bachelors',
                 'percent_asian','percent_new_city','percent_new_unit']
acs_cols_keep=list(set(acs_cols) - set(acs_cols_remove))
bikeshare_cols = ['bs_total_stations',
 'bs_total_systems',
 'has_bike_sharing']
bikeshare_cols_remove=['has_bike_sharing','bs_total_systems']
bikeshare_cols_keep=list(set(bikeshare_cols) - set(bikeshare_cols_remove))
trends_cols = ['gun range',
 'gun control',
 'gun violence',
 'job opportunities',
 'unemployment',
 'retirement',
 'layoff',
 'lgbt',
 'same sex marriage',
 'they',
 'pronouns',
 'black lives matter',
 'political correctness',
 'make america great again',
 'euthanasia',
 'getaway',
 'places to go',
 'flight tickets',
 'twitter',
 'hashtag',
 'fake news',
 'hurricane',
 'wildfire',
 'flood',
 'fire',
 "trader joe's",
 'whole foods',
 'lululemon',
 'thrift',
 'condos for rent',
 'duplex apartments for rent',
 'townhomes for rent',
 'townhouses for rent',
 'home for rent',
 'house for rent',
 'townhome for rent',
 'townhouse for rent',
 'apartment for rent',
 'studio for rent',
 '1 bedroom for rent',
 '3 bedroom for rent',
 'starbucks',
  'apartment_for_rent_searches',
  'multifamily_for_rent_searches',
  'gun_searches']
trends_cols_remove=['they','apartment for rent','studio for rent','1 bedroom for rent',
                    '3 bedroom for rent', 'townhome for rent','townhouse for rent','townhomes for rent',
                    'townhouses for rent','house for rent','home for rent','duplex apartments for rent','condos for rent',
                   'gun range', 'gun control', 'gun violence','homes for rent']
trends_cols_keep=list(set(trends_cols) - set(trends_cols_remove))
economic_cols = ['total_firms',
 'job_creation_rate',
 'job_destruction_rate',
 'startup_firms','state_local_perc', 'net_job_rate']
economic_cols_remove=['total_firms', 'job_creation_rate','job_destruction_rate',]
economic_cols_keep=list(set(economic_cols) - set(economic_cols_remove))

In [4]:
for zipcode in df_orig['zip'].unique():
    globals()[f"scaler_{zipcode}"]=StandardScaler(copy=False)
    df_filtered=df_orig[df_orig['zip']==zipcode]
    df_filtered_train = df_filtered[df_filtered['year']<2019]
    globals()[f"scaler_{zipcode}"].fit(df_filtered_train[['zri']])
    df_orig.loc[df_orig['zip']==zipcode,'zri']=globals()[f"scaler_{zipcode}"].transform(df_filtered[['zri']])

In [5]:
df_orig = df_orig[gen_cols + acs_cols_keep + bikeshare_cols_keep + economic_cols_keep + trends_cols_keep]

In [6]:
scale_columns = ['percent_buildings_50+_units', 'percent_associates',
       'percent_rental_units_occupied', 'percent_white', 'percent_highschool',
       'percent_work_from_home', 'percent_buildings_20_49_units',
       'median_building_age', 'median_age', 'percent_commute_public_transport',
       'percent_buildings_10_19_units', 'income_per_capita',
       'percent_native_am', 'percent_workforce_unemployed', 'poverty_rate',
       'percent_units_owner_occupied', 'total_pop', 'bs_total_stations',
       'startup_firms', 'state_local_perc', 'net_job_rate', 'gun_searches',
       'wildfire', 'fire', 'lgbt', 'political correctness', 'lululemon',
       'make america great again', 'same sex marriage', 'job opportunities',
       'retirement', 'black lives matter', 'flight tickets', 'pronouns',
       'trader joe\'s', 'fake news', 'hurricane', 'flood', 'whole foods',
       'twitter', 'thrift', 'hashtag', 'apartment_for_rent_searches', 'layoff',
       'starbucks', 'getaway', 'places to go', 'unemployment', 'euthanasia',
       'multifamily_for_rent_searches']

In [7]:
for zipcode in df_orig['zip'].unique():
    globals()[f"scaler_features_{zipcode}"]=StandardScaler(copy=False)
    df_filtered=df_orig[df_orig['zip']==zipcode]
    df_filtered_train = df_filtered[df_filtered['year']<2019]
    globals()[f"scaler_features_{zipcode}"].fit(df_filtered_train[scale_columns])
    df_orig.loc[df_orig['zip']==zipcode,scale_columns]=globals()[f"scaler_features_{zipcode}"].transform(df_filtered[scale_columns])

In [8]:
df_zri_acs = df_orig[gen_cols+acs_cols_keep]

In [9]:
def laggenerator(i,colname,df):
    timelist=list(df['year-month'].drop_duplicates().sort_values())[0:i]
    df.loc[:,f'{colname}_lag{i}']=df.loc[:,f'{colname}'].shift(i)
    df.loc[df['year-month'].isin(timelist),f'{colname}_lag{i}']=0
    return df

def laggenerator_diff(i,colname,df):
    timelist=list(df['year-month'].drop_duplicates().sort_values())[0:i+1]
    df.loc[:,f'{colname}_diff_lag{i}_lag{i+1}']=df.loc[:,f'{colname}'].shift(i)-df.loc[:,f'{colname}'].shift(i+1)
    df.loc[df['year-month'].isin(timelist),f'{colname}_diff_lag{i}_lag{i+1}']=0
    return df

def laggenerator_diff12(i,colname,df):
    timelist=list(df['year-month'].drop_duplicates().sort_values())[0:i+11]
    df.loc[:,f'{colname}_diff_lag{i}_lag{i+11}']=df.loc[:,f'{colname}'].shift(i)-df.loc[:,f'{colname}'].shift(i+11)
    df.loc[df['year-month'].isin(timelist),f'{colname}_diff_lag{i}_lag{i+11}']=0
    return df

#ZRI 
def lag_gen(df):
    for i in range(1,12):
        df=laggenerator(i, 'zri', df)
    df=laggenerator_diff12(1, 'zri', df)
    return df

In [10]:
#ZRI
df_zri_acs = lag_gen(df_zri_acs)

#ACS
for col in acs_cols_keep:
    df_zri_acs = laggenerator_diff12(1,col,df_zri_acs)
    df_zri_acs = laggenerator(1,col,df_zri_acs)
    df_zri_acs = laggenerator(6,col,df_zri_acs)
    df_zri_acs = laggenerator(12,col,df_zri_acs)

/Users/nikiagrawal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/nikiagrawal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/nikiagrawal/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
df = df_zri_acs[df_zri_acs['year-month']>='2015-04-01']
train = df[(df['year'] < 2019) & (df['year']>=2015)]
test = df[df['year']==2019]

train = train.sort_values(by='year-month',ascending=True)
test = test.sort_values(by='year-month',ascending=True)

save_train = train.copy()
save_test = test.copy()

In [12]:
train = train.drop(['zip','City','State','Metro','CountyName','year','month','year-month'],axis=1)
train_y = train['zri']
train_X = train.drop(['zri'],axis=1)

test_y = test['zri']
test_X = test

In [13]:
#Lasso Grid Search
fold=TimeSeriesSplit(n_splits=5)
lasso = Lasso()
grid = dict()
grid['alpha'] = [0.01,0.05,0.1,0.5,1,10]
lasso_grid = GridSearchCV(lasso, grid, cv=fold, n_jobs=-1).fit(train_X,train_y)
lasso_best = lasso_grid.best_estimator_

In [14]:
lasso_best

Lasso(alpha=0.01)

In [15]:
lasso_grid.best_score_

0.9148877024662264

In [16]:
#lasso_grid.cv_results_

In [17]:
#lasso_best = Lasso(alpha=0.01)

In [18]:
lasso_best.fit(train_X, train_y)

Lasso(alpha=0.01)

In [19]:
predictor_table=df.copy()
X_test = test_X.copy()

#loop through all month in 2019
for month in list(X_test['year-month'].drop_duplicates()):
    
    #run prediction for one month
    X_test=X_test[X_test['year-month']==month]
    X_test=X_test.drop(['zip','year','month','City','State','Metro','CountyName','year-month','zri'],axis=1)
    val=lasso_best.predict(X_test)

    #write current month prediction into predictor_table

    predictor_table.loc[predictor_table['year-month']==month,'zri']=val
        
    predictor_table=lag_gen(predictor_table)

    X_test=predictor_table[predictor_table['year']==2019]

scaled_predictions_y = X_test['zri']
temp = pd.concat([save_test['zip'],test_y],axis=1)
temp.reset_index(drop=True, inplace=True)
scaled_predictions_y.reset_index(drop=True, inplace=True)
rstable = pd.concat([temp,scaled_predictions_y],axis=1)
rstable.columns = ['zip','zri_test','zri_predicted']

for zipcode in rstable['zip'].unique():
    rstable_filtered=rstable[rstable['zip']==zipcode]
    rstable.loc[rstable['zip']==zipcode,'zri_test']=globals()[f"scaler_{zipcode}"].inverse_transform(rstable_filtered[['zri_test']])
    rstable.loc[rstable['zip']==zipcode,'zri_predicted']=globals()[f"scaler_{zipcode}"].inverse_transform(rstable_filtered[['zri_predicted']])  
rstable.loc[:,'zri_test'] = np.exp(rstable.loc[:,'zri_test'])
rstable.loc[:,'zri_predicted'] = np.exp(rstable.loc[:,'zri_predicted'])
rstable

         zip  zri_test  zri_predicted
0       1013    1099.0    1105.881169
1      14850    1545.0    1599.807255
2       6114    1139.0    1093.971265
3      90804    1957.0    1819.662792
4      59601     845.4     844.660663
...      ...       ...            ...
15607  14217     901.0     924.942251
15608  60611    2138.0    2242.849319
15609  93307     883.0     901.252195
15610  10019    3619.0    3756.431264
15611  99654    1224.0    1349.074980

[15612 rows x 3 columns]

In [20]:
#RESULTS 
r2 = r2_score(rstable['zri_test'],rstable['zri_predicted'])
rmse = sqrt(mean_squared_error(rstable['zri_test'],rstable['zri_predicted']))
print(f'R2: {r2*100}')
print(f'RMSE: {rmse}')

R2: 96.7458232074543
RMSE: 120.01756798765985

In [21]:
importance = np.abs(lasso_best.coef_)
coef = lasso_best.coef_
feature_names = train_X.columns
feature_importances= pd.DataFrame([feature_names,importance,coef]).T
feature_importances.columns = ['feature_names','coef_abs','coef']

feature_importances = feature_importances.sort_values(by='coef_abs',ascending=False)
feature_importances['Parent_feature']=feature_importances['feature_names'].apply(lambda x: x[0:x.find('_lag')] if x.find('_lag')!=-1 else x)
feature_importances['Parent_feature']=feature_importances['Parent_feature'].apply(lambda x: x[0:x.find('_diff')] if x.find('_diff')!=-1 else x)

In [22]:
feature_importances

,feature_names,coef_abs,coef,Parent_feature
17,zri_lag1,1.039399,1.039399,zri
19,zri_lag3,0.114176,-0.114176,zri
10,percent_workforce_unemployed,0.00244,-0.00244,percent_workforce_unemployed
20,zri_lag4,0.000375,-0.000375,zri
0,total_pop,0.0,0.0,total_pop
64,percent_buildings_20_49_units_lag12,0.0,0.0,percent_buildings_20_49_units
72,percent_workforce_unemployed_lag12,0.0,-0.0,percent_workforce_unemployed
71,percent_workforce_unemployed_lag6,0.0,-0.0,percent_workforce_unemployed
70,percent_workforce_unemployed_lag1,0.0,-0.0,percent_workforce_unemployed
69,percent_workforce_unemployed_diff_lag1_lag12,0.0,-0.0,percent_workforce_unemployed
68,percent_white_lag12,0.0,-0.0,percent_white
67,percent_white_lag6,0.0,-0.0,percent_white
66,percent_white_lag1,0.0,-0.0,percent_white
65,percent_white_diff_lag1_lag12,0.0,-0.0,percent_white
63,percent_buildings_20_49_units_lag6,0.0,0.0,percent_buildings_20_49_units
74,median_age_lag1,0.0,0.0,median_age
62,percent_buildings_20_49_units_lag1,0.0,0.0,percent_buildings_20_49_units
61,percent_buildings_20_49_units_diff_lag1_lag12,0.0,-0.0,percent_buildings_20_49_units
60,poverty_rate_lag12,0.0,0.0,poverty_rate
59,poverty_rate_lag6,0.0,0.0,poverty_rate
58,poverty_rate_lag1,0.0,0.0,poverty_rate
57,poverty_rate_diff_lag1_lag12,0.0,-0.0,poverty_rate
56,percent_commute_public_transport_lag12,0.0,0.0,percent_commute_public_transport
55,percent_commute_public_transport_lag6,0.0,0.0,percent_commute_public_transport
54,percent_commute_public_transport_lag1,0.0,-0.0,percent_commute_public_transport
53,percent_commute_public_transport_diff_lag1_lag12,0.0,-0.0,percent_commute_public_transport
73,median_age_diff_lag1_lag12,0.0,0.0,median_age
76,median_age_lag12,0.0,0.0,median_age
75,median_age_lag6,0.0,0.0,median_age
51,percent_highschool_lag6,0.0,-0.0,percent_highschool
95,percent_buildings_10_19_units_lag6,0.0,0.0,percent_buildings_10_19_units
94,percent_buildings_10_19_units_lag1,0.0,0.0,percent_buildings_10_19_units
93,percent_buildings_10_19_units_diff_lag1_lag12,0.0,0.0,percent_buildings_10_19_units
92,percent_units_owner_occupied_lag12,0.0,-0.0,percent_units_owner_occupied
91,percent_units_owner_occupied_lag6,0.0,-0.0,percent_units_owner_occupied
90,percent_units_owner_occupied_lag1,0.0,-0.0,percent_units_owner_occupied
89,percent_units_owner_occupied_diff_lag1_lag12,0.0,0.0,percent_units_owner_occupied
88,percent_buildings_50+_units_lag12,0.0,0.0,percent_buildings_50+_units
87,percent_buildings_50+_units_lag6,0.0,0.0,percent_buildings_50+_units
86,percent_buildings_50+_units_lag1,0.0,0.0,percent_buildings_50+_units
85,percent_buildings_50+_units_diff_lag1_lag12,0.0,0.0,percent_buildings_50+_units
84,percent_associates_lag12,0.0,0.0,percent_associates
83,percent_associates_lag6,0.0,0.0,percent_associates
82,percent_associates_lag1,0.0,0.0,percent_associates
81,percent_associates_diff_lag1_lag12,0.0,0.0,percent_associates
80,income_per_capita_lag12,0.0,-0.0,income_per_capita
79,income_per_capita_lag6,0.0,0.0,income_per_capita
78,income_per_capita_lag1,0.0,0.0,income_per_capita
77,income_per_capita_diff_lag1_lag12,0.0,0.0,income_per_capita
52,percent_highschool_lag12,0.0,-0.0,percent_highschool
48,percent_work_from_home_lag12,0.0,0.0,percent_work_from_home
50,percent_highschool_lag1,0.0,-0.0,percent_highschool
13,percent_associates,0.0,0.0,percent_associates
25,zri_lag9,0.0,0.0,zri
24,zri_lag8,0.0,0.0,zri
23,zri_lag7,0.0,0.0,zri
22,zri_lag6,0.0,-0.0,zri
21,zri_lag5,0.0,-0.0,zri
18,zri_lag2,0.0,-0.0,zri
16,percent_buildings_10_19_units,0.0,0.0,percent_buildings_10_19_units
15,percent_units_owner_occupied,0.0,-0.0,percent_units_owner_occupied
14,percent_buildings_50+_units,0.0,0.0,percent_buildings_50+_units
12,income_per_capita,0.0,0.0,income_per_capita
49,percent_highschool_diff_lag1_lag12,0.0,0.0,percent_highschool
11,median_age,0.0,0.0,median_age
9,percent_white,0.0,-0.0,percent_white
8,percent_buildings_20_49_units,0.0,0.0,percent_buildings_20_49_units
7,poverty_rate,0.0,0.0,poverty_rate
6,percent_commute_public_transport,0.0,-0.0,percent_commute_public_transport
5,percent_highschool,0.0,-0.0,percent_highschool
4,percent_work_from_home,0.0,0.0,percent_work_from_home
3,percent_rental_units_occupied,0.0,0.0,percent_rental_units_occupied
2,percent_native_am,0.0,-0.0,percent_native_am
26,zri_lag10,0.0,0.0,zri
27,zri_lag11,0.0,0.0,zri
28,zri_diff_lag1_lag12,0.0,0.0,zri
29,total_pop_diff_lag1_lag12,0.0,-0.0,total_pop
1,median_building_age,0.0,0.0,median_building_age
47,percent_work_from_home_lag6,0.0,0.0,percent_work_from_home
46,percent_work_from_home_lag1,0.0,0.0,percent_work_from_home
45,percent_work_from_home_diff_lag1_lag12,0.0,0.0,percent_work_from_home
44,percent_rental_units_occupied_lag12,0.0,0.0,percent_rental_units_occupied
43,percent_rental_units_occupied_lag6,0.0,0.0,percent_rental_units_occupied
42,percent_rental_units_occupied_lag1,0.0,0.0,percent_rental_units_occupied
41,percent_rental_units_occupied_diff_lag1_lag12,0.0,0.0,percent_rental_units_occupied
40,percent_native_am_lag12,0.0,-0.0,percent_native_am
39,percent_native_am_lag6,0.0,-0.0,percent_native_am
38,percent_native_am_lag1,0.0,-0.0,percent_native_am
37,percent_native_am_diff_lag1_lag12,0.0,0.0,percent_native_am
36,median_building_age_lag12,0.0,0.0,median_building_age
35,median_building_age_lag6,0.0,0.0,median_building_age
34,median_building_age_lag1,0.0,0.0,median_building_age
33,median_building_age_diff_lag1_lag12,0.0,0.0,median_building_age
32,total_pop_lag12,0.0,0.0,total_pop
31,total_pop_lag6,0.0,0.0,total_pop
30,total_pop_lag1,0.0,0.0,total_pop
96,percent_buildings_10_19_units_lag12,0.0,-0.0,percent_buildings_10_19_units

In [23]:
feats_agg = feature_importances[['coef_abs','Parent_feature']]
feats_agg['coef_abs'] = feats_agg['coef_abs'].astype('float')
feats_agg_abs = feats_agg.groupby('Parent_feature').agg('mean').sort_values('coef_abs',ascending=False)
feats_agg_abs

<ipython-input-23-0836822478da>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feats_agg['coef_abs'] = feats_agg['coef_abs'].astype('float')

                                  coef_abs
Parent_feature
zri                               0.096162
percent_workforce_unemployed      0.000488
median_age                        0.000000
total_pop                         0.000000
poverty_rate                      0.000000
percent_work_from_home            0.000000
percent_white                     0.000000
percent_units_owner_occupied      0.000000
percent_rental_units_occupied     0.000000
income_per_capita                 0.000000
percent_highschool                0.000000
percent_commute_public_transport  0.000000
percent_buildings_50+_units       0.000000
percent_buildings_20_49_units     0.000000
percent_buildings_10_19_units     0.000000
percent_associates                0.000000
median_building_age               0.000000
percent_native_am                 0.000000

In [24]:
title = 'FINAL_2_Auto_All'
fi = title+'_FI'
fi2 = title+'_FI_Agg_sign'
# rstable.to_csv(f'../../../zillow_orientation/Residuals/{title}.csv')
# feature_importances.to_csv(f'../../../zillow_orientation/Residuals/{fi}.csv')
# feats_agg_abs.to_csv(f'../../../zillow_orientation/Residuals/{fi2}.csv')

In [25]:
# R2: 96.78959391649265
# RMSE: 119.20767979158444
# alpha: 0.01

In [26]:
rstable

         zip  zri_test  zri_predicted
0       1013    1099.0    1105.881169
1      14850    1545.0    1599.807255
2       6114    1139.0    1093.971265
3      90804    1957.0    1819.662792
4      59601     845.4     844.660663
...      ...       ...            ...
15607  14217     901.0     924.942251
15608  60611    2138.0    2242.849319
15609  93307     883.0     901.252195
15610  10019    3619.0    3756.431264
15611  99654    1224.0    1349.074980

[15612 rows x 3 columns]

In [27]:
rstable['residual']=rstable['zri_predicted']-rstable['zri_test']
rstable['residual_squared']=rstable['residual'].map(lambda x: x**2)
rstable

         zip  zri_test  zri_predicted    residual  residual_squared
0       1013    1099.0    1105.881169    6.881169         47.350488
1      14850    1545.0    1599.807255   54.807255       3003.835221
2       6114    1139.0    1093.971265  -45.028735       2027.586959
3      90804    1957.0    1819.662792 -137.337208      18861.508576
4      59601     845.4     844.660663   -0.739337          0.546620
...      ...       ...            ...         ...               ...
15607  14217     901.0     924.942251   23.942251        573.231365
15608  60611    2138.0    2242.849319  104.849319      10993.379770
15609  93307     883.0     901.252195   18.252195        333.142606
15610  10019    3619.0    3756.431264  137.431264      18887.352392
15611  99654    1224.0    1349.074980  125.074980      15643.750626

[15612 rows x 5 columns]

In [28]:
rmse_table=rstable.groupby('zip')[['residual_squared']].agg(['sum','count'])
rmse_table['residual_avgd']=rmse_table['residual_squared']['sum']/rmse_table['residual_squared']['count']
rmse_table['residual_avgd']=rmse_table['residual_avgd'].apply(lambda x: x**0.5)
rmse_table['residual_avgd'].mean()

97.97608504073537

In [29]:
rmse_table

      residual_squared       residual_avgd
                   sum count
zip
1013      19876.686589    12     40.698778
1020      60814.436722    12     71.188972
1040      37020.536478    12     55.543179
1085      35497.212714    12     54.388428
1104      30574.509867    12     50.476488
...                ...   ...           ...
99207    280461.505675    12    152.878357
99501     64271.271413    12     73.184283
99504    127838.052688    12    103.214200
99508     67571.693681    12     75.039819
99654     51330.814282    12     65.403118

[1301 rows x 3 columns]

In [30]:
#RESULTS 
r2 = r2_score(rstable['zri_test'],rstable['zri_predicted'])
rmse = sqrt(mean_squared_error(rstable['zri_test'],rstable['zri_predicted']))
print(f'R2: {r2*100}')
print(f'RMSE: {rmse}')

R2: 96.7458232074543
RMSE: 120.01756798765985

In [31]:
# rstable.to_csv(f'../../../zillow_orientation/Residuals/{title}_rstable.csv')
# rmse_table.to_csv(f'../../../zillow_orientation/Residuals/{title}_rmse.csv')