In [1]:
import pandas as pd
import numpy as np

In [2]:
zri = pd.read_csv('../data/zri_multifamily_v2.csv')

In [3]:
zri.head()

    zip      City State        Metro      CountyName year-month    zri
0  1013  Chicopee    MA  Springfield  Hampden County    2014-01  928.0
1  1013  Chicopee    MA  Springfield  Hampden County    2014-02  931.0
2  1013  Chicopee    MA  Springfield  Hampden County    2014-03  934.0
3  1013  Chicopee    MA  Springfield  Hampden County    2014-04  929.0
4  1013  Chicopee    MA  Springfield  Hampden County    2014-05  929.0

In [5]:
zri['zip'].unique().shape

(1302,)

In [6]:
acs = pd.read_csv('../data/

       0
0  95139
1  66220
2  34201
3  92121
4  30363