In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
from datetime import datetime
import yfinance as yf

In [3]:
pd.set_option('display.max_rows', 100)

In [5]:
acs_df=pd.read_csv('../data/acs_5yr_merged.csv')
zillow_df=pd.read_csv('../data/Zip_Zri_AllHomesPlusMultifamily.csv')

In [7]:
print(acs_df.columns.tolist())

['geo_id', 'do_date', 'nonfamily_households', 'family_households', 'median_year_structure_built', 'rent_burden_not_computed', 'rent_over_50_percent', 'rent_40_to_50_percent', 'rent_35_to_40_percent', 'rent_30_to_35_percent', 'rent_25_to_30_percent', 'rent_20_to_25_percent', 'rent_15_to_20_percent', 'rent_10_to_15_percent', 'rent_under_10_percent', 'total_pop', 'male_pop', 'female_pop', 'median_age', 'white_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'amerindian_pop', 'other_race_pop', 'two_or_more_races_pop', 'not_hispanic_pop', 'commuters_by_public_transportation', 'households', 'median_income', 'income_per_capita', 'housing_units', 'vacant_housing_units', 'vacant_housing_units_for_rent', 'vacant_housing_units_for_sale', 'median_rent', 'percent_income_spent_on_rent', 'owner_occupied_housing_units', 'million_dollar_housing_units', 'mortgaged_housing_units', 'families_with_young_children', 'two_parent_families_with_young_children', 'two_parents_in_labor_force_families_with_young_children', 'two_parents_father_in_labor_force_families_with_young_children', 'two_parents_mother_in_labor_force_families_with_young_children', 'two_parents_not_in_labor_force_families_with_young_children', 'one_parent_families_with_young_children', 'father_one_parent_families_with_young_children', 'father_in_labor_force_one_parent_families_with_young_children', 'commute_10_14_mins', 'commute_15_19_mins', 'commute_20_24_mins', 'commute_25_29_mins', 'commute_30_34_mins', 'commute_45_59_mins', 'aggregate_travel_time_to_work', 'income_less_10000', 'income_10000_14999', 'income_15000_19999', 'income_20000_24999', 'income_25000_29999', 'income_30000_34999', 'income_35000_39999', 'income_40000_44999', 'income_45000_49999', 'income_50000_59999', 'income_60000_74999', 'income_75000_99999', 'income_100000_124999', 'income_125000_149999', 'income_150000_199999', 'income_200000_or_more', 'renter_occupied_housing_units_paying_cash_median_gross_rent', 'owner_occupied_housing_units_lower_value_quartile', 'owner_occupied_housing_units_median_value', 'owner_occupied_housing_units_upper_value_quartile', 'married_households', 'occupied_housing_units', 'housing_units_renter_occupied', 'dwellings_1_units_detached', 'dwellings_1_units_attached', 'dwellings_2_units', 'dwellings_3_to_4_units', 'dwellings_5_to_9_units', 'dwellings_10_to_19_units', 'dwellings_20_to_49_units', 'dwellings_50_or_more_units', 'mobile_homes', 'housing_built_2005_or_later', 'housing_built_2000_to_2004', 'housing_built_1939_or_earlier', 'male_under_5', 'male_5_to_9', 'male_10_to_14', 'male_15_to_17', 'male_18_to_19', 'male_20', 'male_21', 'male_22_to_24', 'male_25_to_29', 'male_30_to_34', 'male_35_to_39', 'male_40_to_44', 'male_45_to_49', 'male_50_to_54', 'male_55_to_59', 'male_60_61', 'male_62_64', 'male_65_to_66', 'male_67_to_69', 'male_70_to_74', 'male_75_to_79', 'male_80_to_84', 'male_85_and_over', 'female_under_5', 'female_5_to_9', 'female_10_to_14', 'female_15_to_17', 'female_18_to_19', 'female_20', 'female_21', 'female_22_to_24', 'female_25_to_29', 'female_30_to_34', 'female_35_to_39', 'female_40_to_44', 'female_45_to_49', 'female_50_to_54', 'female_55_to_59', 'female_60_to_61', 'female_62_to_64', 'female_65_to_66', 'female_67_to_69', 'female_70_to_74', 'female_75_to_79', 'female_80_to_84', 'female_85_and_over', 'white_including_hispanic', 'black_including_hispanic', 'amerindian_including_hispanic', 'asian_including_hispanic', 'commute_5_9_mins', 'commute_35_39_mins', 'commute_40_44_mins', 'commute_60_89_mins', 'commute_90_more_mins', 'households_retirement_income', 'armed_forces', 'civilian_labor_force', 'employed_pop', 'unemployed_pop', 'not_in_labor_force', 'pop_16_over', 'pop_in_labor_force', 'asian_male_45_54', 'asian_male_55_64', 'black_male_45_54', 'black_male_55_64', 'hispanic_male_45_54', 'hispanic_male_55_64', 'white_male_45_54', 'white_male_55_64', 'bachelors_degree_2', 'bachelors_degree_or_higher_25_64', 'children', 'children_in_single_female_hh', 'commuters_by_bus', 'commuters_by_car_truck_van', 'commuters_by_carpool', 'commuters_by_subway_or_elevated', 'commuters_drove_alone', 'different_house_year_ago_different_city', 'different_house_year_ago_same_city', 'employed_agriculture_forestry_fishing_hunting_mining', 'employed_arts_entertainment_recreation_accommodation_food', 'employed_construction', 'employed_education_health_social', 'employed_finance_insurance_real_estate', 'employed_information', 'employed_manufacturing', 'employed_other_services_not_public_admin', 'employed_public_administration', 'employed_retail_trade', 'employed_science_management_admin_waste', 'employed_transportation_warehousing_utilities', 'employed_wholesale_trade', 'female_female_households', 'four_more_cars', 'gini_index', 'graduate_professional_degree', 'group_quarters', 'high_school_including_ged', 'households_public_asst_or_food_stamps', 'in_grades_1_to_4', 'in_grades_5_to_8', 'in_grades_9_to_12', 'in_school', 'in_undergrad_college', 'less_than_high_school_graduate', 'male_45_64_associates_degree', 'male_45_64_bachelors_degree', 'male_45_64_graduate_degree', 'male_45_64_less_than_9_grade', 'male_45_64_grade_9_12', 'male_45_64_high_school', 'male_45_64_some_college', 'male_45_to_64', 'male_male_households', 'management_business_sci_arts_employed', 'no_car', 'no_cars', 'not_us_citizen_pop', 'occupation_management_arts', 'occupation_natural_resources_construction_maintenance', 'occupation_production_transportation_material', 'occupation_sales_office', 'occupation_services', 'one_car', 'two_cars', 'three_cars', 'pop_25_64', 'pop_determined_poverty_status', 'population_1_year_and_over', 'population_3_years_over', 'poverty', 'sales_office_employed', 'some_college_and_associates_degree', 'walked_to_work', 'worked_at_home', 'workers_16_and_over', 'associates_degree', 'bachelors_degree', 'high_school_diploma', 'less_one_year_college', 'masters_degree', 'one_year_more_college', 'pop_25_years_over', 'commute_35_44_mins', 'commute_60_more_mins', 'commute_less_10_mins', 'commuters_16_over', 'hispanic_any_race', 'pop_5_years_over', 'speak_only_english_at_home', 'speak_spanish_at_home', 'speak_spanish_at_home_low_english', 'pop_15_and_over', 'pop_never_married', 'pop_now_married', 'pop_separated', 'pop_widowed', 'pop_divorced']

In [12]:
acs_df[['geo_id', 'do_date', 'income_less_10000', 'income_10000_14999', 
        'income_15000_19999', 'income_20000_24999', 'income_25000_29999', 
        'income_30000_34999', 'income_35000_39999', 'income_40000_44999', 
        'income_45000_49999', 'income_50000_59999', 'income_60000_74999', 
        'income_75000_99999', 'income_100000_124999', 'income_125000_149999', 
        'income_150000_199999', 'income_200000_or_more']]

,geo_id,do_date,income_less_10000,income_10000_14999,income_15000_19999,income_20000_24999,income_25000_29999,income_30000_34999,income_35000_39999,income_40000_44999,income_45000_49999,income_50000_59999,income_60000_74999,income_75000_99999,income_100000_124999,income_125000_149999,income_150000_199999,income_200000_or_more
0,601,20072011,2232.0,589.0,408.0,422.0,302.0,278.0,219.0,185.0,162.0,134.0,113.0,122.0,9.0,6.0,12.0,17.0
1,601,20082012,2351.0,585.0,455.0,381.0,333.0,274.0,281.0,126.0,149.0,208.0,121.0,156.0,14.0,5.0,24.0,14.0
2,601,20092013,2659.0,613.0,471.0,374.0,353.0,210.0,274.0,140.0,74.0,233.0,133.0,140.0,39.0,21.0,23.0,23.0
3,601,20102014,2797.0,684.0,407.0,343.0,262.0,263.0,252.0,125.0,113.0,232.0,137.0,102.0,40.0,20.0,20.0,23.0
4,601,20112015,2873.0,716.0,448.0,318.0,262.0,252.0,266.0,118.0,135.0,231.0,138.0,86.0,59.0,22.0,20.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264955,99929,20102014,57.0,89.0,56.0,96.0,55.0,42.0,39.0,101.0,72.0,111.0,101.0,134.0,53.0,41.0,82.0,20.0
264956,99929,20112015,57.0,77.0,54.0,105.0,66.0,44.0,43.0,75.0,51.0,89.0,107.0,152.0,90.0,30.0,43.0,33.0
264957,99929,20122016,38.0,52.0,45.0,112.0,47.0,35.0,48.0,69.0,47.0,110.0,97.0,115.0,106.0,43.0,48.0,25.0
264958,99929,20132017,41.0,53.0,49.0,88.0,76.0,33.0,51.0,54.0,21.0,119.0,107.0,135.0,113.0,76.0,39.0,20.0
264959,99929,20142018,40.0,35.0,62.0,66.0,90.0,39.0,57.0,48.0,27.0,102.0,123.0,139.0,100.0,64.0,41.0,41.0

In [62]:
zhi_df=pd.read_csv('../data/Zip_Zri_AllHomesPlusMultifamily.csv')
zhi_df=zhi_df.reset_index()
zhi_df_tmp=zhi_df.drop(['RegionID','RegionName','City','State','Metro','CountyName','SizeRank'],axis=1)
zhi_df_pivot=pd.DataFrame(zhi_df_tmp.stack())
zhi_df_pivot=zhi_df_pivot[1:].reset_index()
zhi_df_pivot.columns=['index','Date','Value']
zhi_reshaped=zhi_df_pivot.merge(zhi_df[['index','RegionID','RegionName','City','State','Metro','CountyName','SizeRank']],on='index')
zhi_reshaped=zhi_reshaped.drop('index',axis=1)

In [78]:
zhi_reshaped.dtypes

Date           object
Value         float64
RegionID        int64
RegionName      int64
City           object
State          object
Metro          object
CountyName     object
SizeRank        int64
dtype: object

In [69]:
zipcodes = zhi_reshaped['RegionName'].unique().sort()

In [171]:
zipcodes

array([ 1001,  1002,  1005, ..., 99712, 99801, 99901])

In [143]:
econ_zip_df=pd.read_csv('../../data/CAINC30/CAINC30__ALL_AREAS_1969_2019.csv', low_memory=False)

In [144]:
econ_zip_df.head()
print(econ_zip_df.columns.tolist())

['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode', 'IndustryClassification', 'Description', 'Unit', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

In [145]:
econ_zip_df = econ_zip_df[['GeoFIPS', 'GeoName', 'Region', 'Description', 
             'Unit', '2010', '2011', '2012', '2013', '2014', 
             '2015', '2016', '2017', '2018', '2019']]

In [146]:
pd.unique(econ_zip_df['Region'])

array([' ', '5', '8', '6', '7', '1', '2', '3', '4', nan], dtype=object)

In [147]:
econ_zip_df['GeoName'].unique().shape

(3199,)

In [148]:
econ_zip_df['Description'].unique()

array(['Personal income (thousands of dollars)',
       ' Net earnings by place of residence',
       ' Personal current transfer receipts',
       '  Income maintenance benefits 1/',
       '  Unemployment insurance compensation', '  Retirement and other',
       ' Dividends, interest, and rent 2/', ' Population (persons) 3/',
       ' Per capita personal income 4/', ' Per capita net earnings 4/',
       ' Per capita personal current transfer receipts 4/',
       '  Per capita income maintenance benefits 4/',
       '  Per capita unemployment insurance compensation 4/',
       '  Per capita retirement and other 4/',
       ' Per capita dividends, interest, and rent 4/',
       ' Earnings by place of work', '  Wages and salaries',
       '  Supplements to wages and salaries',
       '   Employer contributions for employee pension and insurance funds 5/',
       '   Employer contributions for government social insurance',
       "  Proprietors' income", "   Farm proprietors' income",
       "   Nonfarm proprietors' income",
       'Total employment (number of jobs)', ' Wage and salary employment',
       ' Proprietors employment', '  Farm proprietors employment 6/',
       '  Nonfarm proprietors employment',
       'Average earnings per job (dollars)',
       ' Average wages and salaries',
       " Average nonfarm proprietors' income", nan], dtype=object)

In [149]:
econ_zip_df = econ_zip_df.drop(econ_zip_df.index[99138:99142])

In [150]:
econ_zip_df.Description.unique()

array(['Personal income (thousands of dollars)',
       ' Net earnings by place of residence',
       ' Personal current transfer receipts',
       '  Income maintenance benefits 1/',
       '  Unemployment insurance compensation', '  Retirement and other',
       ' Dividends, interest, and rent 2/', ' Population (persons) 3/',
       ' Per capita personal income 4/', ' Per capita net earnings 4/',
       ' Per capita personal current transfer receipts 4/',
       '  Per capita income maintenance benefits 4/',
       '  Per capita unemployment insurance compensation 4/',
       '  Per capita retirement and other 4/',
       ' Per capita dividends, interest, and rent 4/',
       ' Earnings by place of work', '  Wages and salaries',
       '  Supplements to wages and salaries',
       '   Employer contributions for employee pension and insurance funds 5/',
       '   Employer contributions for government social insurance',
       "  Proprietors' income", "   Farm proprietors' income",
       "   Nonfarm proprietors' income",
       'Total employment (number of jobs)', ' Wage and salary employment',
       ' Proprietors employment', '  Farm proprietors employment 6/',
       '  Nonfarm proprietors employment',
       'Average earnings per job (dollars)',
       ' Average wages and salaries',
       " Average nonfarm proprietors' income"], dtype=object)

In [151]:
UniqueDesc = econ_zip_df.Description.unique()

#create a data frame dictionary to store your data frames
DataFrameDict = {elem : pd.DataFrame for elem in UniqueDesc}

for key in DataFrameDict.keys():
    DataFrameDict[key] = econ_zip_df[:][econ_zip_df.Description == key]
    
DataFrameDict['Personal income (thousands of dollars)']

,GeoFIPS,GeoName,Region,Description,Unit,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,Personal income (thousands of dollars),Thousands of dollars,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
31,"""01000""",Alabama,5,Personal income (thousands of dollars),Thousands of dollars,161516561,167942757,172804075,174415420,180457683,188711443,192281933,199999756,208752683,216449038
62,"""01001""","Autauga, AL",5,Personal income (thousands of dollars),Thousands of dollars,1826597,1896347,1927064,1944878,2019288,2131416,2203281,2276561,2360366,2453617
93,"""01003""","Baldwin, AL",5,Personal income (thousands of dollars),Thousands of dollars,6618292,7067055,7274734,7448839,7887975,8444952,8956578,9471242,10065966,10600260
124,"""01005""","Barbour, AL",5,Personal income (thousands of dollars),Thousands of dollars,758882,770008,766319,810596,799273,838910,824046,838184,872189,882834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98983,"""94000""",Plains,4,Personal income (thousands of dollars),Thousands of dollars,814191155,874230144,924061444,934446275,975636789,1009285884,1022335625,1055029341,1107629838,1146514617
99014,"""95000""",Southeast,5,Personal income (thousands of dollars),Thousands of dollars,2865792540,3020197130,3157295131,3170413258,3353410112,3528554087,3632818811,3818754861,4022275849,4173677027
99045,"""96000""",Southwest,6,Personal income (thousands of dollars),Thousands of dollars,1388316272,1504832700,1602000506,1642078939,1760489862,1802899581,1807841234,1924648064,2051026751,2144763946
99076,"""97000""",Rocky Mountain,7,Personal income (thousands of dollars),Thousands of dollars,406178027,438915419,467719020,485557545,522128637,550687735,565286733,602994187,647600678,680390074
99107,"""98000""",Far West,8,Personal income (thousands of dollars),Thousands of dollars,2247914751,2391810892,2546514921,2590918366,2777672872,2980130923,3118260649,3279057722,3472097346,3634009401

In [162]:
econ_zip_df[DataFrameDict['Personal income (thousands of dollars)']['GeoFIPS'] == 10016]

KeyError: False

In [35]:
# gb = econ_zip_df.groupby('Description')    
# [gb.get_group(x) for x in gb.groups]

[        GeoFIPS         GeoName Region TableName  LineCode  \
 18      "00000"   United States          CAINC30     201.0
 49      "01000"         Alabama      5   CAINC30     201.0
 80      "01001"     Autauga, AL      5   CAINC30     201.0
 111     "01003"     Baldwin, AL      5   CAINC30     201.0
 142     "01005"     Barbour, AL      5   CAINC30     201.0
 ...         ...             ...    ...       ...       ...
 99001   "94000"          Plains      4   CAINC30     201.0
 99032   "95000"       Southeast      5   CAINC30     201.0
 99063   "96000"       Southwest      6   CAINC30     201.0
 99094   "97000"  Rocky Mountain      7   CAINC30     201.0
 99125   "98000"        Far West      8   CAINC30     201.0

       IndustryClassification  \
 18                       ...
 49                       ...
 80                       ...
 111                      ...
 142                      ...
 ...                      ...
 99001                    ...
 99032                    ...
 99063                    ...
 99094                    ...
 99125                    ...

                                              Description  \
 18        Employer contributions for employee pension...
 49        Employer contributions for employee pension...
 80        Employer contributions for employee pension...
 111       Employer contributions for employee pension...
 142       Employer contributions for employee pension...
 ...                                                  ...
 99001     Employer contributions for employee pension...
 99032     Employer contributions for employee pension...
 99063     Employer contributions for employee pension...
 99094     Employer contributions for employee pension...
 99125     Employer contributions for employee pension...

                        Unit        2010        2011        2012        2013  \
 18     Thousands of dollars  1078294000  1101118000  1119860000  1188894000
 49     Thousands of dollars    13626846    13889937    13038288    13580220
 80     Thousands of dollars       69602       70454       63235       65564
 111    Thousands of dollars      332314      337777      316018      338056
 142    Thousands of dollars       64811       63676       57072       58657
 ...                     ...         ...         ...         ...         ...
 99001  Thousands of dollars    70222038    71673692    71701717    76278989
 99032  Thousands of dollars   234600638   232529456   239784022   251859506
 99063  Thousands of dollars   108055267   108838125   113777774   122808834
 99094  Thousands of dollars    33304573    33399364    34300290    37716464
 99125  Thousands of dollars   195813324   207199135   208341081   224502316

              2014        2015        2016        2017        2018        2019
 18     1221625000  1264870000  1287533000  1339932000  1424212000  1466990000
 49       14477893    15013507    15606971    15769528    16346989    16974414
 80          71495       74881       79156       79904       83285       87974
 111        369027      393403      418561      427891      459450      488333
 142         60593       61385       61009       60887       63786       64227
 ...           ...         ...         ...         ...         ...         ...
 99001    79792066    81642464    83105379    86930606    92912320    95192940
 99032   260111246   268657420   273160869   285182898   303911696   313227501
 99063   128341811   133762718   136739203   142920780   154122874   159994464
 99094    38847736    40003481    41345408    43753459    47457852    49183581
 99125   233286291   243648597   252806166   263243983   276082440   284977477

 [3198 rows x 18 columns],
         GeoFIPS         GeoName Region TableName  LineCode  \
 19      "00000"   United States          CAINC30     202.0
 50      "01000"         Alabama      5   CAINC30     202.0
 81      "01001"     Autauga, AL      5   CAINC30     202.0
 112     "01003"     Baldwin, AL      5   CAINC30     202.0
 143     "01005"     Barbour, AL      5   CAINC30     202.0
 ...         ...             ...    ...       ...       ...
 99002   "94000"          Plains      4   CAINC30     202.0
 99033   "95000"       Southeast      5   CAINC30     202.0
 99064   "96000"       Southwest      6   CAINC30     202.0
 99095   "97000"  Rocky Mountain      7   CAINC30     202.0
 99126   "98000"        Far West      8   CAINC30     202.0

       IndustryClassification  \
 19                       ...
 50                       ...
 81                       ...
 112                      ...
 143                      ...
 ...                      ...
 99002                    ...
 99033                    ...
 99064                    ...
 99095                    ...
 99126                    ...

                                              Description  \
 19        Employer contributions for government socia...
 50        Employer contributions for government socia...
 81        Employer contributions for government socia...
 112       Employer contributions for government socia...
 143       Employer contributions for government socia...
 ...                                                  ...
 99002     Employer contributions for government socia...
 99033     Employer contributions for government socia...
 99064     Employer contributions for government socia...
 99095     Employer contributions for government socia...
 99126     Employer contributions for government socia...

                        Unit       2010       2011       2012       2013  \
 19     Thousands of dollars  468150000  491831000  512391000  525398000
 50     Thousands of dollars    5901730    6076987    6163565    6266017
 81     Thousands of dollars      28864      29488      28684      29165
 112    Thousands of dollars     155407     161730     164462     172152
 143    Thousands of dollars      24879      25265      23998      24103
 ...                     ...        ...        ...        ...        ...
 99002  Thousands of dollars   32154985   33732448   34983547   36103957
 99033  Thousands of dollars  102841703  107583554  111741036  114081321
 99064  Thousands of dollars   49769751   52944761   56053138   58064146
 99095  Thousands of dollars   16814275   17945195   18763935   19234588
 99126  Thousands of dollars   82599463   86936709   91061025   94282990

             2014       2015       2016       2017       2018       2019
 19     545495000  568443000  580237000  604095000  624172000  648023000
 50       6371156    6584758    6612178    6824284    7108743    7407701
 81         29497      30631      31626      32721      34440      36175
 112       179425     190420     196249     206614     221648     237189
 143        22770      23777      22547      22827      25091      25107
 ...          ...        ...        ...        ...        ...        ...
 99002   37195820   38549746   39008900   40228717   41362226   42722927
 99033  118115350  123063827  125192730  129545108  133911242  139936373
 99064   60621867   63284913   64252987   67367208   70046320   72819329
 99095   20395749   21201049   21711723   22987216   23952929   25115553
 99126   99111986  104835781  108894612  114319663  119444580  125440775

 [3198 rows x 18 columns],
         GeoFIPS         GeoName Region TableName  LineCode  \
 21      "00000"   United States          CAINC30     220.0
 52      "01000"         Alabama      5   CAINC30     220.0
 83      "01001"     Autauga, AL      5   CAINC30     220.0
 114     "01003"     Baldwin, AL      5   CAINC30     220.0
 145     "01005"     Barbour, AL      5   CAINC30     220.0
 ...         ...             ...    ...       ...       ...
 99004   "94000"          Plains      4   CAINC30     220.0
 99035   "95000"       Southeast      5   CAINC30     220.0
 99066   "96000"       Southwest      6   CAINC30     220.0
 99097   "97000"  Rocky Mountain      7   CAINC30     220.0
 99128   "98000"        Far West      8   CAINC30     220.0

       IndustryClassification                  Description  \
 21                       ...     Farm proprietors' income
 52                       ...     Farm proprietors' income
 83                       ...     Farm proprietors' income
 114                      ...     Farm proprietors' income
 145                      ...     Farm proprietors' income
 ...                      ...                          ...
 99004                    ...     Farm proprietors' income
 99035                    ...     Farm proprietors' income
 99066                    ...     Farm proprietors' income
 99097                    ...     Farm proprietors' income
 99128                    ...     Farm proprietors' income

                        Unit      2010      2011      2012      2013      2014  \
 21     Thousands of dollars  43664000  70443000  65035000  97150000  74724000
 52     Thousands of dollars    564829    198328    453576   1833754   1226354
 83     Thousands of dollars      6011      7475      4304     15925      6687
 114    Thousands of dollars     -8550     -3372       122     16125     -1006
 145    Thousands of dollars     18540     10103     14851     63794     33893
 ...                     ...       ...       ...       ...       ...       ...
 99004  Thousands of dollars  14766972  26561932  23913956  30753321  20372878
 99035  Thousands of dollars   6586476   7010388   9682209  17876614  12599900
 99066  Thousands of dollars   3337360   3875676   3471421   6580607   6429068
 99097  Thousands of dollars   1773267   3218452   2698094   3419414   3559499
 99128  Thousands of dollars   8207952  12337611  13261484  15569912  17810889

            2015      2016      2017      2018      2019
 21     62759000  41808000  46205000  47100000  56722000
 52      1337134    663795   1077402    934252    464584
 83         5805      7866     13158     13056     12239
 114       -1838       646      5196      6032      8618
 145       36156     21737     27492     25022     15878
 ...         ...       ...       ...       ...       ...
 99004  14453977   9271021   7870764  10993292  15714403
 99035  12183966   7071333  11929242   8645752   8301442
 99066   8121263   3590920   4345602   4226771   4940008
 99097   3929947   2544498   1350782   2184874   3547709
 99128  18730273  14624620  13890846  13504574  16389718

 [3198 rows x 18 columns],
         GeoFIPS         GeoName Region TableName  LineCode  \
 22      "00000"   United States          CAINC30     230.0
 53      "01000"         Alabama      5   CAINC30     230.0
 84      "01001"     Autauga, AL      5   CAINC30     230.0
 115     "01003"     Baldwin, AL      5   CAINC30     230.0
 146     "01005"     Barbour, AL      5   CAINC30     230.0
 ...         ...             ...    ...       ...       ...
 99005   "94000"          Plains      4   CAINC30     230.0
 99036   "95000"       Southeast      5   CAINC30     230.0
 99067   "96000"       Southwest      6   CAINC30     230.0
 99098   "97000"  Rocky Mountain      7   CAINC30     230.0
 99129   "98000"        Far West      8   CAINC30     230.0

       IndustryClassification                     Description  \
 22                       ...     Nonfarm proprietors' income
 53                       ...     Nonfarm proprietors' income
 84                       ...     Nonfarm proprietors' income
 115                      ...     Nonfarm proprietors' income
 146                      ...     Nonfarm proprietors' income
 ...                      ...                             ...
 99005                    ...     Nonfarm proprietors' income
 99036                    ...     Nonfarm proprietors' income
 99067                    ...     Nonfarm proprietors' income
 99098                    ...     Nonfarm proprietors' income
 99129                    ...     Nonfarm proprietors' income

                        Unit        2010        2011        2012        2013  \
 22     Thousands of dollars  1069722000  1164383000  1286430000  1315250000
 53     Thousands of dollars     9656632    10695572    11838300    11958587
 84     Thousands of dollars       56176       68301       81871       84800
 115    Thousands of dollars      319855      350746      408413      458605
 146    Thousands of dollars       38758       31935       34635       33717
 ...                     ...         ...         ...         ...         ...
 99005  Thousands of dollars    64277962    71433995    83302791    83116664
 99036  Thousands of dollars   197389519   211113308   233922092   225920437
 99067  Thousands of dollars   152154957   182283135   201315862   215892009
 99098  Thousands of dollars    28332470    33772599    38818714    47530522
 99129  Thousands of dollars   213194045   227751933   253471506   255493567

              2014        2015        2016        2017        2018        2019
 22     1377896000  1366720000  1388742000  1467437000  1542935000  1608019000
 53       11866792    11558062    11676433    12358772    13345463    13880895
 84          84678       89688       89839       90952       90080       93543
 115        509217      541798      600475      598229      638778      664053
 146         37727       35650       35825       35290       39665       41750
 ...           ...         ...         ...         ...         ...         ...
 99005    87159294    87324249    83581331    84455203    85248627    88672002
 99036   247933314   251414648   256005591   269924523   285924342   297987514
 99067   236673101   203268379   187003279   217777140   239567876   247870411
 99098    53503063    52323496    49372902    55546831    60791215    62982704
 99129   260673439   269081714   280366640   289691115   301873397   315954368

 [3198 rows x 18 columns],
         GeoFIPS         GeoName Region TableName  LineCode  \
 26      "00000"   United States          CAINC30     270.0
 57      "01000"         Alabama      5   CAINC30     270.0
 88      "01001"     Autauga, AL      5   CAINC30     270.0
 119     "01003"     Baldwin, AL      5   CAINC30     270.0
 150     "01005"     Barbour, AL      5   CAINC30     270.0
 ...         ...             ...    ...       ...       ...
 99009   "94000"          Plains      4   CAINC30     270.0
 99040   "95000"       Southeast      5   CAINC30     270.0
 99071   "96000"       Southwest      6   CAINC30     270.0
 99102   "97000"  Rocky Mountain      7   CAINC30     270.0
 99133   "98000"        Far West      8   CAINC30     270.0

       IndustryClassification                       Description  \
 26                       ...    Farm proprietors employment 6/
 57                       ...    Farm proprietors employment 6/
 88                       ...    Farm proprietors employment 6/
 119                      ...    Farm proprietors employment 6/
 150                      ...    Farm proprietors employment 6/
 ...                      ...                               ...
 99009                    ...    Farm proprietors employment 6/
 99040                    ...    Farm proprietors employment 6/
 99071                    ...    Farm proprietors employment 6/
 99102                    ...    Farm proprietors employment 6/
 99133                    ...    Farm proprietors employment 6/

                  Unit     2010     2011     2012     2013     2014     2015  \
 26     Number of jobs  1882000  1876000  1844000  1856000  1840000  1834000
 57     Number of jobs    40745    40047    38191    38707    37568    37080
 88     Number of jobs      357      356      345      351      340      337
 119    Number of jobs      906      881      833      844      817      805
 150    Number of jobs      522      519      500      504      485      475
 ...               ...      ...      ...      ...      ...      ...      ...
 99009  Number of jobs   381302   380465   375608   378343   369881   365718
 99040  Number of jobs   482228   476501   463920   464965   463633   463481
 99071  Number of jobs   335352   337845   336156   338329   338762   337327
 99102  Number of jobs   104859   105511   103529   104148   105758   107068
 99133  Number of jobs   143046   141475   138301   139622   137612   137750

           2016     2017     2018     2019
 26     1824000  1803000  1792000  1787000
 57       37280    36186    35400    34596
 88         339      329      322      315
 119        806      783      765      748
 150        473      459      449      439
 ...        ...      ...      ...      ...
 99009   360712   355425   354226   352912
 99040   461823   456148   452544   449962
 99071   338738   336120   333602   333500
 99102   107638   108115   107536   106923
 99133   135901   134831   133433   133776

 [3198 rows x 18 columns],
         GeoFIPS         GeoName Region TableName  LineCode  \
 3       "00000"   United States          CAINC30      60.0
 34      "01000"         Alabama      5   CAINC30      60.0
 65      "01001"     Autauga, AL      5   CAINC30      60.0
 96      "01003"     Baldwin, AL      5   CAINC30      60.0
 127     "01005"     Barbour, AL      5   CAINC30      60.0
 ...         ...             ...    ...       ...       ...
 98986   "94000"          Plains      4   CAINC30      60.0
 99017   "95000"       Southeast      5   CAINC30      60.0
 99048   "96000"       Southwest      6   CAINC30      60.0
 99079   "97000"  Rocky Mountain      7   CAINC30      60.0
 99110   "98000"        Far West      8   CAINC30      60.0

       IndustryClassification                       Description  \
 3                        ...    Income maintenance benefits 1/
 34                       ...    Income maintenance benefits 1/
 65                       ...    Income maintenance benefits 1/
 96                       ...    Income maintenance benefits 1/
 127                      ...    Income maintenance benefits 1/
 ...                      ...                               ...
 98986                    ...    Income maintenance benefits 1/
 99017                    ...    Income maintenance benefits 1/
 99048                    ...    Income maintenance benefits 1/
 99079                    ...    Income maintenance benefits 1/
 99110                    ...    Income maintenance benefits 1/

                        Unit       2010       2011       2012       2013  \
 3      Thousands of dollars  256034000  264137000  267614000  271171000
 34     Thousands of dollars    4563700    4824128    4743390    4787632
 65     Thousands of dollars      41957      44832      43347      44264
 96     Thousands of dollars     109557     114978     118105     123562
 127    Thousands of dollars      36058      37531      36979      36810
 ...                     ...        ...        ...        ...        ...
 98986  Thousands of dollars   13804918   14010595   14253174   14440717
 99017  Thousands of dollars   67406757   70491504   71472053   72910256
 99048  Thousands of dollars   30126548   31235664   31528197   31936711
 99079  Thousands of dollars    6395476    6690307    6741510    6772450
 99110  Thousands of dollars   45464783   46854037   47125228   48026938

             2014       2015       2016       2017       2018       2019
 3      270971000  273685000  270259000  268468000  260380000  268682000
 34       4737805    5979200    5668994    5398704    5290250    5431188
 65         44190      53078      51131      49377      48821      51336
 96        126278     162379     156915     148932     147117     154656
 127        35368      49484      47186      43466      43200      43615
 ...          ...        ...        ...        ...        ...        ...
 98986   14258902   13955167   13720900   13487574   13147273   13750128
 99017   71886195   72482134   71251743   70784536   68027778   69733633
 99048   32020575   32218767   32217114   33091098   31462650   32673988
 99079    6593714    6597043    6551165    6456388    6179075    6513539
 99110   48697962   49615825   49723834   49773039   48229701   49946043

 [3198 rows x 18 columns],

In [163]:
# econ_zip_df['GeoFIPS'] = econ_zip_df['GeoFIPS'].str.replace('"', '')
econ_zip_df['GeoFIPS'] = pd.to_numeric(econ_zip_df['GeoFIPS'].str.replace('"', ''))

In [166]:
test = econ_zip_df.loc[econ_zip_df['GeoFIPS'].isin(zipcodes)]

In [167]:
test

,GeoFIPS,GeoName,Region,Description,Unit,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
62,1001,"Autauga, AL",5,Personal income (thousands of dollars),Thousands of dollars,1826597,1896347,1927064,1944878,2019288,2131416,2203281,2276561,2360366,2453617
63,1001,"Autauga, AL",5,Net earnings by place of residence,Thousands of dollars,1190297,1224272,1246525,1248619,1286995,1346348,1395861,1435492,1489045,1555278
64,1001,"Autauga, AL",5,Personal current transfer receipts,Thousands of dollars,368849,391827,390405,403133,423992,465280,472592,501554,521491,542039
65,1001,"Autauga, AL",5,Income maintenance benefits 1/,Thousands of dollars,41957,44832,43347,44264,44190,53078,51131,49377,48821,51336
66,1001,"Autauga, AL",5,Unemployment insurance compensation,Thousands of dollars,11248,9636,6747,4866,2730,2343,2354,2011,1887,1831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98358,56011,"Crook, WY",7,Farm proprietors employment 6/,Number of jobs,419,427,418,415,427,429,428,424,423,427
98359,56011,"Crook, WY",7,Nonfarm proprietors employment,Number of jobs,1281,1387,1442,1394,1405,1461,1571,1640,1536,1566
98360,56011,"Crook, WY",7,Average earnings per job (dollars),Dollars,30952,33782,34313,38370,41388,40092,37297,38199,39766,40254
98361,56011,"Crook, WY",7,Average wages and salaries,Dollars,34690,35194,36494,38088,39240,40133,40491,42006,44467,45542
98362,56011,"Crook, WY",7,Average nonfarm proprietors' income,Dollars,16931,20794,25620,30164,29794,25847,20011,18974,17191,16976

In [142]:
econ_zip_df = econ_zip_df.iloc[econ_zip_df['GeoFIPS'].isin(zipcodes)]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [139]:
econ_zip_df['GeoFIPS'].isin(zipcodes)

62       True
63       True
64       True
65       True
66       True
         ...
98358    True
98359    True
98360    True
98361    True
98362    True
Name: GeoFIPS, Length: 22940, dtype: bool

In [129]:
econ_zip_df[econ_zip_df['Description'] == ' Per capita dividends, interest, and rent 4/']

,GeoFIPS,GeoName,Region,Description,Unit,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
76,1001,"Autauga, AL",5,"Per capita dividends, interest, and rent 4/",Dollars,4883,5074,5280,5356,5616,5829,6061,6130,6299,6377
138,1005,"Barbour, AL",5,"Per capita dividends, interest, and rent 4/",Dollars,4282,4886,4646,4530,4768,5129,5158,5234,5512,5635
169,1007,"Bibb, AL",5,"Per capita dividends, interest, and rent 4/",Dollars,2773,2853,2873,2849,3047,3100,3194,3302,3395,3474
262,1013,"Butler, AL",5,"Per capita dividends, interest, and rent 4/",Dollars,3855,4167,4695,4681,4837,5085,5264,5852,5665,5785
479,1027,"Clay, AL",5,"Per capita dividends, interest, and rent 4/",Dollars,3906,3976,4093,4115,4369,4747,4997,4895,4880,4992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97912,55129,"Washburn, WI",3,"Per capita dividends, interest, and rent 4/",Dollars,6322,7596,8887,8151,8943,9186,9216,9935,10083,10263
98129,55901,"Shawano (includes Menominee), WI*",3,"Per capita dividends, interest, and rent 4/",Dollars,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA)
98191,56001,"Albany, WY",7,"Per capita dividends, interest, and rent 4/",Dollars,7566,9571,11032,9539,9528,9449,9032,9140,10142,10306
98222,56003,"Big Horn, WY",7,"Per capita dividends, interest, and rent 4/",Dollars,5490,6395,7288,6104,6491,6518,6288,6642,7346,7510
98346,56011,"Crook, WY",7,"Per capita dividends, interest, and rent 4/",Dollars,7180,11594,11149,11721,10771,9790,10298,10142,11749,11623

In [133]:
econ_zip_df_melted = pd.melt(econ_zip_df, id_vars=['GeoFIPS', 'GeoName', 
                     'Description', 'Unit'],\
        value_vars=['2010', '2011', '2012', 
                    '2013', '2014', '2015', 
                    '2016', '2017', '2018', 
                    '2019'])

In [134]:
grouped_by_descr_melted = econ_zip_df_melted.groupby('Description')
grouped_by_area_melted = econ_zip_df_melted.groupby('GeoName')
grouped_by_zip_melted = econ_zip_df_melted.groupby('GeoFIPS')

In [135]:
grouped_by_descr_melted.get_group('Personal income (thousands of dollars)')

,GeoFIPS,GeoName,Description,Unit,variable,value
0,1001,"Autauga, AL",Personal income (thousands of dollars),Thousands of dollars,2010,1826597
31,1005,"Barbour, AL",Personal income (thousands of dollars),Thousands of dollars,2010,758882
62,1007,"Bibb, AL",Personal income (thousands of dollars),Thousands of dollars,2010,573063
93,1013,"Butler, AL",Personal income (thousands of dollars),Thousands of dollars,2010,596826
124,1027,"Clay, AL",Personal income (thousands of dollars),Thousands of dollars,2010,386881
...,...,...,...,...,...,...
229245,55129,"Washburn, WI",Personal income (thousands of dollars),Thousands of dollars,2019,777449
229276,55901,"Shawano (includes Menominee), WI*",Personal income (thousands of dollars),Thousands of dollars,2019,(NA)
229307,56001,"Albany, WY",Personal income (thousands of dollars),Thousands of dollars,2019,1660085
229338,56003,"Big Horn, WY",Personal income (thousands of dollars),Thousands of dollars,2019,463561
229369,56011,"Crook, WY",Personal income (thousands of dollars),Thousands of dollars,2019,363772

In [141]:
grouped_by_zip_melted.get_group('10025')

KeyError: '10025'