In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from datetime import datetime

In [2]:
pd.set_option('display.max_rows', 100)

In [95]:
zri_df=pd.read_csv('../data/Zip_Zri_AllHomesPlusMultifamily.csv')
zri_df=zri_df.reset_index()
zri_df_tmp=zri_df.drop(['RegionID','RegionName','City','State','Metro','CountyName','SizeRank'],axis=1)
zri_df_pivot=pd.DataFrame(zri_df_tmp.stack())
zri_df_pivot=zri_df_pivot[1:].reset_index()
zri_df_pivot.columns=['index','Date','Value']
zri_reshaped=zri_df_pivot.merge(zri_df[['index','RegionID','RegionName','City','State','Metro','CountyName','SizeRank']],on='index')
zri_reshaped=zri_reshaped.drop('index',axis=1)
zipcodes = zri_df['RegionName'].astype(str).unique()

zri_df['RegionName'] = zri_df['RegionName'].astype(str)
zri_df['RegionName'] = zri_df['RegionName'].map(lambda x: '0' + x if len(x) < 5 else x)
zipcodes = zri_df['RegionName'].unique()

In [4]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [72]:
# taxes_by_zip_df_og_11 = pd.read_csv('../../data/Taxes/2011zipcode/11zpallnoagi.csv',
#                                  index_col=None, dtype={'ZIPCODE': str})
# taxes_by_zip_df = taxes_by_zip_df_og_11[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# taxes_by_zip_df = taxes_by_zip_df.loc[taxes_by_zip_df['ZIPCODE'].isin(zipcodes)]
# taxes_by_zip_df['year'] = '2011'

In [77]:
# taxes_by_zip_df_og_10 = pd.read_csv('../../data/Taxes/2010zipcode/10zpallnoagi.csv',
#                                  index_col=None, dtype={'ZIPCODE': str})
# taxes_by_zip_df_10 = taxes_by_zip_df_og_10[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# taxes_by_zip_df_10 = taxes_by_zip_df_10.loc[taxes_by_zip_df_10['ZIPCODE'].isin(zipcodes)]
# taxes_by_zip_df_10['year'] = '2010'

# taxes_by_zip_df_10['state_local_perc'] = taxes_by_zip_df_10['A18425']/ \
# (taxes_by_zip_df_10['A18425']+taxes_by_zip_df_10['A06500'])
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, taxes_by_zip_df_10])

In [96]:
taxes_by_zip_df_og_12 = pd.read_csv('../../data/Taxes/2012zipcode/12zpallnoagi.csv',
                                 index_col=None, dtype={'ZIPCODE': str})

taxes_by_zip_df_12 = taxes_by_zip_df_og_12[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
taxes_by_zip_df_12 = taxes_by_zip_df_12.loc[taxes_by_zip_df_12['ZIPCODE'].isin(zipcodes)]
taxes_by_zip_df_12['year'] = '2012'
taxes_by_zip_df = taxes_by_zip_df_12
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, taxes_by_zip_df_12])
taxes_by_zip_df['state_local_perc'] = taxes_by_zip_df['A18425']/ \
(taxes_by_zip_df['A18425']+taxes_by_zip_df['A06500'])

In [115]:
sum(zipcodes == '01013')

1

In [125]:
taxes_by_zip_df_og_12[taxes_by_zip_df_og_12['ZIPCODE'] == '01013']

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
10731,25,MA,01013,0,10090.0,5290.0,2850.0,1780.0,5440.0,18120.0,...,30.0,132.0,6710.0,31596.0,7070.0,33004.0,1090.0,2322.0,8710.0,21384.0

In [97]:
for i in range(13, 19, 1):
    temp_taxes = pd.read_csv(f'../../data/Taxes/zipcode20{i}/{i}zpallnoagi.csv',
                                 index_col=None, dtype={'ZIPCODE': str})
    temp_taxes = temp_taxes[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
    temp_taxes = temp_taxes.loc[temp_taxes['ZIPCODE'].isin(zipcodes)]
    temp_taxes['state_local_perc'] = temp_taxes['A18425']/ \
        (temp_taxes['A18425']+temp_taxes['A06500'])
    temp_taxes["year"] = (f'20{i}')
    taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes])

In [106]:
df = taxes_by_zip_df.sort_values(by=['ZIPCODE', 'year']).reset_index(drop=True) 
df = df[['ZIPCODE', 'year', 'state_local_perc']]
df

      ZIPCODE  year  state_local_perc
0       01001  2012          0.221197
1       01001  2013          0.213751
2       01001  2014          0.208784
3       01001  2015          0.206719
4       01001  2017          0.204536
...       ...   ...               ...
90473   99901  2014          0.006957
90474   99901  2015          0.005519
90475   99901  2016          0.005549
90476   99901  2017          0.011413
90477   99901  2018          0.007404

[90478 rows x 3 columns]

In [107]:
# add 11 copies of every row
df= df.loc[df.index.repeat(12)].reset_index(drop=True) 

# add month column filled with 0
df['month'] = 0 

# get num unique zip codes
zips= df['ZIPCODE'].unique() 

# get num unique years
years = df['year'].unique() 

# fill in the month column
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] * int(df.shape[0]/12)
df['month'] = months

# replace all elements in rows with month != 12 with nan, 
# you will have to adjust the columns that you want to avoid replacing with nan
df.loc[df['month']!=12, df.columns[2]] = np.nan 
for item in zips:
    temp = df.loc[df['ZIPCODE']==item,:]
    temp['state_local_perc'] = temp['state_local_perc'].interpolate(method='linear')
#     for col in temp.columns[7]:
#         temp[col] = temp[col].interpolate(method='linear')
    df.loc[df['ZIPCODE']==item,:] = temp

<ipython-input-107-d45dcceb1c92>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['state_local_perc'] = temp['state_local_perc'].interpolate(method='linear')

In [108]:
df

        ZIPCODE  year  state_local_perc  month
0         01001  2012               NaN      1
1         01001  2012               NaN      2
2         01001  2012               NaN      3
3         01001  2012               NaN      4
4         01001  2012               NaN      5
...         ...   ...               ...    ...
1085731   99901  2018          0.008740      8
1085732   99901  2018          0.008406      9
1085733   99901  2018          0.008072     10
1085734   99901  2018          0.007738     11
1085735   99901  2018          0.007404     12

[1085736 rows x 4 columns]

In [110]:
df.to_csv('../data/final_TAXES_by_zip.csv', index=False)

In [126]:
df[df['ZIPCODE'] == '01013']

    ZIPCODE  year  state_local_perc  month
360   01013  2012               NaN      1
361   01013  2012               NaN      2
362   01013  2012               NaN      3
363   01013  2012               NaN      4
364   01013  2012               NaN      5
365   01013  2012               NaN      6
366   01013  2012               NaN      7
367   01013  2012               NaN      8
368   01013  2012               NaN      9
369   01013  2012               NaN     10
370   01013  2012               NaN     11
371   01013  2012          0.180155     12
372   01013  2013          0.179915      1
373   01013  2013          0.179675      2
374   01013  2013          0.179435      3
375   01013  2013          0.179194      4
376   01013  2013          0.178954      5
377   01013  2013          0.178714      6
378   01013  2013          0.178474      7
379   01013  2013          0.178234      8
380   01013  2013          0.177994      9
381   01013  2013          0.177753     10
382   01013  2013          0.177513     11
383   01013  2013          0.177273     12
384   01013  2014          0.176793      1
385   01013  2014          0.176313      2
386   01013  2014          0.175832      3
387   01013  2014          0.175352      4
388   01013  2014          0.174872      5
389   01013  2014          0.174392      6
390   01013  2014          0.173911      7
391   01013  2014          0.173431      8
392   01013  2014          0.172951      9
393   01013  2014          0.172471     10
394   01013  2014          0.171990     11
395   01013  2014          0.171510     12
396   01013  2015          0.171483      1
397   01013  2015          0.171456      2
398   01013  2015          0.171429      3
399   01013  2015          0.171402      4
400   01013  2015          0.171375      5
401   01013  2015          0.171348      6
402   01013  2015          0.171321      7
403   01013  2015          0.171294      8
404   01013  2015          0.171266      9
405   01013  2015          0.171239     10
406   01013  2015          0.171212     11
407   01013  2015          0.171185     12
408   01013  2017          0.170886      1
409   01013  2017          0.170587      2
410   01013  2017          0.170287      3
411   01013  2017          0.169988      4
412   01013  2017          0.169689      5
413   01013  2017          0.169389      6
414   01013  2017          0.169090      7
415   01013  2017          0.168791      8
416   01013  2017          0.168491      9
417   01013  2017          0.168192     10
418   01013  2017          0.167893     11
419   01013  2017          0.167593     12
420   01013  2018          0.157573      1
421   01013  2018          0.147553      2
422   01013  2018          0.137533      3
423   01013  2018          0.127512      4
424   01013  2018          0.117492      5
425   01013  2018          0.107472      6
426   01013  2018          0.097452      7
427   01013  2018          0.087431      8
428   01013  2018          0.077411      9
429   01013  2018          0.067391     10
430   01013  2018          0.057371     11
431   01013  2018          0.047350     12