In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from datetime import datetime

In [2]:
pd.set_option('display.max_rows', 100)

In [186]:
zri_df=pd.read_csv('../data/zri_multifamily_v2.csv')

zri_df


# zri_df=zri_df.reset_index()
# zri_df_tmp=zri_df.drop(['RegionID','RegionName','City','State','Metro','CountyName','SizeRank'],axis=1)
# zri_df_pivot=pd.DataFrame(zri_df_tmp.stack())
# zri_df_pivot=zri_df_pivot[1:].reset_index()
# zri_df_pivot.columns=['index','Date','Value']
# zri_reshaped=zri_df_pivot.merge(zri_df[['index','RegionID','RegionName','City','State','Metro','CountyName','SizeRank']],on='index')
# zri_reshaped=zri_reshaped.drop('index',axis=1)
# zipcodes = zri_df['zip'].astype(str).unique()

# zri_df['RegionName'] = zri_df['RegionName'].astype(str)
# zri_df['RegionName'] = zri_df['RegionName'].map(lambda x: '0' + x if len(x) < 5 else x)
# zipcodes = zri_df['RegionName'].unique()

,zip,City,State,Metro,CountyName,year-month,zri
0,1013,Chicopee,MA,Springfield,Hampden County,2014-01,928.0
1,1013,Chicopee,MA,Springfield,Hampden County,2014-02,931.0
2,1013,Chicopee,MA,Springfield,Hampden County,2014-03,934.0
3,1013,Chicopee,MA,Springfield,Hampden County,2014-04,929.0
4,1013,Chicopee,MA,Springfield,Hampden County,2014-05,929.0
...,...,...,...,...,...,...,...
93739,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,2019-08,1277.0
93740,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,2019-09,1271.0
93741,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,2019-10,1299.0
93742,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,2019-11,1261.5
93743,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,2019-12,1224.0

In [187]:
zri_df=pd.read_csv('../data/zri_multifamily_v2.csv')
zri_df['zip'] = zri_df['zip'].astype(str)
zri_df['zip'] = zri_df['zip'].map(lambda x: '0' + x if len(x) < 5 else x)
zipcodes = zri_df['zip'].unique()

In [4]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [72]:
# taxes_by_zip_df_og_11 = pd.read_csv('../../data/Taxes/2011zipcode/11zpallnoagi.csv',
#                                  index_col=None, dtype={'ZIPCODE': str})
# taxes_by_zip_df = taxes_by_zip_df_og_11[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# taxes_by_zip_df = taxes_by_zip_df.loc[taxes_by_zip_df['ZIPCODE'].isin(zipcodes)]
# taxes_by_zip_df['year'] = '2011'

In [77]:
# taxes_by_zip_df_og_10 = pd.read_csv('../../data/Taxes/2010zipcode/10zpallnoagi.csv',
#                                  index_col=None, dtype={'ZIPCODE': str})
# taxes_by_zip_df_10 = taxes_by_zip_df_og_10[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# taxes_by_zip_df_10 = taxes_by_zip_df_10.loc[taxes_by_zip_df_10['ZIPCODE'].isin(zipcodes)]
# taxes_by_zip_df_10['year'] = '2010'

# taxes_by_zip_df_10['state_local_perc'] = taxes_by_zip_df_10['A18425']/ \
# (taxes_by_zip_df_10['A18425']+taxes_by_zip_df_10['A06500'])
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, taxes_by_zip_df_10])

In [201]:
taxes_by_zip_df_og_12 = pd.read_csv('../../data/Taxes/2012zipcode/12zpallnoagi.csv',
                                 index_col=None, dtype={'ZIPCODE': str})

taxes_by_zip_df_12 = taxes_by_zip_df_og_12[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
taxes_by_zip_df_12 = taxes_by_zip_df_12.loc[taxes_by_zip_df_12['ZIPCODE'].isin(zipcodes)]
taxes_by_zip_df_12['year'] = '2012'
taxes_by_zip_df = taxes_by_zip_df_12
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, taxes_by_zip_df_12])
taxes_by_zip_df['state_local_perc'] = taxes_by_zip_df['A18425']/ \
(taxes_by_zip_df['A18425']+taxes_by_zip_df['A06500'])

In [99]:
geoj_file['features'][0]['properties']['GEOID10']

'36522'

In [191]:
taxes_by_zip_df_og_12[taxes_by_zip_df_og_12['ZIPCODE'] == '01760']

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
10928,25,MA,01760,0,17130.0,8230.0,7590.0,1020.0,9320.0,33250.0,...,1620.0,9875.0,14010.0,279966.0,14520.0,291240.0,4160.0,22634.0,11730.0,32750.0

In [202]:
for i in range(13, 19, 1):
    temp_taxes = pd.read_csv(f'../../data/Taxes/zipcode20{i}/{i}zpallnoagi.csv',
                                 index_col=None, dtype={'ZIPCODE': str})
    temp_taxes = temp_taxes[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
    temp_taxes['ZIPCODE'] = temp_taxes['ZIPCODE'].map(lambda x: '0' + x if len(x) < 5 else x)
    temp_taxes = temp_taxes.loc[temp_taxes['ZIPCODE'].isin(zipcodes)]
    temp_taxes['state_local_perc'] = temp_taxes['A18425']/ \
        (temp_taxes['A18425']+temp_taxes['A06500'])
    temp_taxes["year"] = (f'20{i}')
    taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes])

In [193]:
# temp_taxes_16 = pd.read_csv('../../data/Taxes/zipcode2016/16zpallnoagi.csv',
#                              index_col=None, dtype={'ZIPCODE': str})
# temp_taxes_16 = temp_taxes_16[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# temp_taxes_16['ZIPCODE'] = temp_taxes_16['ZIPCODE'].map(lambda x: '0' + x if len(x) < 5 else x)
# temp_taxes_16 = temp_taxes_16.loc[temp_taxes_16['ZIPCODE'].isin(zipcodes)]
# temp_taxes_16['state_local_perc'] = temp_taxes_16['A18425']/ \
#     (temp_taxes_16['A18425']+temp_taxes_16['A06500'])
# temp_taxes_16["year"] = ('2016')

# taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes])

In [194]:
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes_16])   
# taxes_by_zip_df['year'] = taxes_by_zip_df['year'].map(lambda x: int(x))

# taxes_by_zip_df[taxes_by_zip_df["year"] == 2016]

,STATE,ZIPCODE,N18425,A18300,A18425,A06500,year,state_local_perc
595,AK,99501,440.0,10224.0,1164.0,96649.0,2016,0.011900
598,AK,99504,1390.0,17752.0,785.0,122191.0,2016,0.006383
602,AK,99508,810.0,13274.0,732.0,103300.0,2016,0.007036
663,AK,99654,900.0,17852.0,909.0,125622.0,2016,0.007184
755,AZ,85008,2030.0,10698.0,5926.0,59252.0,2016,0.090920
...,...,...,...,...,...,...,...,...
29341,WI,53703,2690.0,45811.0,28073.0,130208.0,2016,0.177362
29342,WI,53704,7460.0,97513.0,53638.0,201246.0,2016,0.210441
29504,WI,54220,3950.0,50495.0,33842.0,161514.0,2016,0.173232
29638,WI,54601,5580.0,73903.0,45342.0,155151.0,2016,0.226153
29795,WI,54901,2770.0,30252.0,17344.0,70999.0,2016,0.196326

In [204]:

temp_taxes_16[temp_taxes_16['state_local_perc'].isnull()]


taxes_by_zip_df[taxes_by_zip_df["year"] == "2016"].sort_values(by=['ZIPCODE', 'year'])

# df[df[df[df["year"] == 2016]].isna().any(axis=1)]

,STATE,ZIPCODE,N18425,A18300,A18425,A06500,year,state_local_perc
11521,MA,01013,1850.0,13491.0,7258.0,36910.0,2016,0.164327
11522,MA,01020,3540.0,28280.0,15189.0,68364.0,2016,0.181789
11538,MA,01040,3010.0,28495.0,15394.0,69952.0,2016,0.180372
11561,MA,01085,6240.0,70656.0,36557.0,139182.0,2016,0.208019
11572,MA,01104,1710.0,10220.0,5419.0,25170.0,2016,0.177155
...,...,...,...,...,...,...,...,...
28476,WA,99207,100.0,4060.0,297.0,30151.0,2016,0.009754
595,AK,99501,440.0,10224.0,1164.0,96649.0,2016,0.011900
598,AK,99504,1390.0,17752.0,785.0,122191.0,2016,0.006383
602,AK,99508,810.0,13274.0,732.0,103300.0,2016,0.007036
663,AK,99654,900.0,17852.0,909.0,125622.0,2016,0.007184

In [205]:
df = taxes_by_zip_df.sort_values(by=['ZIPCODE', 'year']).reset_index(drop=True) 
df = df[['ZIPCODE', 'year', 'state_local_perc']]
df

     ZIPCODE  year  state_local_perc
0      01013  2012          0.180155
1      01013  2013          0.177273
2      01013  2014          0.171510
3      01013  2015          0.171185
4      01013  2016          0.164327
...      ...   ...               ...
9102   99654  2014          0.004785
9103   99654  2015          0.005473
9104   99654  2016          0.007184
9105   99654  2017          0.008805
9106   99654  2018          0.003908

[9107 rows x 3 columns]

In [206]:
# add 11 copies of every row
df= df.loc[df.index.repeat(12)].reset_index(drop=True) 

# add month column filled with 0
df['month'] = 0 

# get num unique zip codes
zips= df['ZIPCODE'].unique() 

# get num unique years
years = df['year'].unique() 

# fill in the month column
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] * int(df.shape[0]/12)
df['month'] = months

# replace all elements in rows with month != 12 with nan, 
# you will have to adjust the columns that you want to avoid replacing with nan
df.loc[df['month']!=12, df.columns[2]] = np.nan 
for item in zips:
    temp = df.loc[df['ZIPCODE']==item,:]
    temp['state_local_perc'] = temp['state_local_perc'].interpolate(method='linear')
#     for col in temp.columns[7]:
#         temp[col] = temp[col].interpolate(method='linear')
    df.loc[df['ZIPCODE']==item,:] = temp

<ipython-input-206-d45dcceb1c92>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['state_local_perc'] = temp['state_local_perc'].interpolate(method='linear')

In [198]:
df[df["year"] == "2016"].sort_values(by=['ZIPCODE', 'year'])

       ZIPCODE  year  state_local_perc  month
48       01013  2016          0.170614      1
49       01013  2016          0.170042      2
50       01013  2016          0.169471      3
51       01013  2016          0.168899      4
52       01013  2016          0.168328      5
...        ...   ...               ...    ...
122455   99654  2016          0.007184      8
122456   99654  2016          0.007184      9
122457   99654  2016          0.007184     10
122458   99654  2016          0.007184     11
122459   99654  2016          0.007184     12

[28812 rows x 4 columns]

In [207]:
df.to_csv('../data/final_TAXES_by_zip.csv', index=False)

In [200]:
df[df['ZIPCODE'] == '01760']

     ZIPCODE  year  state_local_perc  month
1680   01760  2012               NaN      1
1681   01760  2012               NaN      2
1682   01760  2012               NaN      3
1683   01760  2012               NaN      4
1684   01760  2012               NaN      5
1685   01760  2012               NaN      6
1686   01760  2012               NaN      7
1687   01760  2012               NaN      8
1688   01760  2012               NaN      9
1689   01760  2012               NaN     10
1690   01760  2012               NaN     11
1691   01760  2012          0.205475     12
1692   01760  2013          0.205541      1
1693   01760  2013          0.205607      2
1694   01760  2013          0.205673      3
1695   01760  2013          0.205739      4
1696   01760  2013          0.205804      5
1697   01760  2013          0.205870      6
1698   01760  2013          0.205936      7
1699   01760  2013          0.206002      8
1700   01760  2013          0.206068      9
1701   01760  2013          0.206134     10
1702   01760  2013          0.206200     11
1703   01760  2013          0.206266     12
1704   01760  2014          0.205348      1
1705   01760  2014          0.204431      2
1706   01760  2014          0.203513      3
1707   01760  2014          0.202596      4
1708   01760  2014          0.201678      5
1709   01760  2014          0.200761      6
1710   01760  2014          0.199843      7
1711   01760  2014          0.198926      8
1712   01760  2014          0.198008      9
1713   01760  2014          0.197090     10
1714   01760  2014          0.196173     11
1715   01760  2014          0.195255     12
1716   01760  2015          0.195488      1
1717   01760  2015          0.195720      2
1718   01760  2015          0.195953      3
1719   01760  2015          0.196185      4
1720   01760  2015          0.196417      5
1721   01760  2015          0.196650      6
1722   01760  2015          0.196882      7
1723   01760  2015          0.197115      8
1724   01760  2015          0.197347      9
1725   01760  2015          0.197579     10
1726   01760  2015          0.197812     11
1727   01760  2015          0.198044     12
1728   01760  2016          0.198135      1
1729   01760  2016          0.198227      2
1730   01760  2016          0.198318      3
1731   01760  2016          0.198409      4
1732   01760  2016          0.198500      5
1733   01760  2016          0.198591      6
1734   01760  2016          0.198682      7
1735   01760  2016          0.198774      8
1736   01760  2016          0.198865      9
1737   01760  2016          0.198956     10
1738   01760  2016          0.199047     11
1739   01760  2016          0.199138     12
1740   01760  2017          0.198702      1
1741   01760  2017          0.198267      2
1742   01760  2017          0.197831      3
1743   01760  2017          0.197395      4
1744   01760  2017          0.196959      5
1745   01760  2017          0.196523      6
1746   01760  2017          0.196087      7
1747   01760  2017          0.195651      8
1748   01760  2017          0.195215      9
1749   01760  2017          0.194780     10
1750   01760  2017          0.194344     11
1751   01760  2017          0.193908     12
1752   01760  2018          0.187618      1
1753   01760  2018          0.181329      2
1754   01760  2018          0.175039      3
1755   01760  2018          0.168750      4
1756   01760  2018          0.162461      5
1757   01760  2018          0.156171      6
1758   01760  2018          0.149882      7
1759   01760  2018          0.143592      8
1760   01760  2018          0.137303      9
1761   01760  2018          0.131013     10
1762   01760  2018          0.124724     11
1763   01760  2018          0.118434     12