In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from datetime import datetime

In [2]:
pd.set_option('display.max_rows', 100)

In [95]:
zri_df=pd.read_csv('../data/Zip_Zri_AllHomesPlusMultifamily.csv')
zri_df=zri_df.reset_index()
zri_df_tmp=zri_df.drop(['RegionID','RegionName','City','State','Metro','CountyName','SizeRank'],axis=1)
zri_df_pivot=pd.DataFrame(zri_df_tmp.stack())
zri_df_pivot=zri_df_pivot[1:].reset_index()
zri_df_pivot.columns=['index','Date','Value']
zri_reshaped=zri_df_pivot.merge(zri_df[['index','RegionID','RegionName','City','State','Metro','CountyName','SizeRank']],on='index')
zri_reshaped=zri_reshaped.drop('index',axis=1)
zipcodes = zri_df['RegionName'].astype(str).unique()

zri_df['RegionName'] = zri_df['RegionName'].astype(str)
zri_df['RegionName'] = zri_df['RegionName'].map(lambda x: '0' + x if len(x) < 5 else x)
zipcodes = zri_df['RegionName'].unique()

In [4]:
states = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DC", "DE", "FL", "GA", 
          "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
          "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]

In [72]:
# taxes_by_zip_df_og_11 = pd.read_csv('../../data/Taxes/2011zipcode/11zpallnoagi.csv',
#                                  index_col=None, dtype={'ZIPCODE': str})
# taxes_by_zip_df = taxes_by_zip_df_og_11[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# taxes_by_zip_df = taxes_by_zip_df.loc[taxes_by_zip_df['ZIPCODE'].isin(zipcodes)]
# taxes_by_zip_df['year'] = '2011'

In [77]:
# taxes_by_zip_df_og_10 = pd.read_csv('../../data/Taxes/2010zipcode/10zpallnoagi.csv',
#                                  index_col=None, dtype={'ZIPCODE': str})
# taxes_by_zip_df_10 = taxes_by_zip_df_og_10[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
# taxes_by_zip_df_10 = taxes_by_zip_df_10.loc[taxes_by_zip_df_10['ZIPCODE'].isin(zipcodes)]
# taxes_by_zip_df_10['year'] = '2010'

# taxes_by_zip_df_10['state_local_perc'] = taxes_by_zip_df_10['A18425']/ \
# (taxes_by_zip_df_10['A18425']+taxes_by_zip_df_10['A06500'])
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, taxes_by_zip_df_10])

In [165]:
taxes_by_zip_df_og_12 = pd.read_csv('../../data/Taxes/2012zipcode/12zpallnoagi.csv',
                                 index_col=None, dtype={'ZIPCODE': str})

taxes_by_zip_df_12 = taxes_by_zip_df_og_12[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
taxes_by_zip_df_12 = taxes_by_zip_df_12.loc[taxes_by_zip_df_12['ZIPCODE'].isin(zipcodes)]
taxes_by_zip_df_12['year'] = '2012'
taxes_by_zip_df = taxes_by_zip_df_12
# taxes_by_zip_df = pd.concat([taxes_by_zip_df, taxes_by_zip_df_12])
taxes_by_zip_df['state_local_perc'] = taxes_by_zip_df['A18425']/ \
(taxes_by_zip_df['A18425']+taxes_by_zip_df['A06500'])

In [128]:
sum(taxes_by_zip_df.ZIPCODE == '01013')

6

In [159]:
taxes_by_zip_df_og_12[taxes_by_zip_df_og_12['ZIPCODE'] == '01013']

,STATEFIPS,STATE,ZIPCODE,AGI_STUB,N1,MARS1,MARS2,MARS4,PREP,N2,...,N09600,A09600,N06500,A06500,N10300,A10300,N11901,A11901,N11902,A11902
10731,25,MA,01013,0,10090.0,5290.0,2850.0,1780.0,5440.0,18120.0,...,30.0,132.0,6710.0,31596.0,7070.0,33004.0,1090.0,2322.0,8710.0,21384.0

In [166]:
for i in range(13, 19, 1):
    temp_taxes = pd.read_csv(f'../../data/Taxes/zipcode20{i}/{i}zpallnoagi.csv',
                                 index_col=None, dtype={'ZIPCODE': str})
    temp_taxes = temp_taxes[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
    temp_taxes = temp_taxes.loc[temp_taxes['ZIPCODE'].isin(zipcodes)]
    temp_taxes['state_local_perc'] = temp_taxes['A18425']/ \
        (temp_taxes['A18425']+temp_taxes['A06500'])
    temp_taxes["year"] = (f'20{i}')
    taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes])

In [167]:
temp_taxes_16 = pd.read_csv('../../data/Taxes/zipcode2016/16zpallnoagi.csv',
                             index_col=None, dtype={'ZIPCODE': str})
temp_taxes_16 = temp_taxes_16[['STATE', 'ZIPCODE', 'N18425', 'A18300', 'A18425', 'A06500']]
temp_taxes_16['ZIPCODE'] = temp_taxes_16['ZIPCODE'].map(lambda x: '0' + x if len(x) < 5 else x)
temp_taxes_16 = temp_taxes_16.loc[temp_taxes_16['ZIPCODE'].isin(zipcodes)]
temp_taxes_16['state_local_perc'] = temp_taxes_16['A18425']/ \
    (temp_taxes_16['A18425']+temp_taxes_16['A06500'])
temp_taxes_16["year"] = ('2016')

# taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes])

In [168]:
taxes_by_zip_df = pd.concat([taxes_by_zip_df, temp_taxes_16])   
taxes_by_zip_df['year'] = taxes_by_zip_df['year'].map(lambda x: int(x))

taxes_by_zip_df[taxes_by_zip_df["year"] == 2016]

      STATE ZIPCODE  N18425   A18300   A18425   A06500  year  state_local_perc
1        AL   35004  1470.0   7277.0   5590.0  27082.0  2016          0.171095
2        AL   35005   600.0   2726.0   1703.0   8580.0  2016          0.165613
3        AL   35006   180.0   1090.0    752.0   4712.0  2016          0.137628
4        AL   35007  3430.0  20180.0  14134.0  70623.0  2016          0.166759
5        AL   35010  1150.0   9139.0   6280.0  38102.0  2016          0.141499
...     ...     ...     ...      ...      ...      ...   ...               ...
29940    WY   82930   200.0   4642.0   1085.0  36622.0  2016          0.028774
29946    WY   82941    70.0   2953.0    267.0  22551.0  2016          0.011701
29957    WY   83101    30.0    867.0     83.0   9771.0  2016          0.008423
29970    WY   83127   100.0   2792.0    819.0  13309.0  2016          0.057970
29971    WY   83128    50.0   3172.0   1613.0  13758.0  2016          0.104938

[25033 rows x 8 columns]

In [169]:

temp_taxes_16[temp_taxes_16['state_local_perc'].isnull()]


taxes_by_zip_df[taxes_by_zip_df["year"] == 2016].sort_values(by=['ZIPCODE', 'year'])

# df[df[df[df["year"] == 2016]].isna().any(axis=1)]

,STATE,ZIPCODE,N18425,A18300,A18425,A06500,year,state_local_perc
11511,MA,01001,2910.0,25512.0,13954.0,54650.0,2016,0.203399
11512,MA,01002,3550.0,60885.0,31122.0,115417.0,2016,0.212380
11514,MA,01005,770.0,6968.0,3707.0,13818.0,2016,0.211526
11515,MA,01007,3140.0,38620.0,19466.0,68029.0,2016,0.222481
11518,MA,01010,770.0,8519.0,4500.0,16721.0,2016,0.212054
...,...,...,...,...,...,...,...,...
697,AK,99712,320.0,4731.0,242.0,46653.0,2016,0.005160
732,AK,99801,470.0,16485.0,797.0,110002.0,2016,0.007193
732,AK,99801,470.0,16485.0,797.0,110002.0,2016,0.007193
742,AK,99901,150.0,5322.0,286.0,51259.0,2016,0.005549
742,AK,99901,150.0,5322.0,286.0,51259.0,2016,0.005549

In [170]:
df = taxes_by_zip_df.sort_values(by=['ZIPCODE', 'year']).reset_index(drop=True) 
df = df[['ZIPCODE', 'year', 'state_local_perc']]
df

       ZIPCODE  year  state_local_perc
0        01001  2012          0.221197
1        01001  2013          0.213751
2        01001  2014          0.208784
3        01001  2015          0.206719
4        01001  2016          0.203399
...        ...   ...               ...
103634   99901  2015          0.005519
103635   99901  2016          0.005549
103636   99901  2016          0.005549
103637   99901  2017          0.011413
103638   99901  2018          0.007404

[103639 rows x 3 columns]

In [171]:
# add 11 copies of every row
df= df.loc[df.index.repeat(12)].reset_index(drop=True) 

# add month column filled with 0
df['month'] = 0 

# get num unique zip codes
zips= df['ZIPCODE'].unique() 

# get num unique years
years = df['year'].unique() 

# fill in the month column
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] * int(df.shape[0]/12)
df['month'] = months

# replace all elements in rows with month != 12 with nan, 
# you will have to adjust the columns that you want to avoid replacing with nan
df.loc[df['month']!=12, df.columns[2]] = np.nan 
for item in zips:
    temp = df.loc[df['ZIPCODE']==item,:]
    temp['state_local_perc'] = temp['state_local_perc'].interpolate(method='linear')
#     for col in temp.columns[7]:
#         temp[col] = temp[col].interpolate(method='linear')
    df.loc[df['ZIPCODE']==item,:] = temp

<ipython-input-171-d45dcceb1c92>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['state_local_perc'] = temp['state_local_perc'].interpolate(method='linear')

In [172]:
df[df["year"] == 2016].sort_values(by=['ZIPCODE', 'year'])

        ZIPCODE  year  state_local_perc  month
48        01001  2016          0.206442      1
49        01001  2016          0.206166      2
50        01001  2016          0.205889      3
51        01001  2016          0.205612      4
52        01001  2016          0.205336      5
...         ...   ...               ...    ...
1243639   99901  2016          0.005549      8
1243640   99901  2016          0.005549      9
1243641   99901  2016          0.005549     10
1243642   99901  2016          0.005549     11
1243643   99901  2016          0.005549     12

[300396 rows x 4 columns]

In [173]:
df.to_csv('../data/final_TAXES_by_zip.csv', index=False)

In [174]:
df[df['ZIPCODE'] == '01013']

    ZIPCODE  year  state_local_perc  month
420   01013  2012               NaN      1
421   01013  2012               NaN      2
422   01013  2012               NaN      3
423   01013  2012               NaN      4
424   01013  2012               NaN      5
425   01013  2012               NaN      6
426   01013  2012               NaN      7
427   01013  2012               NaN      8
428   01013  2012               NaN      9
429   01013  2012               NaN     10
430   01013  2012               NaN     11
431   01013  2012          0.180155     12
432   01013  2013          0.179915      1
433   01013  2013          0.179675      2
434   01013  2013          0.179435      3
435   01013  2013          0.179194      4
436   01013  2013          0.178954      5
437   01013  2013          0.178714      6
438   01013  2013          0.178474      7
439   01013  2013          0.178234      8
440   01013  2013          0.177994      9
441   01013  2013          0.177753     10
442   01013  2013          0.177513     11
443   01013  2013          0.177273     12
444   01013  2014          0.176793      1
445   01013  2014          0.176313      2
446   01013  2014          0.175832      3
447   01013  2014          0.175352      4
448   01013  2014          0.174872      5
449   01013  2014          0.174392      6
450   01013  2014          0.173911      7
451   01013  2014          0.173431      8
452   01013  2014          0.172951      9
453   01013  2014          0.172471     10
454   01013  2014          0.171990     11
455   01013  2014          0.171510     12
456   01013  2015          0.171483      1
457   01013  2015          0.171456      2
458   01013  2015          0.171429      3
459   01013  2015          0.171402      4
460   01013  2015          0.171375      5
461   01013  2015          0.171348      6
462   01013  2015          0.171321      7
463   01013  2015          0.171294      8
464   01013  2015          0.171266      9
465   01013  2015          0.171239     10
466   01013  2015          0.171212     11
467   01013  2015          0.171185     12
468   01013  2016          0.170614      1
469   01013  2016          0.170042      2
470   01013  2016          0.169471      3
471   01013  2016          0.168899      4
472   01013  2016          0.168328      5
473   01013  2016          0.167756      6
474   01013  2016          0.167185      7
475   01013  2016          0.166613      8
476   01013  2016          0.166042      9
477   01013  2016          0.165470     10
478   01013  2016          0.164899     11
479   01013  2016          0.164327     12
480   01013  2017          0.164599      1
481   01013  2017          0.164871      2
482   01013  2017          0.165144      3
483   01013  2017          0.165416      4
484   01013  2017          0.165688      5
485   01013  2017          0.165960      6
486   01013  2017          0.166232      7
487   01013  2017          0.166505      8
488   01013  2017          0.166777      9
489   01013  2017          0.167049     10
490   01013  2017          0.167321     11
491   01013  2017          0.167593     12
492   01013  2018          0.157573      1
493   01013  2018          0.147553      2
494   01013  2018          0.137533      3
495   01013  2018          0.127512      4
496   01013  2018          0.117492      5
497   01013  2018          0.107472      6
498   01013  2018          0.097452      7
499   01013  2018          0.087431      8
500   01013  2018          0.077411      9
501   01013  2018          0.067391     10
502   01013  2018          0.057371     11
503   01013  2018          0.047350     12