In [20]:
import pandas as pd
import numpy as np

In [21]:
_2014 = pd.read_csv('./data/acs_2014_zip_5yr.csv')

In [22]:
_2015 = pd.read_csv('./data/acs_2015_zip_5yr.csv')

In [23]:
_2016 = pd.read_csv('./data/acs_2016_zip_5yr.csv')

In [24]:
_2017 = pd.read_csv('./data/acs_2017_zip_5yr.csv')

In [25]:
_2018 = pd.read_csv('./data/acs_2018_zip_5yr.csv')

In [26]:
_2013 = pd.read_csv('./data/acs_2013_zip_5yr.csv')

In [27]:
_2012 = pd.read_csv('./data/acs_2012_zip_5yr.csv')

In [28]:
_2011 = pd.read_csv('./data/acs_2011_zip_5yr.csv')

In [62]:
years = [_2011, _2012, _2013, _2014, _2015, _2016, _2017, _2018]

In [51]:
_2018['do_date'] = [20142018]*33120

In [53]:
for item in years:
    print(item['do_date'][0])
    print(type(item['do_date'][0]))

20072011
<class 'numpy.int64'>
20082012
<class 'numpy.int64'>
20092013
<class 'numpy.int64'>
20102014
<class 'numpy.int64'>
20112015
<class 'numpy.int64'>
20122016
<class 'numpy.int64'>
20132017
<class 'numpy.int64'>
20142018
<class 'numpy.int64'>

In [59]:
for item in years:
    if 'geoid' in item.columns:
        print(item['do_date'][0], 'geoid')
        print(item['geoid'][0])
        print(type(item['geoid'][0]))
    if 'geo_id' in item.columns:
        print(item['do_date'][0], 'geo_id')
        print(item['geo_id'][0])
        print(type(item['geo_id'][0]))

20072011 geo_id
99363
<class 'numpy.int64'>
20082012 geo_id
91046
<class 'numpy.int64'>
20092013 geo_id
91046
<class 'numpy.int64'>
20102014 geo_id
20899
<class 'numpy.int64'>
20112015 geoid
nan
<class 'numpy.float64'>
20112015 geo_id
98304
<class 'numpy.int64'>
20122016 geo_id
61112
<class 'numpy.int64'>
20132017 geo_id
55111
<class 'numpy.int64'>
20142018 geo_id
87537
<class 'numpy.int64'>

In [30]:
for i in range(len(years)):
    print(len(years[i].columns))

252
252
252
252
247
252
252
240

In [34]:
for col in _2011.columns:
    if col not in _2015.columns:
        print(col, 1)
    if col not in _2018.columns:
        print(col, 2)

male_60_61 2
male_62_64 2
white_including_hispanic 2
black_including_hispanic 2
amerindian_including_hispanic 2
asian_including_hispanic 2
commute_5_9_mins 2
commute_35_39_mins 2
commute_40_44_mins 2
commute_60_89_mins 2
commute_90_more_mins 2
households_retirement_income 2
pop_15_and_over 1
pop_never_married 1
pop_now_married 1
pop_separated 1
pop_widowed 1
pop_divorced 1

In [63]:
merged = pd.concat(years, axis = 0)

In [65]:
merged.drop(columns = 'geoid', axis = 1, inplace = True)

In [76]:
merged = pd.concat([merged.loc[:,merged.columns[0]], merged.loc[:,merged.columns[-1]], merged.loc[:, merged.columns[1:-1]]], axis = 1)

In [78]:
merged = merged.sort_values(['geo_id', 'do_date'])

In [80]:
merged.to_csv('acs_5yr_merged.csv', index = False)