In [1]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from pytrends.request import TrendReq
pytrend = TrendReq()

In [2]:
kw_list=["Trader Joe's",'Whole Foods', 'Starbucks','Lululemon', 'thrift']

In [3]:
metro_dict = {
    'Albany-Schenectady-Troy':'Albany-Schenectady-Troy NY',
    'Albuquerque':'Albuquerque-Santa Fe NM',
    'Allentown-Bethlehem-Easton': 'Wilkes Barre-Scranton PA',
    'Anchorage':'Anchorage AK',
    'Athens-Clarke County': 'Macon GA',
    'Atlanta-Sandy Springs-Roswell':'Atlanta GA',
    'Augusta-Waterville':'Augusta GA',
    'Austin-Round Rock':'Austin TX',
    'Bakersfield':'Bakersfield CA',
    'Baltimore-Columbia-Towson':'Baltimore MD',
    'Bangor':'Bangor ME',
    'Batavia':'Rochester NY',
    'Binghamton':'Binghamton NY',
    'Bloomington':  'Indianapolis IN',
    'Boston-Cambridge-Newton' : 'Boston MA-Manchester NH',
    'Boulder':'Denver CO',
    'Bozeman': 'Butte-Bozeman MT',
    'Bridgeport-Stamford-Norwalk' : 'Hartford & New Haven CT',
    'Brownsville-Harlingen': 'Corpus Christi TX',
    'Buffalo-Cheektowaga-Niagara Falls' : 'Buffalo NY',
    'Canton-Massillon':'Cleveland-Akron (Canton) OH',
    'Cape Coral-Fort Myers': 'Ft. Myers-Naples FL',
    'Charleston-North Charleston':'Charleston SC',
    'Charlotte-Concord-Gastonia':'Charlotte NC',
    'Charlottesville':'Charlottesville VA',
    'Chicago-Naperville-Elgin' : 'Chicago IL',
    'Chico' : 'Chico-Redding CA',
    'Cincinnati' : 'Cincinnati OH',
    'Clarksville' : 'Nashville TN',
    'Cleveland-Elyria' : 'Cleveland-Akron (Canton) OH',
    'College Station-Bryan' : 'Waco-Temple-Bryan TX',
    'Colorado Springs' : 'Colorado Springs-Pueblo CO',
    'ColumbiaSC' : 'Columbia SC',
    'ColumbiaMO' : 'Columbia-Jefferson City MO',
    'Columbus' : 'Columbus OH',
    'Concord' :  'Boston MA-Manchester NH',
    'Dallas-Fort Worth-Arlington' : 'Dallas-Ft. Worth TX',
    'Dayton' : 'Dayton OH',
    'Denver-Aurora-Lakewood' : 'Denver CO',
    'Detroit-Warren-Dearborn' : 'Detroit MI',
    'Dubuque' : 'Cedar Rapids-Waterloo-Iowa City & Dubuque IA',
    'Durham-Chapel Hill' : 'Raleigh-Durham (Fayetteville) NC',
    'El Paso' : 'El Paso TX',
    'Erie' : 'Erie PA',
    'Eugene' : 'Eugene OR',
    'Fargo' : 'Fargo-Valley City ND',
    'Fayetteville-Springdale-Rogers' : 'Ft. Smith-Fayetteville-Springdale-Rogers AR',
    'Findlay' : 'Lima OH',
    'Greenville-Anderson-Mauldin' : 'Greenville-Spartanburg SC-Asheville NC-Anderson SC',
    'Harrisburg-Carlisle' : 'Harrisburg-Lancaster-Lebanon-York PA',
    'Hartford-West Hartford-East Hartford' : 'Hartford & New Haven CT',
    'Helena' : 'Helena MT',
    'Houston-The Woodlands-Sugar Land' : 'Houston TX',
    'Indianapolis-Carmel-Anderson' : 'Indianapolis IN',
    'Ithaca' : 'Elmira NY',
    'Jacksonville' : 'Jacksonville FL',
    'Jamestown-Dunkirk-Fredonia' : 'Erie PA',
    'Joplin' : 'Joplin MO-Pittsburg KS',
    'Kalispell' : 'Missoula MT',
    'Kansas City' : 'Kansas City MO',
    'Killeen-Temple' : 'Waco-Temple-Bryan TX',
    'Kingston' : 'Albany-Schenectady-Troy NY',
    'La Crosse-Onalaska' : 'La Crosse-Eau Claire WI',
    'Lancaster' : 'Harrisburg-Lancaster-Lebanon-York PA',
    'Las Vegas-Henderson-Paradise' : 'Las Vegas NV',
    'Lewiston-Auburn' : 'Portland-Auburn ME',
    'Lexington-Fayette' : 'Lexington KY',
    'Little Rock-North Little Rock-Conway' : 'Little Rock-Pine Bluff AR',
    'Los Angeles-Long Beach-Anaheim' : 'Los Angeles CA',
    'Madison' : 'Madison WI',
    'Manchester-Nashua' : 'Boston MA-Manchester NH',
    'Manhattan' : 'Topeka KS', # Manhattan, Kansas
    'Manitowoc' : 'Green Bay-Appleton WI',
    'Medford' : 'Medford-Klamath Falls OR',
    'Memphis' : 'Memphis TN',
    'Miami-Fort Lauderdale-West Palm Beach' : 'Miami-Ft. Lauderdale FL',
    'Milwaukee-Waukesha-West Allis' : 'Milwaukee WI',
    'Minneapolis-St. Paul-Bloomington' : 'Minneapolis-St. Paul MN',
    'Missoula' : 'Missoula MT',
    'Morgantown' :  'Clarksburg-Weston WV', #morgantown, WV
    'Nashville-Davidson--Murfreesboro--Franklin' : 'Nashville TN',
    'New Haven-Milford' : 'Hartford & New Haven CT',
    'New York-Newark-Jersey City' : 'New York NY',
    'North Port-Sarasota-Bradenton' : 'Tampa-St. Petersburg (Sarasota) FL',
    'Norwich-New London' : 'Hartford & New Haven CT', # norwich, CT
    'Ogden-Clearfield' : 'Salt Lake City UT', #utah
    'Oklahoma City' : 'Oklahoma City OK',
    'Orlando-Kissimmee-Sanford' : 'Orlando-Daytona Beach-Melbourne FL',
    'Oshkosh-Neenah' : 'Green Bay-Appleton WI', # oshkosh wi
    'Oxnard-Thousand Oaks-Ventura' : 'Los Angeles CA', #ca
    'Palm Bay-Melbourne-Titusville' : 'Orlando-Daytona Beach-Melbourne FL',
    'Philadelphia-Camden-Wilmington' : 'Philadelphia PA',
    'Phoenix-Mesa-Scottsdale' : 'Phoenix AZ',
    'Pittsburgh' : 'Pittsburgh PA',
    'Portland-South Portland' : 'Portland-Auburn ME',
    'Portland-Vancouver-Hillsboro' : 'Portland OR',
    'Prescott' : 'Phoenix AZ', #presscot AZ
    'Providence-Warwick' : 'Providence RI-New Bedford MA',
    'Racine' : 'Milwaukee WI', # racine wi
    'Raleigh' : 'Raleigh-Durham (Fayetteville) NC',
    'Reno' : 'Reno NV',
    'Richmond' : 'Richmond-Petersburg VA',
    'Riverside-San Bernardino-Ontario' : 'Los Angeles CA', # ca
    'Rochester' : 'Rochester NY',
    'Rockford' : 'Rockford IL',
    'Sacramento--Roseville--Arden-Arcade' : 'Sacramento-Stockton-Modesto CA',
    'Salinas' : 'Monterey-Salinas CA', # salinas CA
    'Salt Lake City' : 'Salt Lake City UT',
    'San Antonio-New Braunfels' : 'San Antonio TX',
    'San Diego-Carlsbad' : 'San Diego CA',
    'San Francisco-Oakland-Hayward' : 'San Francisco-Oakland-San Jose CA',
    'San Jose-Sunnyvale-Santa Clara' : 'San Francisco-Oakland-San Jose CA',
    'Savannah' : 'Savannah GA',
    'Seattle-Tacoma-Bellevue' : 'Seattle-Tacoma WA',
    'Spokane-Spokane Valley' : 'Spokane WA',
    'Springfield' : 'Springfield-Holyoke MA',
    'St. Louis' : 'St. Louis MO',
    'Stockton-Lodi' : 'Sacramento-Stockton-Modesto CA',
    'Syracuse' : 'Syracuse NY',
    'Tampa-St. Petersburg-Clearwater' : 'Tampa-St. Petersburg (Sarasota) FL',
    'Topeka' : 'Topeka KS',
    'Torrington' : 'Hartford & New Haven CT', # torrington ct
    'Tucson' : 'Tucson (Sierra Vista) AZ',
    'Tyler' : 'Tyler-Longview(Lufkin & Nacogdoches) TX',
    'Urban Honolulu' : 'Honolulu HI',
    'Utica-Rome' : 'Utica NY',
    'Virginia Beach-Norfolk-Newport News' : 'Norfolk-Portsmouth-Newport News VA',
    'Warren' : 'Erie PA', # warren pa
    'Washington-Arlington-Alexandria' : 'Washington DC (Hagerstown MD)',
    'Watertown-Fort Drum' : 'Watertown NY',
    'Wheeling' : 'Wheeling WV-Steubenville OH',
    'Wichita' : 'Wichita-Hutchinson KS',
    'Williamsport' : 'Wilkes Barre-Scranton PA', # williamsport pa
    'Worcester' : 'Boston MA-Manchester NH',
    'York-Hanover' : 'Harrisburg-Lancaster-Lebanon-York PA'
}

In [4]:
trendslist=pd.read_csv('../data/googletrends_countries.csv')
trendslist=trendslist[trendslist['country_code']=='US']
trendslist.reset_index(drop=True, inplace = True)
metro_codes = trendslist.iloc[20266:,:].reset_index(drop=True)

In [5]:
metros_to_match = []

In [6]:
for item in metro_dict.values():
    metros_to_match.append(item.lower())

In [7]:
keep_rows = []

In [8]:
for i in range(metro_codes.shape[0]):
    if metro_codes.loc[i, 'name'].lower() in metros_to_match:
        keep_rows.append(i)

In [9]:
metro_codes = metro_codes.loc[keep_rows, :]

In [10]:
metro_code_dict = dict(zip(metro_codes['sub_code'], metro_codes['name'].map(lambda x: x.lower())))

In [11]:
metro_list = metro_codes['sub_code'].map(lambda x: 'US-'+x).tolist()

In [12]:
df2=pd.DataFrame(columns=['date','isPartial','metro_code'])
df2=df2.set_index('date')

for item in metro_list:
    pytrend.build_payload(kw_list, cat=None, timeframe='2014-01-01 2020-01-01', geo=item) 

    df = pytrend.interest_over_time()
    df['metro_code']=item
    df2=df2.append(df)

In [13]:
df3 = df2.copy()

In [14]:
df2['metro_code'] = df2['metro_code'].map(lambda x: x[3:])

In [15]:
df2['Metro'] = df2['metro_code'].map(lambda x: metro_code_dict[x])

In [16]:
df2 = df2.reset_index(drop=False).sort_values(['Metro', 'date'])

In [17]:
zillow = pd.read_csv('./../data/zri_acs_bikeshare_merged.csv')

In [18]:
zillow = pd.DataFrame(zillow['Metro']).drop_duplicates().reset_index(drop=True).rename(columns = {'Metro':'Metro_zillow'})

In [19]:
zillow['Metro'] = zillow['Metro_zillow'].map(lambda x: metro_dict[x].lower())

In [20]:
merged = pd.merge(zillow, df2, on = 'Metro', how = 'left')

In [21]:
merged = merged.drop(columns = ['Metro', 'metro_code']).rename(columns = {'Metro_zillow': 'Metro', 'date':'datetime'})

In [22]:
for item in kw_list:
    merged[f'rel_pop_{item}'] = np.nan

In [23]:
for metro in merged['Metro'].unique():
    temp = merged.loc[merged['Metro']==metro,:]
    max_col = None
    max_pop = 0
    for col in temp.columns[3:3+len(kw_list)]:
        if max(temp[col]) > max_pop:
            max_col = col
            max_pop = max(temp[col])

    for col in temp.columns[3:3+len(kw_list)]:
        temp[f'rel_pop_{col}'] = max(temp[col])
        temp[col] = temp[col] * 100 / max(temp[col])
    merged.loc[merged['Metro']==metro,:] = temp

C:\Users\fayma\AppData\Local\Temp/ipykernel_19168/204249561.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[f'rel_pop_{col}'] = max(temp[col])
C:\Users\fayma\AppData\Local\Temp/ipykernel_19168/204249561.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp[col] = temp[col] * 100 / max(temp[col])

In [24]:
merged

,Metro,datetime,isPartial,Trader Joe's,Whole Foods,Starbucks,Lululemon,thrift,rel_pop_Trader Joe's,rel_pop_Whole Foods,rel_pop_Starbucks,rel_pop_Lululemon,rel_pop_thrift
0,Springfield,2014-01-01,False,22.727273,57.575758,30.0,34.146341,45.161290,22.0,66.0,100.0,41.0,31.0
1,Springfield,2014-02-01,False,50.000000,68.181818,39.0,41.463415,35.483871,22.0,66.0,100.0,41.0,31.0
2,Springfield,2014-03-01,False,22.727273,56.060606,32.0,19.512195,41.935484,22.0,66.0,100.0,41.0,31.0
3,Springfield,2014-04-01,False,77.272727,77.272727,42.0,26.829268,45.161290,22.0,66.0,100.0,41.0,31.0
4,Springfield,2014-05-01,False,31.818182,45.454545,61.0,31.707317,32.258065,22.0,66.0,100.0,41.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9850,Anchorage,2019-09-01,False,33.333333,21.428571,87.0,62.000000,78.787879,9.0,14.0,100.0,50.0,33.0
9851,Anchorage,2019-10-01,False,55.555556,21.428571,56.0,72.000000,24.242424,9.0,14.0,100.0,50.0,33.0
9852,Anchorage,2019-11-01,False,55.555556,35.714286,86.0,48.000000,78.787879,9.0,14.0,100.0,50.0,33.0
9853,Anchorage,2019-12-01,False,33.333333,0.000000,88.0,98.000000,48.484848,9.0,14.0,100.0,50.0,33.0
9854,Anchorage,2020-01-01,False,55.555556,35.714286,57.0,62.000000,24.242424,9.0,14.0,100.0,50.0,33.0

In [25]:
merged.to_csv('./google_terms_gentrification2.csv', index = 0)