In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
guns = pd.read_csv('./../data/google_trend/google_terms_guns.csv')

In [3]:
jobs = pd.read_csv('./../data/google_trend/google_terms_jobs.csv')

In [4]:
lgbt = pd.read_csv('./../data/google_trend/google_terms_lgbt.csv')

In [5]:
social = pd.read_csv('./../data/google_trend/google_terms_social.csv')

In [6]:
travels = pd.read_csv('./../data/google_trend/google_terms_travels.csv')

In [7]:
woty = pd.read_csv('./../data/google_trend/google_terms_woty.csv')

In [8]:
disaster = pd.read_csv('./../data/google_trend/google_terms_disasters.csv')

In [9]:
gentrification = pd.read_csv('./../data/google_trend/google_terms_gentrification2.csv')

In [10]:
multifamily = pd.read_csv('./../data/google_trend/google_terms_multifamily_for_rent.csv')

In [11]:
homes = pd.read_csv('./../data/google_trend/google_terms_homes_for_rent.csv')

In [12]:
apartment = pd.read_csv('./../data/google_trend/google_terms_apartment_for_rent.csv')

In [13]:
df_list = [guns, jobs, lgbt, social, travels, woty, disaster, gentrification, multifamily, homes, apartment]
i=0
ss = StandardScaler()
for item in df_list:
    item.columns = item.columns.map(lambda x: x.lower())
    item.drop(columns = item.columns[8:], inplace=True)
    for col in item.columns[3:]:
        temp = pd.DataFrame(item[col])
        temp = ss.fit_transform(temp)
        item[col] = temp
    item.drop(columns = 'ispartial', inplace = True)
    if i != 0:
        item.drop(columns = ['metro', 'datetime'], inplace = True)
    i+=1

C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:847: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:689: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)
C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:847: RuntimeWarning: invalid value encountered in true_divide
  updated_mean = (last_sum + new_sum) / updated_sample_count
C:\Users\fayma\anaconda3\envs\env1\lib\site-packages\sklearn\utils\extmath.py:689: RuntimeWarning: Degrees of freedom <= 0 for slice.
  result = op(x, *args, **kwargs)

In [14]:
full_trends = pd.concat(df_list, axis = 1).fillna(0)

In [15]:
full_trends_backup = full_trends.copy()

In [16]:
full_trends['starbucks2'] = full_trends['starbucks'].mean(axis=1)

In [17]:
full_trends.drop(columns = 'starbucks', inplace = True)

In [18]:
full_trends.rename(columns = {'starbucks2' : 'starbucks'}, inplace = True)

In [21]:
full_trends.drop(columns = ['tender age shelter', 'tourists attraction', 'gun licence'], inplace = True)

In [22]:
full_trends.rename(columns = {'metro':'Metro'}, inplace = True)

In [23]:
full_trends['year_usable'] = full_trends['datetime'].map(lambda x: int(x[0:4])+1)

In [24]:
full_trends['month'] = full_trends['datetime'].map(lambda x: int(x[5:7]))

In [25]:
# full_trends.to_csv('./../data/google_trends_full.csv', index = False)

In [36]:
df = pd.read_csv('./../data/zri_acs_bikeshare_merged.csv', index_col = 0)

In [38]:
df.reset_index(drop=False, inplace = True)

In [39]:
df = pd.merge(df, full_trends, how = 'left', left_on = ['Metro', 'year', 'month'], right_on = ['Metro', 'year_usable', 'month'])

In [40]:
df=df[df['year']>=2015]

In [45]:
df.drop(columns = 'datetime_y', inplace = True)

In [46]:
df.rename(columns = {'datetime_x':'datetime'}, inplace = True)

In [47]:
bds = pd.read_csv('./../data/bds_updated.csv', index_col = 0)

In [171]:
merged = pd.merge(df, bds, how = 'left', left_on = ['zip', 'State', 'CountyName', 'zri', 'datetime'], right_on = ['zip', 'State', 'CountyName', 'zri', 'year-month'])

In [172]:
merged

,zip,City_x,State,Metro_x,CountyName,zri,year_x,month,datetime,percent_white,...,starbucks,year_usable,City_y,Metro_y,year-month,year_y,total_firms,job_creation_rate,job_destruction_rate,startup_firms
0,1013,Chicopee,MA,Springfield,Hampden County,946.0,2015,1,2015-01-01,0.714892,...,-1.712329,2015.0,Chicopee,Springfield,2015-01-01,2015,7340.000000,10.221000,8.228000,383.0
1,1013,Chicopee,MA,Springfield,Hampden County,950.0,2015,2,2015-02-01,0.715367,...,-1.241616,2015.0,Chicopee,Springfield,2015-02-01,2015,7335.583333,10.078917,8.328083,382.0
2,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,3,2015-03-01,0.715842,...,-1.268533,2015.0,Chicopee,Springfield,2015-03-01,2015,7331.166667,9.936833,8.428167,381.0
3,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,4,2015-04-01,0.716318,...,-0.743268,2015.0,Chicopee,Springfield,2015-04-01,2015,7326.750000,9.794750,8.528250,380.0
4,1013,Chicopee,MA,Springfield,Hampden County,955.0,2015,5,2015-05-01,0.716793,...,-0.248671,2015.0,Chicopee,Springfield,2015-05-01,2015,7322.333333,9.652667,8.628333,379.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78055,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,-0.142827,2019.0,Wasilla,Anchorage,2019-08-01,2019,1750.000000,16.772000,16.359000,161.0
78056,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,0.784471,2019.0,Wasilla,Anchorage,2019-09-01,2019,1750.000000,16.772000,16.359000,161.0
78057,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,1.012645,2019.0,Wasilla,Anchorage,2019-10-01,2019,1750.000000,16.772000,16.359000,161.0
78058,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,2.016323,2019.0,Wasilla,Anchorage,2019-11-01,2019,1750.000000,16.772000,16.359000,161.0
78059,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.534630,2019.0,Wasilla,Anchorage,2019-12-01,2019,1750.000000,16.772000,16.359000,161.0

In [173]:
merged.drop(columns = ['City_y', 'Metro_y', 'year_y', 'year-month'], inplace = True)

In [174]:
merged.rename(columns = {'City_x': 'City', 'Metro_x': 'Metro', 'year_x':'year'}, inplace = True)

In [175]:
merged

,zip,City,State,Metro,CountyName,zri,year,month,datetime,percent_white,...,apartment for rent,studio for rent,1 bedroom for rent,3 bedroom for rent,starbucks,year_usable,total_firms,job_creation_rate,job_destruction_rate,startup_firms
0,1013,Chicopee,MA,Springfield,Hampden County,946.0,2015,1,2015-01-01,0.714892,...,-1.390248,-1.181638,-0.872013,-1.100628,-1.712329,2015.0,7340.000000,10.221000,8.228000,383.0
1,1013,Chicopee,MA,Springfield,Hampden County,950.0,2015,2,2015-02-01,0.715367,...,-0.050671,0.701568,0.097872,-1.100628,-1.241616,2015.0,7335.583333,10.078917,8.328083,382.0
2,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,3,2015-03-01,0.715842,...,-0.172450,-0.475436,-0.872013,-1.100628,-1.268533,2015.0,7331.166667,9.936833,8.428167,381.0
3,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,4,2015-04-01,0.716318,...,0.314669,-1.181638,-0.872013,-1.100628,-0.743268,2015.0,7326.750000,9.794750,8.528250,380.0
4,1013,Chicopee,MA,Springfield,Hampden County,955.0,2015,5,2015-05-01,0.716793,...,-1.755587,-1.181638,-0.872013,-0.049096,-0.248671,2015.0,7322.333333,9.652667,8.628333,379.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78055,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,-0.131857,0.000000,0.000000,0.000000,-0.142827,2019.0,1750.000000,16.772000,16.359000,161.0
78056,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,-0.781349,0.000000,0.000000,0.000000,0.784471,2019.0,1750.000000,16.772000,16.359000,161.0
78057,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,-1.755587,0.000000,0.000000,0.000000,1.012645,2019.0,1750.000000,16.772000,16.359000,161.0
78058,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,-1.106095,0.000000,0.000000,0.000000,2.016323,2019.0,1750.000000,16.772000,16.359000,161.0
78059,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.192889,0.000000,0.000000,0.000000,0.534630,2019.0,1750.000000,16.772000,16.359000,161.0

In [176]:
taxes = pd.read_csv('./../data/final_TAXES_by_zip.csv')

In [177]:
taxes = taxes[taxes['year']>2013]

In [178]:
zips = list(merged['zip'].unique())

In [179]:
taxes = taxes.rename(columns = {'ZIPCODE': 'zip'})

In [180]:
taxes = taxes[taxes['zip'].isin(zips)]

In [181]:
taxes['year_usable'] = taxes['year']+1

In [183]:
taxes.drop(columns = 'year', inplace = True)

In [184]:
taxes

          zip  state_local_perc  month  year_usable
24       1013          0.176793      1         2015
25       1013          0.176313      2         2015
26       1013          0.175832      3         2015
27       1013          0.175352      4         2015
28       1013          0.174872      5         2015
...       ...               ...    ...          ...
109279  99654          0.005540      8         2019
109280  99654          0.005132      9         2019
109281  99654          0.004724     10         2019
109282  99654          0.004316     11         2019
109283  99654          0.003908     12         2019

[78060 rows x 4 columns]

In [185]:
merged2 = pd.merge(merged, taxes, left_on = ['zip', 'year', 'month'], right_on = ['zip', 'year_usable', 'month'], how = 'left')

In [186]:
merged2

,zip,City,State,Metro,CountyName,zri,year,month,datetime,percent_white,...,1 bedroom for rent,3 bedroom for rent,starbucks,year_usable_x,total_firms,job_creation_rate,job_destruction_rate,startup_firms,state_local_perc,year_usable_y
0,1013,Chicopee,MA,Springfield,Hampden County,946.0,2015,1,2015-01-01,0.714892,...,-0.872013,-1.100628,-1.712329,2015.0,7340.000000,10.221000,8.228000,383.0,0.176793,2015
1,1013,Chicopee,MA,Springfield,Hampden County,950.0,2015,2,2015-02-01,0.715367,...,0.097872,-1.100628,-1.241616,2015.0,7335.583333,10.078917,8.328083,382.0,0.176313,2015
2,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,3,2015-03-01,0.715842,...,-0.872013,-1.100628,-1.268533,2015.0,7331.166667,9.936833,8.428167,381.0,0.175832,2015
3,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,4,2015-04-01,0.716318,...,-0.872013,-1.100628,-0.743268,2015.0,7326.750000,9.794750,8.528250,380.0,0.175352,2015
4,1013,Chicopee,MA,Springfield,Hampden County,955.0,2015,5,2015-05-01,0.716793,...,-0.872013,-0.049096,-0.248671,2015.0,7322.333333,9.652667,8.628333,379.0,0.174872,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78055,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,0.000000,0.000000,-0.142827,2019.0,1750.000000,16.772000,16.359000,161.0,0.005540,2019
78056,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,0.000000,0.000000,0.784471,2019.0,1750.000000,16.772000,16.359000,161.0,0.005132,2019
78057,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,0.000000,0.000000,1.012645,2019.0,1750.000000,16.772000,16.359000,161.0,0.004724,2019
78058,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,0.000000,0.000000,2.016323,2019.0,1750.000000,16.772000,16.359000,161.0,0.004316,2019
78059,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.000000,0.000000,0.534630,2019.0,1750.000000,16.772000,16.359000,161.0,0.003908,2019

In [187]:
merged2.drop(columns = ['year_usable_x', 'year_usable_y'], inplace = True)

In [221]:
merged2

,zip,City,State,Metro,CountyName,zri,year,month,datetime,percent_white,...,apartment for rent,studio for rent,1 bedroom for rent,3 bedroom for rent,starbucks,total_firms,job_creation_rate,job_destruction_rate,startup_firms,state_local_perc
0,1013,Chicopee,MA,Springfield,Hampden County,946.0,2015,1,2015-01-01,0.714892,...,-1.390248,-1.181638,-0.872013,-1.100628,-1.712329,7340.000000,10.221000,8.228000,383.0,0.176793
1,1013,Chicopee,MA,Springfield,Hampden County,950.0,2015,2,2015-02-01,0.715367,...,-0.050671,0.701568,0.097872,-1.100628,-1.241616,7335.583333,10.078917,8.328083,382.0,0.176313
2,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,3,2015-03-01,0.715842,...,-0.172450,-0.475436,-0.872013,-1.100628,-1.268533,7331.166667,9.936833,8.428167,381.0,0.175832
3,1013,Chicopee,MA,Springfield,Hampden County,958.0,2015,4,2015-04-01,0.716318,...,0.314669,-1.181638,-0.872013,-1.100628,-0.743268,7326.750000,9.794750,8.528250,380.0,0.175352
4,1013,Chicopee,MA,Springfield,Hampden County,955.0,2015,5,2015-05-01,0.716793,...,-1.755587,-1.181638,-0.872013,-0.049096,-0.248671,7322.333333,9.652667,8.628333,379.0,0.174872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78055,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1277.0,2019,8,2019-08-01,0.796036,...,-0.131857,0.000000,0.000000,0.000000,-0.142827,1750.000000,16.772000,16.359000,161.0,0.005540
78056,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1271.0,2019,9,2019-09-01,0.795709,...,-0.781349,0.000000,0.000000,0.000000,0.784471,1750.000000,16.772000,16.359000,161.0,0.005132
78057,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1299.0,2019,10,2019-10-01,0.795381,...,-1.755587,0.000000,0.000000,0.000000,1.012645,1750.000000,16.772000,16.359000,161.0,0.004724
78058,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1261.5,2019,11,2019-11-01,0.795054,...,-1.106095,0.000000,0.000000,0.000000,2.016323,1750.000000,16.772000,16.359000,161.0,0.004316
78059,99654,Wasilla,AK,Anchorage,Matanuska Susitna Borough,1224.0,2019,12,2019-12-01,0.794726,...,0.192889,0.000000,0.000000,0.000000,0.534630,1750.000000,16.772000,16.359000,161.0,0.003908

In [223]:
# merged2.to_csv('./../data/full_dataset_unscaled.csv', index = False)