In [5]:
import tensorflow as tf;
import numpy as np;
import matplotlib.pyplot as plt;
print(tf.__version__);
import pandas as pd;

from sklearn.metrics import mean_squared_error;

SyntaxError: invalid syntax (<ipython-input-5-4d5d0ecf695b>, line 1)

In [6]:
from tensorflow.python.client import device_lib

def get_available_gpus():
    local_device_protos = device_lib.list_local_devices()
    return [x.name for x in local_device_protos if x.device_type == 'GPU']

In [7]:
get_available_gpus()

[]

In [2]:
import warnings

with warnings.catch_warnings():
    warnings.simplefilter("ignore")

In [3]:
# tf.debugging.set_log_device_placement(True)

In [4]:
multi_data = pd.read_csv('../data/zri_multifamily_v2.csv');
zip_ids = multi_data["zip"].unique();

In [5]:
MONTHS = 72;
SPLIT = 60; # 2014-2018: training, 2019: testing.
BATCH_SIZE = 4;
WINDOW_SIZE = 6;

TEST_LENGTH = MONTHS - SPLIT;

In [6]:
def windowed_dataset(series, window_size, batch_size, shuffle_buffer):
    dataset = tf.data.Dataset.from_tensor_slices(series)
    dataset = dataset.window(window_size + 1, shift=1, drop_remainder=True)
    dataset = dataset.flat_map(lambda window: window.batch(window_size + 1))
    dataset = dataset.shuffle(shuffle_buffer).map(lambda window: (window[:-1], window[-1]))
    dataset = dataset.batch(batch_size).prefetch(1)
    return dataset

In [7]:
def NN_model(dataset):
    tf.keras.backend.clear_session()
    # dataset = windowed_dataset(x_train, window_size, batch_size, shuffle_buffer_size)

    model = tf.keras.models.Sequential([
        tf.keras.layers.Lambda(lambda x: tf.expand_dims(x, axis=-1),
                          input_shape=[None]),
    #   tf.keras.layers.Conv1D(filters=16, kernel_size=3,
    #                       strides=1, padding="causal",
    #                       activation="relu",
    #                       input_shape=[None, 1]),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(16, return_sequences=True)),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(16, return_sequences=True)),
        #  tf.keras.layers.SimpleRNN(16, return_sequences=True),
        #  tf.keras.layers.SimpleRNN(16, return_sequences=True),
    #   tf.keras.layers.Dense(16, activation="relu"),
    #   tf.keras.layers.Dense(16, activation="relu"),
        tf.keras.layers.Dense(1),
        tf.keras.layers.Lambda(lambda x: x * 2.0)
    ])

    optimizer = tf.keras.optimizers.SGD(learning_rate=3e-4, momentum=0.9)
    model.compile(loss=tf.keras.losses.Huber(),
                  optimizer="adam",
                  metrics=["mae", "mse"])
    history = model.fit(dataset, epochs=500, verbose = 0);
    return model;

In [8]:
def NN_forecast(model, single_city_series):
    forecast = []
    results = []
    for time in range(len(single_city_series) - WINDOW_SIZE):
        forecast.append(model.predict(single_city_series[time:time + WINDOW_SIZE][np.newaxis]))

    #print(forecast)

    # forecast = forecast[SPLIT - WINDOW_SIZE:]
    results = np.array(forecast)[:, 0, 0]
    actual = single_city_series[WINDOW_SIZE:]
    time_actual = range(WINDOW_SIZE, len(single_city_series));

    pure_forecast = list(single_city_series[SPLIT - WINDOW_SIZE: SPLIT]);
    for time in range(SPLIT, len(single_city_series)):
        # print(model.predict(pure_forecast[-WINDOW_SIZE:][np.newaxis]))
        pure_forecast.append(np.array(model.predict(np.array(pure_forecast[-WINDOW_SIZE:])[np.newaxis]))[0][0][0])
    pure_forecast = np.array(pure_forecast[WINDOW_SIZE:]);

    return results, actual, pure_forecast;

In [36]:
@tf.autograph.experimental.do_not_convert
def NN_test(ZONE):
    '''
    Input: ZONE
    Output: the RMSE of a NN model on the predicted train, partially predicted test, and complete predicted test.
    '''
    # Collection of data
    single_city_data = multi_data[multi_data["zip"] == ZONE];
    single_city_series = np.array(single_city_data["zri"]);
    
    # Standardization
    single_city_series_mean = single_city_series.mean();
    single_city_series_std = single_city_series.std();

    single_city_series = (single_city_series - single_city_series_mean)/\
    single_city_series_std;
    
    # Train test split
    single_city_train = single_city_series[:SPLIT];
    single_city_test = single_city_series[SPLIT:];
    
    # Window the training set to make input of the NN
    dataset = windowed_dataset(single_city_train, WINDOW_SIZE, BATCH_SIZE, 60);
    model = NN_model(dataset);
    
    time_train = list(range(SPLIT));
    time_test = list(range(SPLIT, len(single_city_series)));
    
    # Forecasting
    results, actual, pure_forecast = NN_forecast(model, single_city_series);
    
    # Compute MSE
    MSE_train = mean_squared_error(actual[:-TEST_LENGTH], results[:-TEST_LENGTH])**0.5 * single_city_series_std;
    MSE_test = mean_squared_error(actual[-TEST_LENGTH:], results[-TEST_LENGTH:])**0.5 * single_city_series_std;
    MSE_pure = mean_squared_error(actual[-TEST_LENGTH:], pure_forecast[-TEST_LENGTH:])**0.5 * single_city_series_std;

    return MSE_train, MSE_test, MSE_pure;

In [10]:
# ZONE = 11050;
# with tf.device('/GPU:1'):
#     %time M_train, M_test, M_pure = NN_test(11050);

In [38]:
# score_dict = {"zip":[], "RMSE_train":[], "RMSE_test":[], "RMSE_pure":[]};
for ZONE in zip_ids[80:100]:
    # @tf.autograph.experimental.do_not_convert
    %time M_train, M_test, M_pure = NN_test(ZONE);
    print(ZONE, M_train, M_test, M_pure);
    
    score_dict["zip"].append(ZONE);
    score_dict["RMSE_train"].append(M_train);
    score_dict["RMSE_test"].append(M_test);
    score_dict["RMSE_pure"].append(M_pure);

Wall time: 40.1 s
2171 10.098839899350098 23.781687888690282 34.82469171474734
Wall time: 38.9 s
2176 13.681975283783459 86.6782220558549 137.13205430032463
Wall time: 35.6 s
2184 13.700445996724275 26.578455158878963 98.08577096887959
Wall time: 36 s
2210 15.677227673503474 235.09357682226795 198.23610569231573
Wall time: 34.7 s
2215 15.923420389722926 101.9758159448398 136.57908480573835
Wall time: 35.4 s
2301 18.808529199983884 31.683275605945433 75.42045276220445
Wall time: 36.3 s
2302 9.00731979227754 27.275937924334446 39.09364047206697
Wall time: 35.8 s
2360 11.079577758292107 32.221725275782426 99.42050290515948
Wall time: 34.8 s
2445 10.881034124589405 51.6293691279428 119.64962665956406
Wall time: 35.8 s
2446 9.687786769485061 84.40144795839784 72.97755462930269
Wall time: 37.2 s
2451 8.842505460243453 48.91230166895163 115.26376913735672
Wall time: 35.4 s
2453 11.11757317136014 44.12391189157893 83.31043081050431
Wall time: 35.5 s
2458 6.696918920517107 44.792637630020295 89.90089695494426
Wall time: 35.1 s
2460 12.032196327283216 63.65549393701687 137.583622047244
Wall time: 34.7 s
2472 9.937259485109442 61.67300979377812 100.90528321814719
Wall time: 34.7 s
2474 10.18058137591897 33.831981080419446 59.59605312711531
Wall time: 35.2 s
2476 12.799861369598897 65.65016150402064 99.21222368393646
Wall time: 35.9 s
2478 9.934154570767008 73.21109974673278 214.3132651665585
Wall time: 35.9 s
2494 25.399230545102064 70.81402382444281 78.00993925372688
Wall time: 35.9 s
2703 10.255806697340915 39.26551555457242 61.59534516200446

In [39]:
print(len(score_dict["RMSE_pure"]), sum(score_dict["RMSE_pure"])/len(score_dict["RMSE_pure"]));

100 90.77862133503896

In [40]:
test = pd.DataFrame(score_dict)

In [35]:
test.head(50)

     zip  RMSE_train   RMSE_test   RMSE_pure
0   1013    6.547411   13.259700   21.821001
1   1020    6.721370   28.159768   39.378511
2   1040    6.190981   15.454253   42.897026
3   1085    6.707341   28.105983   34.235139
4   1104    9.726347   20.828578   28.879755
5   1108    6.453867   24.347008   27.943128
6   1109    7.874041   18.629411   36.359158
7   1420    6.399677   50.914301   80.277967
8   1440    6.589762  175.134164  151.288363
9   1453    7.249337   13.032851   15.845272
10  1545   10.954884   32.383734   77.808824
11  1550    8.089703   25.701654   73.630288
12  1602    5.584181    9.431837   12.390369
13  1603    8.175701    7.086515    7.636753
14  1604    4.717741    9.268281   10.348797
15  1605    4.351485   13.175302   27.745091
16  1610    7.343841   11.984446   14.416654
17  1702   15.975206   62.381158   82.044666
18  1752   14.157455   59.136656   87.662182
19  1757    7.439995   34.638446   43.964098
20  1760   14.008628  108.231893  187.809633
21  1801   11.711309   49.636323   70.258020
22  1830    9.311052    7.645490   16.511010
23  1832    6.136939   15.035471   29.528071
24  1841    6.143658   25.405689  121.893297
25  1843    8.839360   35.055587  140.587516
26  1844    9.684316   30.548465  122.966176
27  1845    8.406760   20.125392   37.346748
28  1850   12.410377   62.108361   82.928235
29  1851   11.870475   39.222584   59.177988
30  1852   10.819933   70.187274   78.153426
31  1854   12.960405  101.457513  109.477286
32  1876   15.238950   30.644610   93.478688
33  1880   17.082391   44.827479   54.169789
34  1902   10.603813  106.394811  122.620247
35  1905   11.366569   72.239841   78.949588
36  1915   10.101106   73.024073   82.177000
37  1930    9.360194   15.362821   27.853758
38  1960    9.345330   62.790115   67.075770
39  1970   15.919091   54.747396   70.061275
40  2026   12.307909   43.499326   70.676095
41  2062   10.959428   36.934054  113.863855
42  2072    8.600591   30.553443   30.370116
43  2111   11.496081  204.972595  167.987996
44  2113    8.414406   91.794536  127.538697
45  2114    7.289049  107.854721   99.108480
46  2115    9.154584  190.035799  129.794831
47  2116    8.902702  346.479563  200.431868
48  2118   12.508836   88.122104   80.976159
49  2119   17.358461   35.470763   86.605843

In [33]:
list((multi_data["zip"].unique()))[:30]

[1013,
 1020,
 1040,
 1085,
 1104,
 1108,
 1109,
 1420,
 1440,
 1453,
 1545,
 1550,
 1602,
 1603,
 1604,
 1605,
 1610,
 1702,
 1752,
 1757,
 1760,
 1801,
 1830,
 1832,
 1841,
 1843,
 1844,
 1845,
 1850,
 1851]

In [34]:
multi_data.head()

    zip      City State        Metro      CountyName year-month    zri
0  1013  Chicopee    MA  Springfield  Hampden County    2014-01  928.0
1  1013  Chicopee    MA  Springfield  Hampden County    2014-02  931.0
2  1013  Chicopee    MA  Springfield  Hampden County    2014-03  934.0
3  1013  Chicopee    MA  Springfield  Hampden County    2014-04  929.0
4  1013  Chicopee    MA  Springfield  Hampden County    2014-05  929.0