In [ ]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
print(tf.__version__)

In [2]:
import numpy as np;
import pandas as pd;

In [ ]:
multi_data = pd.read_csv('../data/zri_multifamily_v2.csv', index_col = 0);

In [ ]:
ZONE = 1013;
SPLIT = 60; # 2014-2018: training, 2019: testing.
BATCH_SIZE = 8;
WINDOW_SIZE = 12;

In [ ]:
single_city_data = multi_data[multi_data.index == ZONE];

In [ ]:
single_city_series = np.array(single_city_data["zri"])

In [ ]:
single_city_train = single_city_series[:SPLIT];
single_city_test = single_city_series[SPLIT:];

In [ ]:
def windowed_dataset(series, window_size, batch_size, shuffle_buffer):
    dataset = tf.data.Dataset.from_tensor_slices(series)
    dataset = dataset.window(window_size + 1, shift=1, drop_remainder=True)
    dataset = dataset.flat_map(lambda window: window.batch(window_size + 1))
    dataset = dataset.shuffle(shuffle_buffer).map(lambda window: (window[:-1], window[-1]))
    dataset = dataset.batch(batch_size).prefetch(1)
    return dataset

In [ ]:
temp = windowed_dataset(single_city_train, WINDOW_SIZE, BATCH_SIZE, 4)

In [3]:
NN_1_pd = pd.read_csv('./NN_1.csv', index_col = 0);

In [4]:
for i in range(2,3):
    temp = pd.read_csv('./NN_{}.csv'.format(i), index_col = 0);
    NN_1_pd = pd.concat([NN_1_pd, temp], axis = 0);

In [5]:
NN_1_pd.describe()

        RMSE_train    RMSE_test    RMSE_pure
count  1302.000000  1302.000000  1302.000000
mean      7.278545    52.037030    63.325435
std       4.370064    44.959590    51.305926
min       0.835454     3.366397     3.651505
25%       4.213621    23.185900    28.657435
50%       6.210552    37.476439    46.773726
75%       9.243207    64.001536    81.726586
max      42.022008   379.465871   372.691826

In [6]:
NN_1_pd.to_csv('NN_1_window_12_maxoverfit_63.33.csv', index = False)

In [15]:
NN_1_pd.sort_values("RMSE_pure", ascending = False, inplace = True)

In [16]:
NN_1_pd.head(50)

,RMSE_train,RMSE_test,RMSE_pure,forecast
zip,,,,
95928,9.932908,930.597307,598.389780,[1348.3163 1053.8423 948.82556 952.66345 ...
90034,14.356650,37.939498,567.081056,[2616.6743 2546.6365 2442.3362 2321.5083 2213....
33706,9.735983,154.839692,465.738396,[1519.8743 1519.5657 1500.925 1459.8 1...
92123,13.247541,71.915119,446.547315,[2252.7734 2196.53 2103.878 1979.1663 1865....
76006,7.423790,343.313974,412.294219,[1019.4907 959.1782 849.57935 717.42944 ...
90270,22.482006,122.094585,391.641137,[2235.8696 2264.1233 2300.391 2333.5276 2347....
90640,15.991424,133.495006,366.912427,[2153.878 2192.2546 2255.3494 2288.2502 2319....
90255,23.222581,96.076967,359.685381,[2204.182 2047.5607 2025.5354 2164.1418 2298....
11542,8.119495,75.521963,355.563804,[2338.3445 2314.8718 2279.0664 2229.8472 2168....
33708,13.069670,189.201552,347.908538,[1638.6846 1756.4088 1908.6073 2006.1077 2045....
95116,17.731438,136.718455,343.345931,[2558.6006 2545.1936 2519.3547 2476.8232 2413....
20002,13.225796,55.203787,321.285632,[2132.5042 2108.2139 2070.7131 2020.275 1963....
60607,9.874560,51.287705,318.775398,[1991.8342 1963.743 1932.2295 1888.1962 1816....
30318,5.197829,26.319172,318.230939,[1441.7008 1436.4343 1423.8 1401.622 1...
90723,18.507432,223.618662,310.005028,[2250.2588 2195.1233 2201.8306 2246.5981 2305....
20020,12.386552,42.973654,300.618937,[1686.2976 1702.2697 1732.2639 1780.1589 1830....
63105,13.802417,74.638972,296.290748,[1179.2682 1156.8711 1129.5819 1096.2507 1...
90262,23.075716,121.101405,287.749532,[2191.6057 2205.6743 2247.218 2277.8188 2293....
92677,14.227893,20.407519,278.870415,[2417.4106 2314.208 2262.1052 2302.7 2400....
90292,18.641019,120.762662,278.412115,[3122.3613 3110.0176 3093.3752 3072.7097 3049....
91730,17.757840,38.740265,278.320103,[1675.5299 1661.5616 1633.1448 1599.1272 1568....
59718,11.238875,179.644900,271.457288,[1455.1333 1439.8723 1420.7498 1400.8146 1381....
90023,22.243587,52.649466,270.865276,[2278.5137 2286.1145 2297.9434 2310.92 2320....
1603,9.723206,16.831101,268.581245,[1300.0332 1296.6871 1289.8064 1279.1736 1...
90802,19.997014,76.971860,251.418996,[1971.8948 1956.6687 1938.503 1918.5928 1897....
32205,6.740992,319.882843,250.738201,[889.8829 844.13416 817.1748 763.5297 735.1...
75206,6.888729,25.551493,250.351341,[1348.163 1310.3606 1237.5276 1165.8137 1126....
90501,17.370531,50.669343,249.957280,[2196.5383 2223.2822 2251.93 2282.9941 2313....
94025,22.276420,39.839228,249.506099,[3362.9766 3366.039 3360.5552 3347.7854 3325....
90037,20.298588,90.547543,248.689907,[2287.8132 2291.823 2339.1357 2374.5132 2385....
33313,8.277823,17.969971,246.295136,[1429.1497 1397.4216 1351.8173 1318.039 1289....
76116,6.888108,28.548528,245.956320,[1179.6779 1175.6628 1168.1473 1150.6064 1...
80033,7.942189,79.236166,245.189134,[1273.1976 1256.7493 1233.1638 1201.3796 1...
60616,12.342549,179.855707,238.745585,[1630.143 1567.394 1490.9192 1434.0914 1432....
92104,7.613325,108.286382,233.214655,[1813.9989 1802.4539 1788.71 1774.1404 1762....
90033,18.170032,82.507652,233.150970,[2310.6448 2315.2742 2321.4646 2328.488 2335....
90002,22.915815,68.474623,231.178034,[2296.6838 2310.9158 2357.1853 2407.4424 2434....
2139,11.409068,50.455150,227.633192,[2605.2747 2564.102 2514.8257 2466.6924 2423....
2111,10.738912,213.329417,224.227818,[2841.6577 2797.7502 2773.2307 2758.9583 2747....
2215,15.185381,115.566598,220.894221,[2366.6526 2373.5264 2374.8816 2369.6313 2361....
86314,8.284123,92.670673,218.591954,[1102.3667 1141.7064 1191.0834 1246.975 1297....
32935,18.691094,35.095392,218.500696,[1177.4718 1164.3812 1146.8234 1122.1588 1...
90247,12.992328,43.957491,217.540163,[2377.7693 2376.618 2377.3596 2380.6416 2383....
78701,13.313477,122.258234,215.130786,[2197.4565 2175.5679 2110.6492 2127.8472 2141....
2478,9.059945,45.093384,214.966354,[2429.3806 2422.3547 2423.0051 2435.1594 2444....
92507,8.885665,68.433845,209.424879,[1465.0906 1458.2441 1448.8379 1437.8949 1426....
94115,16.409657,65.452039,206.416478,[3474.0098 3466.9695 3441.7188 3422.211 3420....
90065,25.122805,72.536395,204.770747,[2433.0566 2435.8271 2438.5933 2441.5483 2444....
2116,9.069412,281.846327,202.876084,[2786.7175 2751.3328 2722.3145 2703.5327 2668....
76137,9.152106,95.644389,202.728311,[1299.0906 1327.6208 1361.9651 1398.6057 1432....