In [21]:
import pandas as pd
import numpy as np

from datetime import datetime

pd.set_option('display.max_rows', 500)

In [22]:
df=pd.read_csv('../data/acs_5yr_merged.csv')

In [25]:
df.dtypes

geo_id                                                              int64
do_date                                                             int64
nonfamily_households                                                int64
family_households                                                   int64
median_year_structure_built                                       float64
rent_burden_not_computed                                          float64
rent_over_50_percent                                              float64
rent_40_to_50_percent                                             float64
rent_35_to_40_percent                                             float64
rent_30_to_35_percent                                             float64
rent_25_to_30_percent                                             float64
rent_20_to_25_percent                                             float64
rent_15_to_20_percent                                             float64
rent_10_to_15_percent                                             float64
rent_under_10_percent                                             float64
total_pop                                                           int64
male_pop                                                            int64
female_pop                                                          int64
median_age                                                        float64
white_pop                                                           int64
black_pop                                                           int64
asian_pop                                                           int64
hispanic_pop                                                        int64
amerindian_pop                                                      int64
other_race_pop                                                      int64
two_or_more_races_pop                                               int64
not_hispanic_pop                                                    int64
commuters_by_public_transportation                                float64
households                                                          int64
median_income                                                     float64
income_per_capita                                                 float64
housing_units                                                       int64
vacant_housing_units                                                int64
vacant_housing_units_for_rent                                       int64
vacant_housing_units_for_sale                                       int64
median_rent                                                       float64
percent_income_spent_on_rent                                      float64
owner_occupied_housing_units                                        int64
million_dollar_housing_units                                        int64
mortgaged_housing_units                                             int64
families_with_young_children                                      float64
two_parent_families_with_young_children                           float64
two_parents_in_labor_force_families_with_young_children           float64
two_parents_father_in_labor_force_families_with_young_children    float64
two_parents_mother_in_labor_force_families_with_young_children    float64
two_parents_not_in_labor_force_families_with_young_children       float64
one_parent_families_with_young_children                           float64
father_one_parent_families_with_young_children                    float64
father_in_labor_force_one_parent_families_with_young_children     float64
commute_10_14_mins                                                float64
commute_15_19_mins                                                float64
commute_20_24_mins                                                float64
commute_25_29_mins                                                float64
commute_30_34_mins                                                float64
commute_45_59_mins                                                float64
aggregate_travel_time_to_work                                     float64
income_less_10000                                                 float64
income_10000_14999                                                float64
income_15000_19999                                                float64
income_20000_24999                                                float64
income_25000_29999                                                float64
income_30000_34999                                                float64
income_35000_39999                                                float64
income_40000_44999                                                float64
income_45000_49999                                                float64
income_50000_59999                                                float64
income_60000_74999                                                float64
income_75000_99999                                                float64
income_100000_124999                                              float64
income_125000_149999                                              float64
income_150000_199999                                              float64
income_200000_or_more                                             float64
renter_occupied_housing_units_paying_cash_median_gross_rent       float64
owner_occupied_housing_units_lower_value_quartile                 float64
owner_occupied_housing_units_median_value                         float64
owner_occupied_housing_units_upper_value_quartile                 float64
married_households                                                  int64
occupied_housing_units                                              int64
housing_units_renter_occupied                                       int64
dwellings_1_units_detached                                          int64
dwellings_1_units_attached                                          int64
dwellings_2_units                                                   int64
dwellings_3_to_4_units                                              int64
dwellings_5_to_9_units                                              int64
dwellings_10_to_19_units                                            int64
dwellings_20_to_49_units                                            int64
dwellings_50_or_more_units                                          int64
mobile_homes                                                        int64
housing_built_2005_or_later                                         int64
housing_built_2000_to_2004                                          int64
housing_built_1939_or_earlier                                       int64
male_under_5                                                        int64
male_5_to_9                                                         int64
male_10_to_14                                                       int64
male_15_to_17                                                       int64
male_18_to_19                                                       int64
male_20                                                             int64
male_21                                                             int64
male_22_to_24                                                       int64
male_25_to_29                                                       int64
male_30_to_34                                                       int64
male_35_to_39                                                       int64
male_40_to_44                                                       int64
male_45_to_49                                                       int64
male_50_to_54                                                       int64
male_55_to_59                                                       int64
male_60_61                                                        float64
male_62_64                                                        float64
male_65_to_66                                                       int64
male_67_to_69                                                       int64
male_70_to_74                                                       int64
male_75_to_79                                                       int64
male_80_to_84                                                       int64
male_85_and_over                                                    int64
female_under_5                                                      int64
female_5_to_9                                                       int64
female_10_to_14                                                     int64
female_15_to_17                                                     int64
female_18_to_19                                                     int64
female_20                                                           int64
female_21                                                           int64
female_22_to_24                                                     int64
female_25_to_29                                                     int64
female_30_to_34                                                     int64
female_35_to_39                                                     int64
female_40_to_44                                                     int64
female_45_to_49                                                     int64
female_50_to_54                                                     int64
female_55_to_59                                                     int64
female_60_to_61                                                     int64
female_62_to_64                                                     int64
female_65_to_66                                                     int64
female_67_to_69                                                     int64
female_70_to_74                                                     int64
female_75_to_79                                                     int64
female_80_to_84                                                     int64
female_85_and_over                                                  int64
white_including_hispanic                                          float64
black_including_hispanic                                          float64
amerindian_including_hispanic                                     float64
asian_including_hispanic                                          float64
commute_5_9_mins                                                  float64
commute_35_39_mins                                                float64
commute_40_44_mins                                                float64
commute_60_89_mins                                                float64
commute_90_more_mins                                              float64
households_retirement_income                                      float64
armed_forces                                                      float64
civilian_labor_force                                              float64
employed_pop                                                      float64
unemployed_pop                                                    float64
not_in_labor_force                                                float64
pop_16_over                                                       float64
pop_in_labor_force                                                float64
asian_male_45_54                                                    int64
asian_male_55_64                                                    int64
black_male_45_54                                                    int64
black_male_55_64                                                    int64
hispanic_male_45_54                                                 int64
hispanic_male_55_64                                                 int64
white_male_45_54                                                    int64
white_male_55_64                                                    int64
bachelors_degree_2                                                float64
bachelors_degree_or_higher_25_64                                  float64
children                                                            int64
children_in_single_female_hh                                        int64
commuters_by_bus                                                  float64
commuters_by_car_truck_van                                        float64
commuters_by_carpool                                              float64
commuters_by_subway_or_elevated                                   float64
commuters_drove_alone                                             float64
different_house_year_ago_different_city                           float64
different_house_year_ago_same_city                                float64
employed_agriculture_forestry_fishing_hunting_mining              float64
employed_arts_entertainment_recreation_accommodation_food         float64
employed_construction                                             float64
employed_education_health_social                                  float64
employed_finance_insurance_real_estate                            float64
employed_information                                              float64
employed_manufacturing                                            float64
employed_other_services_not_public_admin                          float64
employed_public_administration                                    float64
employed_retail_trade                                             float64
employed_science_management_admin_waste                           float64
employed_transportation_warehousing_utilities                     float64
employed_wholesale_trade                                          float64
female_female_households                                            int64
four_more_cars                                                    float64
gini_index                                                        float64
graduate_professional_degree                                      float64
group_quarters                                                      int64
high_school_including_ged                                         float64
households_public_asst_or_food_stamps                             float64
in_grades_1_to_4                                                    int64
in_grades_5_to_8                                                    int64
in_grades_9_to_12                                                   int64
in_school                                                           int64
in_undergrad_college                                                int64
less_than_high_school_graduate                                    float64
male_45_64_associates_degree                                        int64
male_45_64_bachelors_degree                                         int64
male_45_64_graduate_degree                                          int64
male_45_64_less_than_9_grade                                        int64
male_45_64_grade_9_12                                               int64
male_45_64_high_school                                              int64
male_45_64_some_college                                             int64
male_45_to_64                                                       int64
male_male_households                                                int64
management_business_sci_arts_employed                             float64
no_car                                                            float64
no_cars                                                           float64
not_us_citizen_pop                                                float64
occupation_management_arts                                        float64
occupation_natural_resources_construction_maintenance             float64
occupation_production_transportation_material                     float64
occupation_sales_office                                           float64
occupation_services                                               float64
one_car                                                           float64
two_cars                                                          float64
three_cars                                                        float64
pop_25_64                                                         float64
pop_determined_poverty_status                                     float64
population_1_year_and_over                                        float64
population_3_years_over                                             int64
poverty                                                           float64
sales_office_employed                                             float64
some_college_and_associates_degree                                float64
walked_to_work                                                    float64
worked_at_home                                                    float64
workers_16_and_over                                               float64
associates_degree                                                 float64
bachelors_degree                                                  float64
high_school_diploma                                               float64
less_one_year_college                                             float64
masters_degree                                                    float64
one_year_more_college                                             float64
pop_25_years_over                                                 float64
commute_35_44_mins                                                float64
commute_60_more_mins                                              float64
commute_less_10_mins                                              float64
commuters_16_over                                                 float64
hispanic_any_race                                                   int64
pop_5_years_over                                                  float64
speak_only_english_at_home                                        float64
speak_spanish_at_home                                             float64
speak_spanish_at_home_low_english                                 float64
pop_15_and_over                                                   float64
pop_never_married                                                 float64
pop_now_married                                                   float64
pop_separated                                                     float64
pop_widowed                                                       float64
pop_divorced                                                      float64
dtype: object

In [23]:
df.head().T

,0,1,2,3,4
geo_id,6.010000e+02,6.010000e+02,6.010000e+02,6.010000e+02,6.010000e+02
do_date,2.007201e+07,2.008201e+07,2.009201e+07,2.010201e+07,2.011202e+07
nonfamily_households,1.172000e+03,1.225000e+03,1.385000e+03,1.458000e+03,1.576000e+03
family_households,4.038000e+03,4.252000e+03,4.395000e+03,4.362000e+03,4.396000e+03
median_year_structure_built,1.980000e+03,1.980000e+03,1.981000e+03,1.982000e+03,1.982000e+03
rent_burden_not_computed,7.770000e+02,1.054000e+03,1.172000e+03,1.554000e+03,1.695000e+03
rent_over_50_percent,2.440000e+02,3.030000e+02,3.340000e+02,3.450000e+02,4.250000e+02
rent_40_to_50_percent,8.800000e+01,7.800000e+01,4.800000e+01,5.800000e+01,7.800000e+01
rent_35_to_40_percent,7.700000e+01,7.200000e+01,1.250000e+02,1.150000e+02,6.900000e+01
rent_30_to_35_percent,9.600000e+01,1.100000e+02,1.080000e+02,8.200000e+01,9.900000e+01
rent_25_to_30_percent,5.100000e+01,3.900000e+01,7.300000e+01,7.100000e+01,6.700000e+01
rent_20_to_25_percent,1.010000e+02,9.300000e+01,8.600000e+01,5.200000e+01,5.500000e+01
rent_15_to_20_percent,5.900000e+01,6.600000e+01,7.400000e+01,8.900000e+01,7.900000e+01
rent_10_to_15_percent,8.100000e+01,9.700000e+01,9.800000e+01,8.800000e+01,1.340000e+02
rent_under_10_percent,1.800000e+01,4.000000e+01,5.900000e+01,5.900000e+01,6.800000e+01
total_pop,1.853300e+04,1.854400e+04,1.845000e+04,1.808800e+04,1.798200e+04
male_pop,8.971000e+03,9.040000e+03,8.983000e+03,8.824000e+03,8.788000e+03
female_pop,9.562000e+03,9.504000e+03,9.467000e+03,9.264000e+03,9.194000e+03
median_age,3.520000e+01,3.640000e+01,3.660000e+01,3.710000e+01,3.760000e+01
white_pop,1.500000e+02,1.280000e+02,1.000000e+02,3.500000e+01,4.000000e+01
black_pop,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
asian_pop,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
hispanic_pop,1.836000e+04,1.839800e+04,1.835000e+04,1.805300e+04,1.794200e+04
amerindian_pop,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
other_race_pop,2.300000e+01,1.800000e+01,0.000000e+00,0.000000e+00,0.000000e+00
two_or_more_races_pop,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
not_hispanic_pop,1.730000e+02,1.460000e+02,1.000000e+02,3.500000e+01,4.000000e+01
commuters_by_public_transportation,7.000000e+00,7.000000e+00,7.000000e+00,0.000000e+00,0.000000e+00
households,5.210000e+03,5.477000e+03,5.780000e+03,5.820000e+03,5.972000e+03
median_income,1.331800e+04,1.349500e+04,1.204100e+04,1.083300e+04,1.081600e+04
income_per_capita,6.967000e+03,7.283000e+03,7.380000e+03,7.229000e+03,7.453000e+03
housing_units,6.503000e+03,6.762000e+03,7.016000e+03,7.156000e+03,7.318000e+03
vacant_housing_units,1.293000e+03,1.285000e+03,1.236000e+03,1.336000e+03,1.346000e+03
vacant_housing_units_for_rent,8.100000e+01,5.300000e+01,5.700000e+01,8.500000e+01,8.200000e+01
vacant_housing_units_for_sale,1.380000e+02,1.410000e+02,1.300000e+02,1.160000e+02,6.800000e+01
median_rent,2.950000e+02,2.760000e+02,2.850000e+02,2.820000e+02,2.760000e+02
percent_income_spent_on_rent,3.510000e+01,3.530000e+01,3.520000e+01,3.670000e+01,3.750000e+01
owner_occupied_housing_units,3.618000e+03,3.525000e+03,3.603000e+03,3.307000e+03,3.203000e+03
million_dollar_housing_units,3.000000e+01,2.800000e+01,9.000000e+00,9.000000e+00,9.000000e+00
mortgaged_housing_units,6.840000e+02,6.320000e+02,6.650000e+02,6.050000e+02,6.550000e+02
families_with_young_children,1.275000e+03,1.284000e+03,1.296000e+03,1.241000e+03,1.172000e+03
two_parent_families_with_young_children,5.690000e+02,4.950000e+02,4.910000e+02,4.090000e+02,3.630000e+02
two_parents_in_labor_force_families_with_young_children,2.720000e+02,2.300000e+02,2.250000e+02,2.280000e+02,2.770000e+02
two_parents_father_in_labor_force_families_with_young_children,2.250000e+02,1.520000e+02,1.480000e+02,1.170000e+02,3.700000e+01
two_parents_mother_in_labor_force_families_with_young_children,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
two_parents_not_in_labor_force_families_with_young_children,7.200000e+01,1.130000e+02,1.180000e+02,6.400000e+01,4.900000e+01
one_parent_families_with_young_children,7.060000e+02,7.890000e+02,8.050000e+02,8.320000e+02,8.090000e+02
father_one_parent_families_with_young_children,1.250000e+02,1.550000e+02,1.650000e+02,2.600000e+02,1.930000e+02
father_in_labor_force_one_parent_families_with_young_children,1.250000e+02,1.340000e+02,1.440000e+02,2.360000e+02,1.560000e+02
commute_10_14_mins,7.120000e+02,5.910000e+02,4.540000e+02,4.570000e+02,4.730000e+02
commute_15_19_mins,4.530000e+02,5.060000e+02,4.240000e+02,3.940000e+02,4.060000e+02
commute_20_24_mins,3.910000e+02,3.580000e+02,3.950000e+02,3.670000e+02,3.230000e+02
commute_25_29_mins,2.060000e+02,2.130000e+02,1.550000e+02,1.380000e+02,8.400000e+01
commute_30_34_mins,7.710000e+02,7.600000e+02,8.080000e+02,7.920000e+02,7.940000e+02
commute_45_59_mins,3.070000e+02,3.750000e+02,4.100000e+02,4.500000e+02,4.680000e+02
aggregate_travel_time_to_work,1.225150e+05,1.225200e+05,1.197800e+05,1.137800e+05,1.139100e+05
income_less_10000,2.232000e+03,2.351000e+03,2.659000e+03,2.797000e+03,2.873000e+03
income_10000_14999,5.890000e+02,5.850000e+02,6.130000e+02,6.840000e+02,7.160000e+02
income_15000_19999,4.080000e+02,4.550000e+02,4.710000e+02,4.070000e+02,4.480000e+02
income_20000_24999,4.220000e+02,3.810000e+02,3.740000e+02,3.430000e+02,3.180000e+02
income_25000_29999,3.020000e+02,3.330000e+02,3.530000e+02,2.620000e+02,2.620000e+02
income_30000_34999,2.780000e+02,2.740000e+02,2.100000e+02,2.630000e+02,2.520000e+02
income_35000_39999,2.190000e+02,2.810000e+02,2.740000e+02,2.520000e+02,2.660000e+02
income_40000_44999,1.850000e+02,1.260000e+02,1.400000e+02,1.250000e+02,1.180000e+02
income_45000_49999,1.620000e+02,1.490000e+02,7.400000e+01,1.130000e+02,1.350000e+02
income_50000_59999,1.340000e+02,2.080000e+02,2.330000e+02,2.320000e+02,2.310000e+02
income_60000_74999,1.130000e+02,1.210000e+02,1.330000e+02,1.370000e+02,1.380000e+02
income_75000_99999,1.220000e+02,1.560000e+02,1.400000e+02,1.020000e+02,8.600000e+01
income_100000_124999,9.000000e+00,1.400000e+01,3.900000e+01,4.000000e+01,5.900000e+01
income_125000_149999,6.000000e+00,5.000000e+00,2.100000e+01,2.000000e+01,2.200000e+01
income_150000_199999,1.200000e+01,2.400000e+01,2.300000e+01,2.000000e+01,2.000000e+01
income_200000_or_more,1.700000e+01,1.400000e+01,2.300000e+01,2.300000e+01,2.800000e+01
renter_occupied_housing_units_paying_cash_median_gross_rent,3.930000e+02,3.700000e+02,3.810000e+02,3.670000e+02,3.590000e+02
owner_occupied_housing_units_lower_value_quartile,5.940000e+04,7.050000e+04,6.270000e+04,6.570000e+04,6.190000e+04
owner_occupied_housing_units_median_value,1.032000e+05,1.110000e+05,1.046000e+05,1.054000e+05,1.045000e+05
owner_occupied_housing_units_upper_value_quartile,1.732000e+05,1.703000e+05,1.654000e+05,1.682000e+05,1.640000e+05
married_households,2.746000e+03,2.723000e+03,2.833000e+03,2.692000e+03,2.621000e+03
occupied_housing_units,5.210000e+03,5.477000e+03,5.780000e+03,5.820000e+03,5.972000e+03
housing_units_renter_occupied,1.592000e+03,1.952000e+03,2.177000e+03,2.513000e+03,2.769000e+03
dwellings_1_units_detached,5.421000e+03,5.722000e+03,5.990000e+03,6.120000e+03,6.200000e+03
dwellings_1_units_attached,5.480000e+02,5.290000e+02,5.660000e+02,5.530000e+02,6.370000e+02
dwellings_2_units,1.490000e+02,1.210000e+02,1.200000e+02,1.210000e+02,4.900000e+01
dwellings_3_to_4_units,9.400000e+01,8.900000e+01,8.100000e+01,1.020000e+02,1.550000e+02
dwellings_5_to_9_units,1.750000e+02,1.630000e+02,1.530000e+02,1.620000e+02,1.690000e+02
dwellings_10_to_19_units,8.600000e+01,1.220000e+02,9.800000e+01,9.800000e+01,9.300000e+01
dwellings_20_to_49_units,9.000000e+00,7.000000e+00,8.000000e+00,0.000000e+00,0.000000e+00
dwellings_50_or_more_units,9.000000e+00,9.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
mobile_homes,1.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
housing_built_2005_or_later,1.070000e+02,2.000000e+01,2.300000e+01,2.500000e+01,5.800000e+01
housing_built_2000_to_2004,2.920000e+02,4.190000e+02,5.960000e+02,8.100000e+02,3.000000e+01
housing_built_1939_or_earlier,2.150000e+02,2.680000e+02,3.050000e+02,2.800000e+02,1.100000e+02
male_under_5,6.000000e+02,5.680000e+02,5.520000e+02,5.230000e+02,4.950000e+02
male_5_to_9,5.320000e+02,6.470000e+02,5.760000e+02,5.810000e+02,5.050000e+02
male_10_to_14,8.290000e+02,6.950000e+02,7.260000e+02,6.810000e+02,7.390000e+02
male_15_to_17,5.150000e+02,4.860000e+02,4.650000e+02,4.300000e+02,4.030000e+02
male_18_to_19,3.510000e+02,3.470000e+02,3.180000e+02,2.950000e+02,2.740000e+02
male_20,2.030000e+02,2.390000e+02,2.070000e+02,1.820000e+02,1.950000e+02
male_21,1.240000e+02,1.130000e+02,1.290000e+02,1.440000e+02,1.450000e+02
male_22_to_24,3.130000e+02,3.140000e+02,3.170000e+02,3.050000e+02,3.410000e+02
male_25_to_29,6.250000e+02,6.200000e+02,6.050000e+02,5.920000e+02,5.760000e+02
male_30_to_34,5.080000e+02,5.220000e+02,5.650000e+02,5.670000e+02,5.620000e+02
male_35_to_39,5.030000e+02,4.960000e+02,5.430000e+02,5.740000e+02,5.500000e+02
male_40_to_44,6.310000e+02,6.050000e+02,5.410000e+02,4.690000e+02,4.440000e+02
male_45_to_49,6.060000e+02,6.050000e+02,6.110000e+02,5.940000e+02,5.820000e+02
male_50_to_54,5.330000e+02,5.590000e+02,5.790000e+02,5.820000e+02,6.100000e+02
male_55_to_59,5.400000e+02,5.010000e+02,5.190000e+02,5.590000e+02,5.380000e+02
male_60_61,1.920000e+02,2.610000e+02,2.480000e+02,2.670000e+02,2.710000e+02
male_62_64,2.860000e+02,3.150000e+02,3.050000e+02,2.730000e+02,3.030000e+02
male_65_to_66,1.700000e+02,1.410000e+02,1.650000e+02,1.780000e+02,2.110000e+02
male_67_to_69,2.360000e+02,2.640000e+02,2.610000e+02,3.170000e+02,3.240000e+02
male_70_to_74,2.480000e+02,2.880000e+02,2.830000e+02,2.280000e+02,2.490000e+02
male_75_to_79,2.280000e+02,2.550000e+02,2.710000e+02,2.640000e+02,2.320000e+02
male_80_to_84,8.600000e+01,9.400000e+01,5.700000e+01,8.700000e+01,1.170000e+02
male_85_and_over,1.120000e+02,1.050000e+02,1.400000e+02,1.320000e+02,1.220000e+02
female_under_5,5.870000e+02,5.720000e+02,5.540000e+02,5.230000e+02,5.110000e+02
female_5_to_9,5.510000e+02,5.210000e+02,5.440000e+02,5.650000e+02,5.750000e+02
female_10_to_14,8.260000e+02,7.860000e+02,7.340000e+02,6.610000e+02,6.030000e+02
female_15_to_17,4.320000e+02,4.240000e+02,4.260000e+02,4.150000e+02,4.240000e+02
female_18_to_19,2.710000e+02,2.670000e+02,2.560000e+02,2.500000e+02,2.510000e+02
female_20,1.680000e+02,1.410000e+02,1.430000e+02,1.410000e+02,1.300000e+02
female_21,2.290000e+02,2.670000e+02,2.620000e+02,2.130000e+02,2.240000e+02
female_22_to_24,2.780000e+02,2.610000e+02,2.600000e+02,3.020000e+02,2.860000e+02
female_25_to_29,6.800000e+02,6.570000e+02,6.380000e+02,5.920000e+02,5.620000e+02
female_30_to_34,6.140000e+02,5.940000e+02,5.910000e+02,5.620000e+02,5.530000e+02
female_35_to_39,4.820000e+02,4.730000e+02,5.150000e+02,5.580000e+02,6.440000e+02
female_40_to_44,7.210000e+02,7.110000e+02,6.360000e+02,5.930000e+02,5.110000e+02
female_45_to_49,6.420000e+02,6.410000e+02,6.210000e+02,5.900000e+02,5.930000e+02
female_50_to_54,6.150000e+02,6.110000e+02,6.280000e+02,6.260000e+02,6.490000e+02
female_55_to_59,5.180000e+02,5.770000e+02,6.350000e+02,7.090000e+02,6.910000e+02
female_60_to_61,3.240000e+02,3.320000e+02,2.940000e+02,1.990000e+02,1.880000e+02
female_62_to_64,3.380000e+02,3.090000e+02,2.980000e+02,3.020000e+02,3.320000e+02
female_65_to_66,1.850000e+02,1.830000e+02,1.730000e+02,1.650000e+02,1.810000e+02
female_67_to_69,2.590000e+02,2.800000e+02,2.860000e+02,2.790000e+02,2.500000e+02
female_70_to_74,2.970000e+02,3.360000e+02,3.730000e+02,3.940000e+02,4.130000e+02
female_75_to_79,2.460000e+02,2.470000e+02,2.550000e+02,2.660000e+02,2.320000e+02
female_80_to_84,1.040000e+02,1.320000e+02,1.400000e+02,1.660000e+02,2.000000e+02
female_85_and_over,1.950000e+02,1.820000e+02,2.050000e+02,1.930000e+02,1.910000e+02
white_including_hispanic,1.712100e+04,1.725900e+04,1.745700e+04,1.740800e+04,1.695600e+04
black_including_hispanic,2.610000e+02,1.920000e+02,1.440000e+02,1.750000e+02,1.020000e+02
amerindian_including_hispanic,0.000000e+00,5.000000e+00,4.000000e+00,5.000000e+00,1.400000e+01
asian_including_hispanic,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
commute_5_9_mins,4.700000e+02,4.890000e+02,4.580000e+02,3.920000e+02,3.860000e+02
commute_35_39_mins,1.900000e+02,1.860000e+02,1.690000e+02,1.350000e+02,1.490000e+02
commute_40_44_mins,1.070000e+02,1.150000e+02,1.070000e+02,8.500000e+01,9.000000e+01
commute_60_89_mins,2.560000e+02,2.670000e+02,2.520000e+02,2.640000e+02,2.290000e+02
commute_90_more_mins,2.530000e+02,2.270000e+02,2.340000e+02,2.040000e+02,2.200000e+02
households_retirement_income,5.500000e+02,5.110000e+02,5.280000e+02,5.310000e+02,6.560000e+02
armed_forces,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
civilian_labor_force,5.827000e+03,5.710000e+03,5.698000e+03,6.037000e+03,6.162000e+03
employed_pop,4.400000e+03,4.445000e+03,4.234000e+03,4.045000e+03,3.949000e+03
unemployed_pop,1.427000e+03,1.265000e+03,1.464000e+03,1.992000e+03,2.213000e+03
not_in_labor_force,8.425000e+03,8.733000e+03,8.742000e+03,8.206000e+03,8.100000e+03
pop_16_over,1.425200e+04,1.444300e+04,1.444000e+04,1.424300e+04,1.426200e+04
pop_in_labor_force,5.827000e+03,5.710000e+03,5.698000e+03,6.037000e+03,6.162000e+03
asian_male_45_54,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
asian_male_55_64,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
black_male_45_54,2.300000e+01,3.000000e+01,2.800000e+01,2.700000e+01,2.400000e+01
black_male_55_64,3.600000e+01,2.600000e+01,2.300000e+01,2.300000e+01,8.000000e+00
hispanic_male_45_54,1.127000e+03,1.150000e+03,1.178000e+03,1.165000e+03,1.192000e+03
hispanic_male_55_64,9.830000e+02,1.047000e+03,1.060000e+03,1.087000e+03,1.099000e+03
white_male_45_54,1.200000e+01,1.400000e+01,1.200000e+01,1.100000e+01,0.000000e+00
white_male_55_64,1.200000e+01,1.200000e+01,1.200000e+01,1.200000e+01,1.300000e+01
bachelors_degree_2,NaN,NaN,NaN,NaN,NaN
bachelors_degree_or_higher_25_64,1.522000e+03,1.626000e+03,1.675000e+03,1.693000e+03,1.796000e+03
children,4.872000e+03,4.699000e+03,4.577000e+03,4.379000e+03,4.255000e+03
children_in_single_female_hh,1.639000e+03,1.805000e+03,1.827000e+03,1.810000e+03,1.907000e+03
commuters_by_bus,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
commuters_by_car_truck_van,3.915000e+03,3.996000e+03,3.828000e+03,3.695000e+03,3.682000e+03
commuters_by_carpool,4.420000e+02,4.140000e+02,3.860000e+02,3.290000e+02,2.170000e+02
commuters_by_subway_or_elevated,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
commuters_drove_alone,3.473000e+03,3.582000e+03,3.442000e+03,3.366000e+03,3.465000e+03
different_house_year_ago_different_city,NaN,NaN,NaN,NaN,NaN
different_house_year_ago_same_city,NaN,NaN,NaN,NaN,NaN
employed_agriculture_forestry_fishing_hunting_mining,3.890000e+02,4.110000e+02,4.030000e+02,2.970000e+02,2.630000e+02
employed_arts_entertainment_recreation_accommodation_food,2.390000e+02,2.660000e+02,2.800000e+02,2.980000e+02,3.380000e+02
employed_construction,3.800000e+02,4.380000e+02,4.320000e+02,4.490000e+02,3.870000e+02
employed_education_health_social,1.087000e+03,1.105000e+03,1.063000e+03,1.033000e+03,1.075000e+03
employed_finance_insurance_real_estate,1.770000e+02,1.690000e+02,1.260000e+02,1.290000e+02,1.090000e+02
employed_information,1.600000e+01,1.600000e+01,1.600000e+01,0.000000e+00,1.800000e+01
employed_manufacturing,5.660000e+02,5.290000e+02,4.940000e+02,4.790000e+02,4.450000e+02
employed_other_services_not_public_admin,1.530000e+02,1.420000e+02,1.510000e+02,1.400000e+02,1.270000e+02
employed_public_administration,5.970000e+02,5.370000e+02,4.780000e+02,4.090000e+02,3.990000e+02
employed_retail_trade,2.980000e+02,3.240000e+02,3.170000e+02,3.500000e+02,3.800000e+02
employed_science_management_admin_waste,2.400000e+02,2.340000e+02,2.000000e+02,1.930000e+02,1.440000e+02
employed_transportation_warehousing_utilities,2.050000e+02,2.250000e+02,2.220000e+02,2.410000e+02,2.370000e+02
employed_wholesale_trade,5.300000e+01,4.900000e+01,5.200000e+01,2.700000e+01,2.700000e+01
female_female_households,1.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
four_more_cars,1.930000e+02,2.020000e+02,1.590000e+02,1.450000e+02,1.430000e+02
gini_index,5.508000e-01,5.573000e-01,5.878000e-01,6.001000e-01,6.062000e-01
graduate_professional_degree,NaN,NaN,NaN,NaN,NaN
group_quarters,8.200000e+01,7.200000e+01,6.500000e+01,7.200000e+01,7.000000e+01
high_school_including_ged,NaN,NaN,NaN,NaN,NaN
households_public_asst_or_food_stamps,2.439000e+03,2.731000e+03,2.969000e+03,3.090000e+03,3.185000e+03
in_grades_1_to_4,9.400000e+02,9.510000e+02,8.660000e+02,8.410000e+02,8.050000e+02
in_grades_5_to_8,1.336000e+03,1.214000e+03,1.210000e+03,1.154000e+03,1.166000e+03
in_grades_9_to_12,1.340000e+03,1.255000e+03,1.201000e+03,1.072000e+03,1.030000e+03
in_school,5.120000e+03,5.102000e+03,4.847000e+03,4.596000e+03,4.519000e+03
in_undergrad_college,1.064000e+03,1.217000e+03,1.108000e+03,1.015000e+03,1.033000e+03
less_than_high_school_graduate,NaN,NaN,NaN,NaN,NaN
male_45_64_associates_degree,1.450000e+02,1.210000e+02,1.720000e+02,1.240000e+02,1.220000e+02
male_45_64_bachelors_degree,1.860000e+02,1.920000e+02,1.850000e+02,1.520000e+02,1.810000e+02
male_45_64_graduate_degree,8.500000e+01,8.300000e+01,7.700000e+01,8.100000e+01,7.200000e+01
male_45_64_less_than_9_grade,6.460000e+02,6.500000e+02,6.500000e+02,7.190000e+02,6.930000e+02
male_45_64_grade_9_12,3.330000e+02,3.830000e+02,3.840000e+02,3.200000e+02,3.230000e+02
male_45_64_high_school,6.190000e+02,6.560000e+02,6.640000e+02,7.230000e+02,7.380000e+02
male_45_64_some_college,1.430000e+02,1.560000e+02,1.300000e+02,1.560000e+02,1.750000e+02
male_45_to_64,2.157000e+03,2.241000e+03,2.262000e+03,2.275000e+03,2.304000e+03
male_male_households,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,0.000000e+00
management_business_sci_arts_employed,1.330000e+03,1.381000e+03,1.322000e+03,1.318000e+03,1.350000e+03
no_car,5.240000e+02,5.060000e+02,3.980000e+02,3.590000e+02,3.150000e+02
no_cars,1.282000e+03,1.284000e+03,1.294000e+03,1.228000e+03,1.159000e+03
not_us_citizen_pop,NaN,NaN,NaN,NaN,NaN
occupation_management_arts,1.330000e+03,1.381000e+03,1.322000e+03,1.318000e+03,1.350000e+03
occupation_natural_resources_construction_maintenance,6.470000e+02,6.950000e+02,6.370000e+02,5.950000e+02,5.190000e+02
occupation_production_transportation_material,6.750000e+02,5.990000e+02,5.990000e+02,5.750000e+02,5.280000e+02
occupation_sales_office,8.460000e+02,8.940000e+02,8.780000e+02,8.060000e+02,8.630000e+02
occupation_services,9.020000e+02,8.760000e+02,7.980000e+02,7.510000e+02,6.890000e+02
one_car,2.174000e+03,2.432000e+03,2.821000e+03,3.089000e+03,3.386000e+03
two_cars,1.291000e+03,1.262000e+03,1.201000e+03,1.100000e+03,1.062000e+03
three_cars,2.700000e+02,2.970000e+02,3.050000e+02,2.580000e+02,2.220000e+02
pop_25_64,9.358000e+03,9.389000e+03,9.372000e+03,9.208000e+03,9.159000e+03
pop_determined_poverty_status,1.830800e+04,1.837500e+04,1.829500e+04,1.791400e+04,1.789300e+04
population_1_year_and_over,NaN,NaN,NaN,NaN,NaN
population_3_years_over,1.791800e+04,1.790600e+04,1.785400e+04,1.754300e+04,1.746900e+04
poverty,1.010200e+04,1.020000e+04,1.081600e+04,1.091100e+04,1.086100e+04
sales_office_employed,8.460000e+02,8.940000e+02,8.780000e+02,8.060000e+02,8.630000e+02
some_college_and_associates_degree,NaN,NaN,NaN,NaN,NaN
walked_to_work,3.500000e+02,3.100000e+02,3.290000e+02,2.790000e+02,2.060000e+02
worked_at_home,9.400000e+01,9.500000e+01,4.900000e+01,5.200000e+01,4.100000e+01
workers_16_and_over,4.366000e+03,4.408000e+03,4.213000e+03,4.026000e+03,3.929000e+03
associates_degree,NaN,1.037000e+03,1.027000e+03,6.720000e+02,6.150000e+02
bachelors_degree,NaN,1.595000e+03,1.630000e+03,1.617000e+03,1.720000e+03
high_school_diploma,NaN,2.917000e+03,2.831000e+03,2.913000e+03,3.017000e+03
less_one_year_college,NaN,1.510000e+02,1.000000e+02,8.400000e+01,8.800000e+01

In [28]:
df.shape

(264960, 252)

In [27]:
df.isna().sum()

geo_id                                                                 0
do_date                                                                0
nonfamily_households                                                   0
family_households                                                      0
median_year_structure_built                                         6969
rent_burden_not_computed                                              35
rent_over_50_percent                                                  35
rent_40_to_50_percent                                                 35
rent_35_to_40_percent                                                 35
rent_30_to_35_percent                                                 35
rent_25_to_30_percent                                                 35
rent_20_to_25_percent                                                 35
rent_15_to_20_percent                                                 35
rent_10_to_15_percent                                                 35
rent_under_10_percent                                                 35
total_pop                                                              0
male_pop                                                               0
female_pop                                                             0
median_age                                                          4051
white_pop                                                              0
black_pop                                                              0
asian_pop                                                              0
hispanic_pop                                                           0
amerindian_pop                                                         0
other_race_pop                                                         0
two_or_more_races_pop                                                  0
not_hispanic_pop                                                       0
commuters_by_public_transportation                                    35
households                                                             0
median_income                                                      12493
income_per_capita                                                   4823
housing_units                                                          0
vacant_housing_units                                                   0
vacant_housing_units_for_rent                                          0
vacant_housing_units_for_sale                                          0
median_rent                                                        44265
percent_income_spent_on_rent                                       41047
owner_occupied_housing_units                                           0
million_dollar_housing_units                                           0
mortgaged_housing_units                                                0
families_with_young_children                                          35
two_parent_families_with_young_children                               35
two_parents_in_labor_force_families_with_young_children               35
two_parents_father_in_labor_force_families_with_young_children        35
two_parents_mother_in_labor_force_families_with_young_children        35
two_parents_not_in_labor_force_families_with_young_children           35
one_parent_families_with_young_children                               35
father_one_parent_families_with_young_children                        35
father_in_labor_force_one_parent_families_with_young_children         35
commute_10_14_mins                                                    35
commute_15_19_mins                                                    35
commute_20_24_mins                                                    35
commute_25_29_mins                                                    35
commute_30_34_mins                                                    35
commute_45_59_mins                                                    35
aggregate_travel_time_to_work                                     105248
income_less_10000                                                     35
income_10000_14999                                                    35
income_15000_19999                                                    35
income_20000_24999                                                    35
income_25000_29999                                                    35
income_30000_34999                                                    35
income_35000_39999                                                    35
income_40000_44999                                                    35
income_45000_49999                                                    35
income_50000_59999                                                    35
income_60000_74999                                                    35
income_75000_99999                                                    35
income_100000_124999                                                  35
income_125000_149999                                                  35
income_150000_199999                                                  35
income_200000_or_more                                                 35
renter_occupied_housing_units_paying_cash_median_gross_rent        43495
owner_occupied_housing_units_lower_value_quartile                  17310
owner_occupied_housing_units_median_value                          15206
owner_occupied_housing_units_upper_value_quartile                  15235
married_households                                                     0
occupied_housing_units                                                 0
housing_units_renter_occupied                                          0
dwellings_1_units_detached                                             0
dwellings_1_units_attached                                             0
dwellings_2_units                                                      0
dwellings_3_to_4_units                                                 0
dwellings_5_to_9_units                                                 0
dwellings_10_to_19_units                                               0
dwellings_20_to_49_units                                               0
dwellings_50_or_more_units                                             0
mobile_homes                                                           0
housing_built_2005_or_later                                            0
housing_built_2000_to_2004                                             0
housing_built_1939_or_earlier                                          0
male_under_5                                                           0
male_5_to_9                                                            0
male_10_to_14                                                          0
male_15_to_17                                                          0
male_18_to_19                                                          0
male_20                                                                0
male_21                                                                0
male_22_to_24                                                          0
male_25_to_29                                                          0
male_30_to_34                                                          0
male_35_to_39                                                          0
male_40_to_44                                                          0
male_45_to_49                                                          0
male_50_to_54                                                          0
male_55_to_59                                                          0
male_60_61                                                         33120
male_62_64                                                         33120
male_65_to_66                                                          0
male_67_to_69                                                          0
male_70_to_74                                                          0
male_75_to_79                                                          0
male_80_to_84                                                          0
male_85_and_over                                                       0
female_under_5                                                         0
female_5_to_9                                                          0
female_10_to_14                                                        0
female_15_to_17                                                        0
female_18_to_19                                                        0
female_20                                                              0
female_21                                                              0
female_22_to_24                                                        0
female_25_to_29                                                        0
female_30_to_34                                                        0
female_35_to_39                                                        0
female_40_to_44                                                        0
female_45_to_49                                                        0
female_50_to_54                                                        0
female_55_to_59                                                        0
female_60_to_61                                                        0
female_62_to_64                                                        0
female_65_to_66                                                        0
female_67_to_69                                                        0
female_70_to_74                                                        0
female_75_to_79                                                        0
female_80_to_84                                                        0
female_85_and_over                                                     0
white_including_hispanic                                           33120
black_including_hispanic                                           33120
amerindian_including_hispanic                                      33120
asian_including_hispanic                                           33120
commute_5_9_mins                                                   33120
commute_35_39_mins                                                 33120
commute_40_44_mins                                                 33120
commute_60_89_mins                                                 33120
commute_90_more_mins                                               33120
households_retirement_income                                       33120
armed_forces                                                          35
civilian_labor_force                                                  35
employed_pop                                                          35
unemployed_pop                                                        35
not_in_labor_force                                                    35
pop_16_over                                                           35
pop_in_labor_force                                                    35
asian_male_45_54                                                       0
asian_male_55_64                                                       0
black_male_45_54                                                       0
black_male_55_64                                                       0
hispanic_male_45_54                                                    0
hispanic_male_55_64                                                    0
white_male_45_54                                                       0
white_male_55_64                                                       0
bachelors_degree_2                                                  1083
bachelors_degree_or_higher_25_64                                      35
children                                                               0
children_in_single_female_hh                                           0
commuters_by_bus                                                      35
commuters_by_car_truck_van                                            35
commuters_by_carpool                                                  35
commuters_by_subway_or_elevated                                       35
commuters_drove_alone                                                 35
different_house_year_ago_different_city                             1083
different_house_year_ago_same_city                                  1083
employed_agriculture_forestry_fishing_hunting_mining                  35
employed_arts_entertainment_recreation_accommodation_food             35
employed_construction                                                 35
employed_education_health_social                                      35
employed_finance_insurance_real_estate                                35
employed_information                                                  35
employed_manufacturing                                                35
employed_other_services_not_public_admin                              35
employed_public_administration                                        35
employed_retail_trade                                                 35
employed_science_management_admin_waste                               35
employed_transportation_warehousing_utilities                         35
employed_wholesale_trade                                              35
female_female_households                                               0
four_more_cars                                                        35
gini_index                                                          7118
graduate_professional_degree                                        1083
group_quarters                                                         0
high_school_including_ged                                           1083
households_public_asst_or_food_stamps                                 35
in_grades_1_to_4                                                       0
in_grades_5_to_8                                                       0
in_grades_9_to_12                                                      0
in_school                                                              0
in_undergrad_college                                                   0
less_than_high_school_graduate                                      1083
male_45_64_associates_degree                                           0
male_45_64_bachelors_degree                                            0
male_45_64_graduate_degree                                             0
male_45_64_less_than_9_grade                                           0
male_45_64_grade_9_12                                                  0
male_45_64_high_school                                                 0
male_45_64_some_college                                                0
male_45_to_64                                                          0
male_male_households                                                   0
management_business_sci_arts_employed                                 35
no_car                                                                35
no_cars                                                               35
not_us_citizen_pop                                                  1048
occupation_management_arts                                            35
occupation_natural_resources_construction_maintenance                 35
occupation_production_transportation_material                         35
occupation_sales_office                                               35
occupation_services                                                   35
one_car                                                               35
two_cars                                                              35
three_cars                                                            35
pop_25_64                                                             35
pop_determined_poverty_status                                         35
population_1_year_and_over                                          1083
population_3_years_over                                                0
poverty                                                               35
sales_office_employed                                                 35
some_college_and_associates_degree                                  1083
walked_to_work                                                        35
worked_at_home                                                        35
workers_16_and_over                                                   35
associates_degree                                                  33120
bachelors_degree                                                   33120
high_school_diploma                                                33120
less_one_year_college                                              33120
masters_degree                                                     33120
one_year_more_college                                              33120
pop_25_years_over                                                  33120
commute_35_44_mins                                                    35
commute_60_more_mins                                                  35
commute_less_10_mins                                                  35
commuters_16_over                                                     35
hispanic_any_race                                                      0
pop_5_years_over                                                   99360
speak_only_english_at_home                                         99360
speak_spanish_at_home                                              99360
speak_spanish_at_home_low_english                                  99360
pop_15_and_over                                                   132480
pop_never_married                                                 132480
pop_now_married                                                   132480
pop_separated                                                     132480
pop_widowed                                                       132480
pop_divorced                                                      132480
dtype: int64