In [29]:
from datetime import datetime, timedelta
import pandas as pd
from pytrends.request import TrendReq
pytrend = TrendReq()

# update kw_list and the filename where you are saving the results at the end, the rest should run as is

kw_list = ['Whole Foods', "Trader Joe's", 'Starbucks', 'Lululemon', 'Thrift'] 

# can increase/decrease the list size, up to 5 search terms are allowed in one request
# search terms must be strings
# search terms can have spaces in them, they don't have to be single words

year = 2014
month = 1
date = 1
new_date = datetime(year, month, date).date()
end_date = datetime(2020, 1, 1)

data_list = []

# infinite loop until you reach end_date or google kicks you for making too many requests
while(1):
    old_date = new_date
    if(int(month/12) > 0):
        year = year+1
        month = (month+1)%13
    if(int(month/12)==0):
        month += 1
    new_date = datetime(year,month,date).date()

    if(year >= end_date.year and month > end_date.month):
        break

    timeframe = old_date.strftime('%Y-%m-%d')+' '+ new_date.strftime('%Y-%m-%d')

    pytrend.build_payload(kw_list, cat=0, timeframe = timeframe, geo='US', gprop='')

    data = pytrend.interest_by_region(resolution='DMA')
    
    kw_list_w_date = list(map((lambda x: x + '_' + old_date.strftime('%Y-%m-%d')), kw_list))
    
    data.columns = kw_list_w_date
    data_list.append(data)

ResponseError: The request failed: Google returned a response with code 429.

In [ ]:
metro_dict = {
    'Albany-Schenectady-Troy':'Albany-Schenectady-Troy NY',
    'Albuquerque':'Albuquerque-Santa Fe NM',
    'Allentown-Bethlehem-Easton': 'Wilkes Barre-Scranton PA',
    'Anchorage':'Anchorage AK',
    'Athens-Clarke County': 'Macon GA',
    'Atlanta-Sandy Springs-Roswell':'Atlanta GA',
    'Augusta-Waterville':'Augusta GA',
    'Austin-Round Rock':'Austin TX',
    'Bakersfield':'Bakersfield CA',
    'Baltimore-Columbia-Towson':'Baltimore MD',
    'Bangor':'Bangor ME',
    'Batavia':'Rochester NY',
    'Binghamton':'Binghamton NY',
    'Bloomington':  'Indianapolis IN',
    'Boston-Cambridge-Newton' : 'Boston MA-Manchester NH',
    'Boulder':'Denver CO',
    'Bozeman': 'Butte-Bozeman MT',
    'Bridgeport-Stamford-Norwalk' : 'Hartford & New Haven CT',
    'Brownsville-Harlingen': 'Corpus Christi TX',
    'Buffalo-Cheektowaga-Niagara Falls' : 'Buffalo NY',
    'Canton-Massillon':'Cleveland-Akron (Canton) OH',
    'Cape Coral-Fort Myers': 'Ft. Myers-Naples FL',
    'Charleston-North Charleston':'Charleston SC',
    'Charlotte-Concord-Gastonia':'Charlotte NC',
    'Charlottesville':'Charlottesville VA',
    'Chicago-Naperville-Elgin' : 'Chicago IL',
    'Chico' : 'Chico-Redding CA',
    'Cincinnati' : 'Cincinnati OH',
    'Clarksville' : 'Nashville TN',
    'Cleveland-Elyria' : 'Cleveland-Akron (Canton) OH',
    'College Station-Bryan' : 'Waco-Temple-Bryan TX',
    'Colorado Springs' : 'Colorado Springs-Pueblo CO',
    'ColumbiaSC' : 'Columbia SC',
    'ColumbiaMO' : 'Columbia-Jefferson City MO',
    'Columbus' : 'Columbus OH',
    'Concord' :  'Boston MA-Manchester NH',
    'Dallas-Fort Worth-Arlington' : 'Dallas-Ft. Worth TX',
    'Dayton' : 'Dayton OH',
    'Denver-Aurora-Lakewood' : 'Denver CO',
    'Detroit-Warren-Dearborn' : 'Detroit MI',
    'Dubuque' : 'Cedar Rapids-Waterloo-Iowa City & Dubuque IA',
    'Durham-Chapel Hill' : 'Raleigh-Durham (Fayetteville) NC',
    'El Paso' : 'El Paso TX',
    'Erie' : 'Erie PA',
    'Eugene' : 'Eugene OR',
    'Fargo' : 'Fargo-Valley City ND',
    'Fayetteville-Springdale-Rogers' : 'Ft. Smith-Fayetteville-Springdale-Rogers AR',
    'Findlay' : 'Lima OH',
    'Greenville-Anderson-Mauldin' : 'Greenville-Spartanburg SC-Asheville NC-Anderson SC',
    'Harrisburg-Carlisle' : 'Harrisburg-Lancaster-Lebanon-York PA',
    'Hartford-West Hartford-East Hartford' : 'Hartford & New Haven CT',
    'Helena' : 'Helena MT',
    'Houston-The Woodlands-Sugar Land' : 'Houston TX',
    'Indianapolis-Carmel-Anderson' : 'Indianapolis IN',
    'Ithaca' : 'Elmira NY',
    'Jacksonville' : 'Jacksonville FL',
    'Jamestown-Dunkirk-Fredonia' : 'Erie PA',
    'Joplin' : 'Joplin MO-Pittsburg KS',
    'Kalispell' : 'Missoula MT',
    'Kansas City' : 'Kansas City MO',
    'Killeen-Temple' : 'Waco-Temple-Bryan TX',
    'Kingston' : 'Albany-Schenectady-Troy NY',
    'La Crosse-Onalaska' : 'La Crosse-Eau Claire WI',
    'Lancaster' : 'Harrisburg-Lancaster-Lebanon-York PA',
    'Las Vegas-Henderson-Paradise' : 'Las Vegas NV',
    'Lewiston-Auburn' : 'Portland-Auburn ME',
    'Lexington-Fayette' : 'Lexington KY',
    'Little Rock-North Little Rock-Conway' : 'Little Rock-Pine Bluff AR',
    'Los Angeles-Long Beach-Anaheim' : 'Los Angeles CA',
    'Madison' : 'Madison WI',
    'Manchester-Nashua' : 'Boston MA-Manchester NH',
    'Manhattan' : 'Topeka KS', # Manhattan, Kansas
    'Manitowoc' : 'Green Bay-Appleton WI',
    'Medford' : 'Medford-Klamath Falls OR',
    'Memphis' : 'Memphis TN',
    'Miami-Fort Lauderdale-West Palm Beach' : 'Miami-Ft. Lauderdale FL',
    'Milwaukee-Waukesha-West Allis' : 'Milwaukee WI',
    'Minneapolis-St. Paul-Bloomington' : 'Minneapolis-St. Paul MN',
    'Missoula' : 'Missoula MT',
    'Morgantown' :  'Clarksburg-Weston WV', #morgantown, WV
    'Nashville-Davidson--Murfreesboro--Franklin' : 'Nashville TN',
    'New Haven-Milford' : 'Hartford & New Haven CT',
    'New York-Newark-Jersey City' : 'New York NY',
    'North Port-Sarasota-Bradenton' : 'Tampa-St. Petersburg (Sarasota) FL',
    'Norwich-New London' : 'Hartford & New Haven CT', # norwich, CT
    'Ogden-Clearfield' : 'Salt Lake City UT', #utah
    'Oklahoma City' : 'Oklahoma City OK',
    'Orlando-Kissimmee-Sanford' : 'Orlando-Daytona Beach-Melbourne FL',
    'Oshkosh-Neenah' : 'Green Bay-Appleton WI', # oshkosh wi
    'Oxnard-Thousand Oaks-Ventura' : 'Los Angeles CA', #ca
    'Palm Bay-Melbourne-Titusville' : 'Orlando-Daytona Beach-Melbourne FL',
    'Philadelphia-Camden-Wilmington' : 'Philadelphia PA',
    'Phoenix-Mesa-Scottsdale' : 'Phoenix AZ',
    'Pittsburgh' : 'Pittsburgh PA',
    'Portland-South Portland' : 'Portland-Auburn ME',
    'Portland-Vancouver-Hillsboro' : 'Portland OR',
    'Prescott' : 'Phoenix AZ', #presscot AZ
    'Providence-Warwick' : 'Providence RI-New Bedford MA',
    'Racine' : 'Milwaukee WI', # racine wi
    'Raleigh' : 'Raleigh-Durham (Fayetteville) NC',
    'Reno' : 'Reno NV',
    'Richmond' : 'Richmond-Petersburg VA',
    'Riverside-San Bernardino-Ontario' : 'Los Angeles CA', # ca
    'Rochester' : 'Rochester NY',
    'Rockford' : 'Rockford IL',
    'Sacramento--Roseville--Arden-Arcade' : 'Sacramento-Stockton-Modesto CA',
    'Salinas' : 'Monterey-Salinas CA', # salinas CA
    'Salt Lake City' : 'Salt Lake City UT',
    'San Antonio-New Braunfels' : 'San Antonio TX',
    'San Diego-Carlsbad' : 'San Diego CA',
    'San Francisco-Oakland-Hayward' : 'San Francisco-Oakland-San Jose CA',
    'San Jose-Sunnyvale-Santa Clara' : 'San Francisco-Oakland-San Jose CA',
    'Savannah' : 'Savannah GA',
    'Seattle-Tacoma-Bellevue' : 'Seattle-Tacoma WA',
    'Spokane-Spokane Valley' : 'Spokane WA',
    'Springfield' : 'Springfield-Holyoke MA',
    'St. Louis' : 'St. Louis MO',
    'Stockton-Lodi' : 'Sacramento-Stockton-Modesto CA',
    'Syracuse' : 'Syracuse NY',
    'Tampa-St. Petersburg-Clearwater' : 'Tampa-St. Petersburg (Sarasota) FL',
    'Topeka' : 'Topeka KS',
    'Torrington' : 'Hartford & New Haven CT', # torrington ct
    'Tucson' : 'Tucson (Sierra Vista) AZ',
    'Tyler' : 'Tyler-Longview(Lufkin & Nacogdoches) TX',
    'Urban Honolulu' : 'Honolulu HI',
    'Utica-Rome' : 'Utica NY',
    'Virginia Beach-Norfolk-Newport News' : 'Norfolk-Portsmouth-Newport News VA',
    'Warren' : 'Erie PA', # warren pa
    'Washington-Arlington-Alexandria' : 'Washington DC (Hagerstown MD)',
    'Watertown-Fort Drum' : 'Watertown NY',
    'Wheeling' : 'Wheeling WV-Steubenville OH',
    'Wichita' : 'Wichita-Hutchinson KS',
    'Williamsport' : 'Wilkes Barre-Scranton PA', # williamsport pa
    'Worcester' : 'Boston MA-Manchester NH',
    'York-Hanover' : 'Harrisburg-Lancaster-Lebanon-York PA'
}

In [30]:
google = pd.concat(data_list, axis = 1).reset_index(drop=False).rename(columns = {'geoName': 'Metro'})
google = google.loc[:, ['Metro'] + sorted(list(google.columns)[1:])]

ValueError: No objects to concatenate

In [31]:
df = pd.read_csv('./../data/zri_acs_bikeshare_merged.csv')

In [32]:
zillow = pd.DataFrame(df['Metro']).drop_duplicates().reset_index(drop=True).rename(columns = {'Metro':'Metro_zillow'})

In [33]:
zillow['Metro'] = zillow['Metro_zillow'].map(lambda x: metro_dict[x])

In [34]:
merged = pd.merge(zillow, google, on = 'Metro', how = 'left')

In [35]:
merged = merged.drop(columns = 'Metro').rename(columns = {'Metro_zillow': 'Metro'})

In [36]:
melts = []
for i in range(len(kw_list)):
    melts.append(i)

In [37]:
for i in range(len(kw_list)):
    temp = merged.iloc[:,72*i+1:72*(i+1)+1]
    temp['Metro'] = merged['Metro']
    temp = pd.melt(temp, id_vars = 'Metro', var_name = 'datetime', value_name = f'term_{kw_list[i]}')
    temp['datetime'] = temp['datetime'].map(lambda x: x[-10:])
    melts[i] = temp

In [38]:
full = pd.concat(melts, axis = 1)

In [39]:
full = full.loc[:,~full.columns.duplicated()]

In [40]:
full

,Metro,datetime,term_Whole Foods,term_Trader Joe's,term_Starbucks,term_Lululemon,term_Thrift
0,Springfield,2014-01-01,50,50,NaN,NaN,NaN
1,Worcester,2014-01-01,50,50,NaN,NaN,NaN
2,Boston-Cambridge-Newton,2014-01-01,50,50,NaN,NaN,NaN
3,Providence-Warwick,2014-01-01,50,50,NaN,NaN,NaN
4,Manchester-Nashua,2014-01-01,50,50,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9715,Eugene,2019-12-01,50,50,NaN,NaN,NaN
9716,Medford,2019-12-01,50,50,NaN,NaN,NaN
9717,Seattle-Tacoma-Bellevue,2019-12-01,50,50,NaN,NaN,NaN
9718,Spokane-Spokane Valley,2019-12-01,50,50,NaN,NaN,NaN
9719,Anchorage,2019-12-01,0,0,NaN,NaN,NaN

In [41]:
full.to_csv('search_brooklynindex_terms.csv', index = 0)